<template>
	<div class="form-block group-block">
		<div class="group-block__header group-block-header">
			<div class="group-block-header__cell-title">
				<h3 class="group-block-header__title">{{getLabel('form_title')}}</h3>
			</div>
		</div>
		<form v-if="form" :class="'form'+(sent?' form-sent':'')" @submit="onSubmit" @reset="onReset">
			<div class="form-group js-accordion">
				<div class="form-group__body js-accordion__body">
					<div class="form-grid grid">
						<div v-if="fields&&fields.length" v-for="f in fields"
						     :key="f.id"
						     :class="rowClassList(f)">
							<div v-if="baseType(f.type)==='text'" :class="{'form-row': true, 'form-error': errors[f.code]}">
								<label class="form-row__label">
									{{f.label}}
									<span v-if="f.hint" class="inline-tooltip dropdown-owner js-dropdown">
										<span class="inline-tooltip__btn js-dropdown__btn"></span>
										<span class="inline-tooltip__dd dropdown dropdown--md js-dropdown__body js-tooltip-position"
										      v-html="f.hint">
										</span>
									</span>
								</label>

								<template v-if="isMultiselect(f)">
									<div v-for="v in f.values" class="form-row__input">
										<label :class="'checkbox-row'+(f.visual==='radio'?' checkbox-row--radio':'')">
											<input :type="f.visual==='radio'?'radio':'checkbox'" class="checkbox-row__input"
											       :name="f.code" :value="v.value"
											       :checked="multiselectModel('get', f, v)" @change="multiselectModel('set', f, v, $event.target.checked)"
											>
											<span class="checkbox-row__visual"></span>
											<span class="checkbox-row__text">{{v.text}}</span>
										</label>
									</div>
								</template>

								<template v-else-if="f.type==='select_ext'">
									<v-dynamic-select
										:external="f.valueexternal"
										:name="f.code"
										v-model="values[f.code]"
									></v-dynamic-select>
								</template>

								<div v-else class="form-row__input">
									<input v-if="f.type==='text'" v-model="values[f.code]"
									       :name="f.code"
									       :placeholder="f.placeholder||false"
									       type="text" class="text-input">

									<textarea
										v-if="f.type==='textarea'" v-model="values[f.code]"
										:name="f.code"
										:placeholder="f.placeholder||false"
										type="text" class="text-input"></textarea>

									<input v-if="f.type==='phone'" v-model="values[f.code]"
									       :name="f.code"
									       autocomplete="tel tel-national"
									       :placeholder="f.placeholder||false"
									       type="tel" class="text-input"
									       v-mask="'phone'">

									<input v-if="f.type==='email'" v-model="values[f.code]"
									       :name="f.code"
									       autocomplete="email"
									       :placeholder="f.placeholder||false"
									       type="email" class="text-input">

									<v-switch-select
										v-if="f.type==='select'"
										:values="f.values"
										:name="f.code"
										v-model="values[f.code]"
									></v-switch-select>
								</div>

								<div v-if="errors[f.code] && f.match_label" class="form-row__message form-row__message--error">{{f.match_label}}</div>
							</div>

							<div v-if="baseType(f.type)==='check'" :class="'form-row form-row--check'+(errors[f.code]?' form-error':'')">
								<label :class="'checkbox-row'+(f.type==='radio'?' checkbox-row--radio':'')">
									<input :type="f.type==='radio'?'radio':'checkbox'" class="checkbox-row__input"
									       :name="f.code" :value="f.value" v-model="values[f.code]">
									<span class="checkbox-row__visual"></span>
									<span class="checkbox-row__text">{{f.label}}</span>
									<span v-if="f.hint" class="checkbox-row__icon">
										<span class="inline-tooltip dropdown-owner js-dropdown js-stop-prevent">
											<span class="inline-tooltip__btn js-dropdown__btn"></span>
											<span class="inline-tooltip__dd dropdown dropdown--md js-dropdown__body js-tooltip-position"
											      v-html="f.hint">
											</span>
										</span>
									</span>
								</label>
							</div>

							<div v-if="baseType(f.type)==='custom_html'" class="text-guide">
								<div class="table-scroller" v-html="f.html"></div>
							</div>

							<div v-if="baseType(f.type)==='system'&&f.code==='captcha'"
							     :class="'form-row '+(errors[f.code]?' form-error':'')">
								<div class="g-recaptcha" :data-sitekey="captchaCode"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group js-accordion">
				<div class="form-group__body js-accordion__body">
					<div class="form-grid grid">
						<div class="form-grid__item col col-lg-12">
							<div class="form-row form-row--submit">
								<div v-if="!sent" class="btn-grid btn-grid--lg">
									<button type="submit" class="btn btn--primary-alt">
										<span class="btn__text">{{getLabel('button_send')}}</span>
									</button>
									<button type="reset" class="btn">
										<span class="btn__text">{{getLabel('button_clear')}}</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div v-if="sent" class="form-sent__overlay">
			<div class="message"><h3 v-html="getLabel('form_success')"></h3></div>
		</div>
	</div>
</template>
<script>
  Vue.component('kraft-form-embed', {
    template: template,

    data: function(){
      var fields = [];
      var values = {};
      var errors = {};

      for (var x in this.form.fields){
        var f = this.form.fields[x];
        if (f.code){
          f.value = f.value || '';
          values[f.code] = null;
          errors[f.code] = false;
        }
        fields.push(f);
      }

      return {
        fields: fields,
        values: values,
        errors: errors
      }
    },

    watch: {
      values: {
        handler: function(){
          this.$root.rebound();
        },
        deep: true
      }
    },

    methods: {
      baseType: function(type){
        return this.$root.baseType(type);
      },

      rowClassList: function(field){
        var list = 'form-grid__item col';
        if (field.type === 'custom_html')
          list += ' col-lg-12';
        else
          list += ' col-lg-6 col-xs-12';
        if (field.css_class)
          list += ' ' + field.css_class;
        if (!this.isVisible(field))
          list += ' hidden';
        if (field.code === 'captcha')
          list += ' form-captcha';
        return list;
      },

      isVisible: function(field){
        if (field.display_cond){
          try {
            var f = new Function('return ' + field.display_cond).bind(this);
            return f();
          } catch (e) {
            console.log('EmbedForm: malformed display condition for field', f.code);
            return false;
          }
        }
        if (field.type === 'system' && field.code !== 'captcha')
          return false;
        return true;
      },

      isMultiselect: function(field){
        return field.type === 'select' &&
          (field.visual === 'radio' || field.visual === 'check');
      },

      multiselectModel: function(action, field, value, value_set){
        if (action === 'get'){
          if (field.visual === 'check'){
            var items = (this.values[field.code] || '').split(';');
            for (var x in items){
              if (items[x] === value.value)
                return true;
            }
            return false;
          } else {
            return this.values[field.code] === value.value;
          }
        } else {
          if (field.visual === 'check'){
            var items = (this.values[field.code] || '').split(';');
            var contains = false;
            for (var x in items){
              if (items[x] === value.value){
                contains = true;
                delete items[x];
                break;
              }
            }
            if (!contains && value_set)
              items.push(value.value);

            var itemsPresent = [];
            for (var x in items){
              if (items[x])
                itemsPresent.push(items[x]);
            }
            this.values[field.code] = itemsPresent.join(';');
          } else {
            this.values[field.code] = value.value;
          }
        }
      },

      getLabel: function(code){
        for (var x in this.fields){
          if (this.fields[x].code === code)
            if (this.fields[x].label.length)
              return this.fields[x].label;
        }

        switch (code){
          case 'form_title':
            return 'Форма';
          case 'form_success':
            return 'Форма отправлена';
          case 'button_send':
            return 'Отправить';
          case 'button_clear':
            return 'Очистить';
          default:
            return code;
        }
      },

      onSubmit: function(e){
        e.preventDefault();
        e.stopPropagation();
        if (this.validate()){
          this.$root.send(this.values);
        }
        this.$root.rebound();
        return true;
      },

      validate: function(){
        var valid = true;
        var self = this;
        this.fields.forEach(function(e){
          if (!e.code || e.type === 'system')
            return;
          self.errors[e.code] = false;
          if (!self.isVisible(e))
            return;

          if (e.match){
            var rule = e.match;
            if (e.match === 'custom' && e.match_rule)
              rule = e.match_rule;
            if (!self.$root.passRule(rule, self.values[e.code]))
              self.errors[e.code] = true;
          }
          valid &= !self.errors[e.code];
        });

        if (this.captchaCode && typeof window.grecaptcha !== 'undefined'){
          var captcha_code = window.grecaptcha.getResponse();
          if (captcha_code){
            self.values['captcha'] = captcha_code;
            self.errors['captcha'] = false;
          } else {
            self.errors['captcha'] = true;
            valid = false;
          }
        }

        return valid;
      },

      onReset: function(){
        var self = this;
        this.fields.forEach(function(e){
          self.values[e.code] = null;
          self.errors[e.code] = false;
        });
        if (this.captchaCode && typeof window.grecaptcha !== 'undefined'){
          window.grecaptcha.reset();
        }
      }
    },

    props: {
      form: {
        type: Object,
        required: true
      },
      sent: {
        type: Boolean,
        default: false
      },
      captchaCode: {
        type: String,
        default: false
      }
    }
  });

  Vue.component('v-select', {
    template:
    '<div class="select select--block" @click="open = !open" @keyup.enter="open = !open" :class="{open: open}" tabindex="0">' +
    '<select @click.stop="open = false" class="select" v-model="value" @input="$emit(\'input\', $event.target.value)" :autocomplete="autocomplete">' +
    '<option v-for="option in values" :value="option.value">{{option.text || option.value}}</option>' +
    '</select>' +
    '<span class="select-value">{{selectedOption ? selectedOption.text || selectedOption.value : placeholder}}</span>' +
    '<span class="select-chevron"></span>' +
    '<ul class="select-list">' +
    '<li tabindex="0" v-for="option in values" @keyup.enter="$emit(\'input\', option.value)" @click="$emit(\'input\', option.value)" :class="{active: value == option.value}">{{option.text || option.value}}</li>' +
    '</ul>' +
    '</div>',

    data: function(){
      return {
        open: false
      }
    },

    props: {
      values: {required: true},
      value: {default: null},
      placeholder: {default: 'Выберите'},
      autocomplete: {default: 'off'}
    },

    computed: {
      selectedOption: function(){
        for (var x in this.values){
          if (this.values[x].value === this.value)
            return this.values[x];
        }
        return null;
      }
    }
  });

  Vue.component('v-switch-select', {
    template:
    '<div class="switch-select">' +
    '<div class="switch-select__switch switch" :class="{\'select-mode\': selectMode}">' +
    '<label class="switch__item" v-for="v in values">' +
    '<input type="radio" class="switch__input" :name="name" :value="v.value" :v-model="value" @click="$emit(\'input\', v.value)">' +
    '<span class="btn btn--light switch__btn">' +
    '<span class="btn__text">{{v.text || v.value}}</span>' +
    '</span>' +
    '</label>' +
    '</div>' +
    '<v-select class="switch-select__select" :values="values" v-model="value" @input="$emit(\'input\', value)"></v-select>' +
    '</div>',

    data: function(){
      return {
        selectMode: false,
        instanceID: Math.ceil(Math.random() * 10000)
      }
    },

    props: {
      values: {required: true},
      value: {default: null},
      name: {default: null}
    },

    methods: {
      updateMode: function(){
        var vm = this;
        var t = $(vm.$el);
        var theSwitch = t.find('.switch-select__switch');
        var farthestHiddenParent = t.parents(':hidden').last();

        farthestHiddenParent.show();
        t.removeClass('select-mode')
          .toggleClass('select-mode', Math.ceil(theSwitch[0].scrollWidth) > Math.ceil(t.width()));
        farthestHiddenParent.css('display', '');
      }
    },

    mounted: function(){
      var vm = this;
      var timeout = null;

      jQuery(window)
        .off('resize.recalcSwitchSelect' + vm.instanceID)
        .on('resize.recalcSwitchSelect' + vm.instanceID, function(){
          if (!timeout)
            timeout = setTimeout(function(){
              vm.updateMode();
              timeout = null;
            }, 200);
        });

      vm.updateMode();

      jQuery(vm.$el).addClass('initialized');
    },

    updated: function(){
      var vm = this;
      vm.updateMode();
    },

    destroyed: function(){
      jQuery(window).off('resize.recalcSwitchSelect' + this.instanceID);
    }
  });

  Vue.component('v-dynamic-select', {
    template:
    '<div class="dynamic-select">' +
    '<div v-for="(level, i) in collectLevels" class="dynamic-select__row">' +
    '<v-select :values="level.values" :value="level.value" @input="onInput($event, i)" :placeholder="level.placeholder" :autocomplete="name"></v-select>' +
    '</div>' +
    '</div>',

    data: function(){
      return {
        data: [],
        scheme: [],
        levelValues: []
      }
    },

    props: ['external', 'value', 'name'],

    watch: {
      value: function(v){
        this.levelValues.splice(0);
        var values = (v || '').split(';');
        for (var x in values)
          this.levelValues.push(values[x].trim());

        this.$forceUpdate();
      }
    },

    computed: {
      collectLevels: function(){
        var levelCount = this.levelCount();
        var data = [];

        for (var i = 0; i < levelCount; i++){
          var levelData = [];
          var levelKey = i + 1;

          for (var dataIndex in this.data){
            var label = this.data[dataIndex][levelKey] || null;
            if (!label)
              continue;

            var isChild = true;
            for (var levelIndex in this.levelValues){
              var levelIndexKey = parseInt(levelIndex) + 1;
              if (levelIndexKey >= levelKey)
                break;
              if (this.data[dataIndex][levelIndexKey] !== this.levelValues[levelIndex]){
                isChild = false;
                break;
              }
            }
            if (!isChild)
              continue;

            var exists = levelData.find(function(e){
              return e.text === label;
            });
            if (!exists)
              levelData.push({
                value: label,
                text: label
              });
          }

          if (levelData.length)
            data.push({
              value: this.levelValues[i],
              values: levelData,
              placeholder: this.scheme[levelKey]
            });
        }

        return data;
      }
    },

    mounted: function(){
      var self = this;
      this.$root.fetchExternal(this.external, function(data){
        self.$set(self, 'data', data.data.items);
        self.$set(self, 'scheme', data.data.scheme);
      });
    },

    methods: {
      levelCount: function(){
        var self = this;
        var levels = 1;

        for (var x in this.levelValues){
          var levelKey = parseInt(x) + 1;
          var exists = this.data.find(function(e){
            return e[levelKey] === self.levelValues[x];
          });
          if (!exists)
            break;
          levels++;
        }

        return levels;
      },


      collectValue: function(){
        var v = [];
        for (var i in this.levelValues){
          if (this.levelValues[i])
            v.push(this.levelValues[i]);
        }
        return v.join(';');
      },

      onInput: function(value, levelId){
        var self = this;
        this.levelValues[levelId] = value;
        for (var i = 0; i < this.levelValues.length; i++){
          if (i > levelId)
            this.levelValues[i] = '';
        }
        this.$emit('input', this.collectValue());
        this.$nextTick(function(){
          self.$forceUpdate();
        });
      }
    }
  });

  Vue.directive('mask', {
    bind: function(element, binding, vnode){
      if (typeof window.Inputmask === 'undefined')
        return;

      var presets = {
        phone: {
          mask: "+375 (99) 999-99-99",
          cleanup: function(v){
            return v.replace(/[^\d\+]/g, '');
          },
          clearMaskOnLostFocus: true,
          showMaskOnHover: false
        }
      };
      var el = jQuery(element);

      try {
        if (presets[binding.value])
          el.inputmask(presets[binding.value]);
        else if (typeof binding.value === 'object')
          el.inputmask(binding.value);
        else if (binding.value)
          el.inputmask({mask: binding.value, clearMaskOnLostFocus: true, showMaskOnHover: false});
        else
          return;
      } catch (e){
        console.log('It fails on IE: ', e);
      }

      el.off('change.vMaskUpdate keyup.vMaskUpdate paste.vMaskUpdate').on('change.vMaskUpdate keyup.vMaskUpdate paste.vMaskUpdate', function(e){
        var value = e.target.value;
        if (this.inputmask.userOptions.cleanup){
          value = this.inputmask.userOptions.cleanup(value);
        }
        vnode.context.$set(vnode.context.values, e.target.name, value);
      })
    }
  });
</script>