
/* ------ basic ------ */
*, *::before, *::after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0);}
body.ios, body.ios *{cursor: pointer;}
button::-moz-focus-inner{border: none;}
input[type=text],
input[type=number],
input[type=search],
textarea{ -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input::-ms-clear{display: none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none;appearance: none; margin: 0;}
img{border: none;}
.touch *{outline: none;}



html, body{margin: 0; padding: 0;}
body{color: #252525; background-color: #fff; font: 300 15px/23px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; position: relative; min-height: 100vh; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; overflow-x: hidden;}
::-moz-selection{background: #01734a; color: #fff;}
::selection{background: #01734a; color: #fff;}



/* --- text --- */
h1, .h1{font-size: 44px; font-weight: 400; line-height: 54px; margin: 0px 0;}
h2, .h2{font-size: 32px; font-weight: 400; line-height: 40px; margin: 0px 0;}
h3, .h3{font-size: 22px; font-weight: 400; line-height: 30px; margin: 0px 0;}
h4, .h4{font-size: 18px; font-weight: 500; line-height: 28px; margin: 0px 0;}
h5, .h5{font-size: 15px; font-weight: 500; line-height: 23px; margin: 0px 0;}
h6, .h6{font-size: 15px; font-weight: 500; line-height: 23px; margin: 0px 0;}


strong,
.strong{font-size: 20px; line-height: 32px; font-weight: 300;}

small,
.small{font-size: 12px; line-height: 16px;}

p{margin: 20px 0;}

b{font-weight: 500;}

q{font-size: inherit; font-weight: inherit; font-style: italic;}
q::before{content: open-quote;}
q::after{content: close-quote;}

ul, ol, li{list-style: none; padding: 0; margin: 0;}
figure, figcaption{padding: 0; margin: 0;}

a, .link{color: #01734a; cursor: pointer; border-bottom: 1px solid rgba(69,167,62,.6); text-decoration: none; -webkit-transition: .2s; transition: .2s; outline: none;}
.no-touch a:hover,
.no-touch .link:hover{color: #45a73e;}

.link--w-arrow{padding-right: 15px; border-width: 0;}
.link--w-arrow .svg-icon{margin-right: -15px; margin-left: 8px;}
.no-touch .link--w-arrow:hover .svg-icon{-webkit-animation: btn-arrow-hover .4s ease-in-out .1s;animation: btn-arrow-hover .4s ease-in-out .1s;}

.link--w-icon{padding-right: 25px; border: none;}
.link--w-icon .svg-icon{margin-right: -25px; margin-left: 8px;}

.link--gray{color: #777;}

.link--undecorated{text-decoration: none; border-width: 0;}
.link--undecorated .link__text{border-bottom: 1px solid; border-color: inherit;}
.link__badge{vertical-align: middle;}

.link--back{position: relative; padding-left: 33px; display: inline-block; vertical-align: top;}
.link--back::before,
.link--back::after{content: ''; position: absolute; left: 0;}
.link--back::before{top: 12px; border-top: 1px solid; width: 22px;}
.link--back::after{top: 10px; width: 5px; height: 5px; border-left: 1px solid; border-bottom: 1px solid; -webkit-transform: rotate(45deg); transform: rotate(45deg);}

.blackout{color: #fff;}
.blackout a,
.blackout .link{color: #fff; border-color: rgba(255,255,255,.4);}
.blackout a:hover,
.blackout .link:hover{color: #fff; opacity: .7;}

hr{border: none; border-top: 1px solid #d4d4d4; margin: 0;}
.hr--null{margin: 0;}
.hr--lg{margin: 50px 0;}

.text-guide--lg{font-size: 20px; line-height: 32px;}

.text-guide h1{margin: 30px 0;}
.text-guide h2{margin: 60px 0 30px;}
.text-guide h3{margin: 30px 0 20px;}
.text-guide h4{margin: 30px 0 20px;}
.text-guide h5{margin: 20px 0 10px;}
.text-guide h5 + p,
.text-guide h5 + ul,
.text-guide h5 + ol{margin-top: 10px;}
.text-guide small{ display: inline-block; vertical-align: middle; line-height: 20px;}
.text-guide strong{display: block; margin: 10px 0;}
.text-guide img{display: block; margin: 24px 0; max-width: 100%;}
.text-guide img:first-child{margin-top: 0;}
.text-guide img:last-child{margin-bottom: 0;}

.text-guide ul,
.text-guide ol{margin: 20px 0 20px 20px; counter-reset: list;}
.text-guide ul ul,
.text-guide ul ol,
.text-guide ol ul,
.text-guide ol ol{margin-top: 12px; margin-left: 0;}

.text-guide li{padding-left: 25px; position: relative; margin-bottom: 12px;}
.text-guide li:last-child{margin-bottom: 0;}

.text-guide ul > li::before{content: ''; position: absolute; top: 11px; left: 0; width: 12px; border-top: 1px solid;}
.text-guide ol > li{counter-increment: list;}
.text-guide ol ol > li{padding-left: 40px;}
.text-guide ol ol ol > li{padding-left: 55px;}
.text-guide ol > li::before{content: counters(list, '.'); position: absolute; top: 0; left: 0; font-weight: 700; color: #01734a;}

.text-guide--lg{font-size: 20px; line-height: 32px;}

.text-guide figure, .figure{margin: 1.33em 0;}
.text-guide figure .slider, .figure .slider{margin: 0;}
.text-guide figure{display: table; width: 100%; table-layout: fixed;}
.text-guide figure img, .figure img{float: none; margin: 0;}
.text-guide figcaption, .figcaption{display: table-caption; caption-side: bottom; font-size: 15px; line-height: 23px; color: #777; font-weight: 300; padding: 10px 0; clear: both;}
.text-guide figcaption:first-child, .figcaption:first-child{padding-top: 0;}
.text-guide figcaption:last-child, .figcaption:last-child{padding-bottom: 0;}

.text-guide img[align="left"],
.text-guide figure[align="left"]{width: auto; max-width: 100%; float: left; margin-right: 50px; margin-top: 0;}
.text-guide img[align="right"],
.text-guide figure[align="right"]{width: auto; max-width: 100%; float: right; margin-left: 50px; margin-top: 0;}

.text-guide .slider img{float: left; width: 100%;}
.text-guide .slider img,
.text-guide .slider figure{margin: 0;}

.text-guide .table-scroller{overflow: auto; max-width: 100%; max-height: -webkit-calc(100vh - 80px); max-height: calc(100vh - 80px); margin: 0 0 20px;}
.text-guide table{width: 100%; border-collapse: collapse; margin: 20px 0;}
.text-guide th,
.text-guide td{vertical-align: top; padding: 10px 15px; border: 1px solid #ccead9; text-align: left;}
.text-guide td{font-weight: 300;}
.text-guide th{font-weight: 500;}
.text-guide thead{color: #fff; background-color: #01734a;}
.text-guide tbody th{background-color: #ccead9; padding: 5px 15px;}
.text-guide tr{-webkit-transition: .2s;transition: .2s;}
.text-guide tbody tr:hover{background-color: #f7f7f7;}

.th-sort{position: relative; cursor: pointer; padding-right: 25px;}
.text-guide .th-sort{padding-right: 25px;}
.th-sort::before,
.th-sort::after{content: ''; position: absolute; top: 20px; right: 10px; border: 4px solid transparent; opacity: .5; -webkit-transition: .15s; transition: .15s;}
.th-sort::before{border-top: none; border-bottom-color: currentColor; margin-top: -4px;}
.th-sort::after{border-bottom: none; border-top-color: currentColor; margin-top: 4px;}
.no-touch .th-sort:hover::before,
.no-touch .th-sort:hover::after{opacity: 1;}
.th-sort--up::after{visibility: hidden;}
.th-sort--up::before{margin-top: 0;}
.th-sort--down::before{visibility: hidden;}
.th-sort--down::after{margin-top: 0;}

.text-guide dt { font-size: 22px; font-weight: 400; line-height: 30px; }

.text-guide blockquote, .blockquote{margin: 45px 0 15px; padding: 15px 25px 17px; border-left: 4px solid; font-style: italic; background: #f7f7f7; border-color: #d4d4d4;}
.text-guide .blockquote--primary, .blockquote--primary{background: #ccead9; color: #252525; border-color: #01734a;}
.text-guide blockquote + blockquote,
.text-guide h1 + blockquote,
.blockquote + .blockquote,
.text-guide h1 + blockquote, h1 + .blockquote,
.text-guide h2 + blockquote, h2 + .blockquote,
.text-guide h3 + blockquote, h3 + .blockquote{margin-top: 20px;}

.text-guide .select-list{margin: 4px 0 0;}

h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child,
h5:first-child, .h5:first-child,
p:first-child,
ul:first-child,
ol:first-child,
table:first-child,
blockquote:first-child{margin-top: 0;}

h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
h5:last-child, .h5:last-child,
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child{margin-bottom: 0;}



/* --- grid --- */
.grid, .col{display: inline-block; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;}
.grid{font-size: 0; width: 100%;}
.grid--free{display: inline-block;}
.col{-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column; font-size: 15px;}
.col--free{display: inline-block;}
.col--center{-webkit-align-self: center;-ms-flex-item-align: center;align-self: center;}
.col--bottom{-webkit-align-self: flex-end;-ms-flex-item-align: end;align-self: flex-end;}

.grid--default{margin: 0 -15px -30px; width: -webkit-calc(100% + 30px); width: calc(100% + 30px);}
.grid--default .col{padding: 0 15px 30px;}

.col-lg-1{width: 8.333%;}
.col-lg-2{width: 16.666%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.33%;}
.col-lg-5{width: 41.666%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.333%;}
.col-lg-8{width: 66.666%;}
.col-lg-9{width: 75%;}
.col-lg-10{width: 83.333%;}
.col-lg-11{width: 91.666%;}
.col-lg-12{width: 100%;}


.order-lg-1{-webkit-box-ordinal-group: 2;-webkit-order: 1;-ms-flex-order: 1;order: 1;}
.order-lg-2{-webkit-box-ordinal-group: 3;-webkit-order: 2;-ms-flex-order: 2;order: 2;}
.order-lg-3{-webkit-box-ordinal-group: 4;-webkit-order: 3;-ms-flex-order: 3;order: 3;}
.order-lg-4{-webkit-box-ordinal-group: 5;-webkit-order: 4;-ms-flex-order: 4;order: 4;}
.order-lg-5{-webkit-box-ordinal-group: 6;-webkit-order: 5;-ms-flex-order: 5;order: 5;}
.order-lg-6{-webkit-box-ordinal-group: 7;-webkit-order: 6;-ms-flex-order: 6;order: 6;}
.order-lg-7{-webkit-box-ordinal-group: 8;-webkit-order: 7;-ms-flex-order: 7;order: 7;}
.order-lg-8{-webkit-box-ordinal-group: 9;-webkit-order: 8;-ms-flex-order: 8;order: 8;}
.order-lg-9{-webkit-box-ordinal-group: 10;-webkit-order: 9;-ms-flex-order: 9;order: 9;}
.order-lg-10{-webkit-box-ordinal-group: 11;-webkit-order: 10;-ms-flex-order: 10;order: 10;}
.order-lg-11{-webkit-box-ordinal-group: 12;-webkit-order: 11;-ms-flex-order: 11;order: 11;}
.order-lg-12{-webkit-box-ordinal-group: 13;-webkit-order: 12;-ms-flex-order: 12;order: 12;}



/* --- buttons --- */
button{border: none; background: transparent; outline: none; font-family: 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif;}

.btn{display: inline-block; vertical-align: middle; border: none; -webkit-border-radius: 5px; border-radius: 5px; height: 40px; padding: 8px 15px 8px 20px; outline: none; position: relative;
	background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,148,63,.5) inset, 0px -2px 0px #45a73e inset, 0px 2px 5px rgba(69,167,62,.2); box-shadow: 0 0 0 1px rgba(0,148,63,.5) inset, 0px -2px 0px #45a73e inset, 0px 2px 5px rgba(69,167,62,.2);
	color: #01734a; font-size: 15px; font-weight: 500; line-height: 24px;
	text-overflow: ellipsis; text-align: center; text-decoration: none;
	overflow: hidden; white-space: nowrap; -webkit-transition: .2s; transition: .2s; cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;}
.btn__arrow,
.btn__text,
.btn__icon{position: relative; z-index: 2; margin-right: 5px;}
.btn__icon{margin-top: -2px;}
.btn__arrow,
.btn__arrow.svg-icon{margin-left: 5px; vertical-align: baseline; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); -webkit-transition: inherit; transition: inherit;}
.btn::before{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 2px; background: rgba(69,167,62,.2); -webkit-transition: .3s; transition: .3s; -webkit-border-radius: inherit; border-radius: inherit;
	-webkit-transform: translate3d(0,0,0) scaleX(0);
	        transform: translate3d(0,0,0) scaleX(0); -webkit-transform-origin: top left; transform-origin: top left; opacity: 0;}
.btn::after,
.select::after,
.select-list li::after{content: ''; position: absolute; top: 3px; left: 3px; right: 3px; bottom: 4px; border: 1px dashed rgba(0,0,0,.6); -webkit-border-radius: 4px; border-radius: 4px; opacity: 0;
	pointer-events: none; -webkit-transition: .2s; transition: .2s;}
.no-touch .btn:hover{color: #01734a;}
.no-touch .btn:hover .btn__arrow{-webkit-animation: btn-arrow-hover .4s ease-in-out .15s;animation: btn-arrow-hover .4s ease-in-out .15s;}
.no-touch .btn:hover::before{-webkit-transform: translate3d(0,0,0) scaleX(1);transform: translate3d(0,0,0) scaleX(1); opacity: 1;}
.no-touch .btn:focus::after{opacity: 1;}
.no-touch .btn:active,
		  .btn:active{color: #01734a; -webkit-box-shadow: 0 0 0 1px rgba(0,148,63,.5) inset; box-shadow: 0 0 0 1px rgba(0,148,63,.5) inset;}
		  .btn:active::before{bottom: 0;}

.btn.btn:disabled,
.btn.btn.disabled,
.no-touch .btn.btn:disabled,
.no-touch .btn.btn.disabled{color: #d4d4d4; -webkit-box-shadow: 0 0 0 1px rgba(212,212,212,.5) inset, 0px -2px 0px #d4d4d4 inset; box-shadow: 0 0 0 1px rgba(212,212,212,.5) inset, 0px -2px 0px #d4d4d4 inset; cursor: default; background: #fff;}
.btn.btn:disabled::before,
.btn.btn.disabled::before{display: none;}

.btn--primary{color: #fff; background-color: #00943f; -webkit-box-shadow: 0px -2px 0px #01734a inset, 0px 2px 5px rgba(69,167,62,.3); box-shadow: 0px -2px 0px #01734a inset, 0px 2px 5px rgba(69,167,62,.3);}
.btn--primary::before{background: #45a73e;}
.btn--primary::after{border-color: rgba(255,255,255,.7);}
.no-touch .btn--primary:hover{color: #fff;}
.no-touch .btn--primary:active,
		  .btn--primary:active{color: #fff; -webkit-box-shadow: none; box-shadow: none;}

.btn--primary-alt{color: #fff; background-color: #196eb7; -webkit-box-shadow: 0px -2px 0px #1c507d inset, 0px 2px 5px rgba(0,76,141,.3); box-shadow: 0px -2px 0px #1c507d inset, 0px 2px 5px rgba(0,76,141,.3);}
.btn--primary-alt::before{background: rgba(255,255,255,.2);}
.btn--primary-alt::after{border-color: rgba(255,255,255,.7);}
.no-touch .btn--primary-alt:hover{color: #fff;}
.no-touch .btn--primary-alt:active,
		  .btn--primary-alt:active{color: #fff; -webkit-box-shadow: none; box-shadow: none;}

.btn--sec-alt{color: #fff; background-color: #576374; -webkit-box-shadow: 0px -2px 0px #252525 inset, 0px 2px 5px rgba(0,76,141,.3); box-shadow: 0px -2px 0px #252525 inset, 0px 2px 5px rgba(0,76,141,.3);}
.btn--sec-alt::before{background: rgba(255,255,255,.2);}
.btn--sec-alt::after{border-color: rgba(255,255,255,.7);}
.no-touch .btn--sec-alt:hover{color: #fff;}
.no-touch .btn--sec-alt:active,
		  .btn--sec-alt:active{color: #fff; -webkit-box-shadow: none; box-shadow: none;}

.btn--green-alt{color: #fff; background-color: #00943f; -webkit-box-shadow: 0px -2px 0px #007d0d inset, 0px 2px 5px rgba(0,76,141,.3); box-shadow: 0px -2px 0px #007d0d inset, 0px 2px 5px rgba(0,76,141,.3);}

.btn--light{color: #252525; font-weight: 300; -webkit-box-shadow: 0px 0px 0px 1px #d4d4d4 inset; box-shadow: 0px 0px 0px 1px #d4d4d4 inset; background: transparent;}
.btn--light::after{bottom: 3px;}
.btn--light::before{display: none;}
.no-touch .btn--light:hover{-webkit-box-shadow: 0 0 0 1px #00943f inset;box-shadow: 0 0 0 1px #00943f inset; color: #00943f;}
.no-touch .btn--light:hover .svg-icon{color: #00943f;}
.no-touch .btn--light:active,
		  .btn--light:active{-webkit-box-shadow: 0 0 0 1px #00943f inset;box-shadow: 0 0 0 1px #00943f inset; background: #00943f; color: #fff;}
.no-touch .btn--light:active .svg-icon,
		  .btn--light:active .svg-icon{color: #fff;}
.btn--light.btn--light:disabled{cursor: default; color: #777; background: transparent;}
.btn--light.btn--light:disabled .svg-icon{color: #777;}

.btn--light-active,
.no-touch .btn--light-active:hover,
.no-touch .btn--light-active:active,
		  .btn--light-active:active{color: #fff; background: #01734a; -webkit-box-shadow: none; box-shadow: none; cursor: default;}
.btn--light .svg-icon{color: #ababab; -webkit-transition: .2s; transition: .2s;}

.btn--fav{color: #d4d4d4; -webkit-box-shadow: 0 0 0 1px rgba(212,212,212,.5) inset, 0px -2px 0px #d4d4d4 inset; box-shadow: 0 0 0 1px rgba(212,212,212,.5) inset, 0px -2px 0px #d4d4d4 inset;}
.btn--fav::before{background: rgba(244,156,28,.2);}
.no-touch .btn--fav:hover{color: #777;}
.no-touch .btn--fav:active,
.btn--fav:active{color: #777; -webkit-box-shadow: 0 0 0 1px rgba(212,212,212,.5) inset; box-shadow: 0 0 0 1px rgba(212,212,212,.5) inset;}
.btn--fav.active,
.no-touch .btn--fav.active{color: #f49c1c;}


.btn--lg{height: 50px; padding: 13px 25px 13px 30px;}
.btn--lg .btn__arrow{margin-left: 5px;}
.btn--sm{height: 30px; padding: 3px 8px 3px 13px; font-weight: 400;}
.btn--sm .btn__arrow{margin-left: 0px;}
.btn--sm.btn--light{font-weight: 300;}
.btn--sq{padding-left: 5px; padding-right: 0; width: 40px;}
.btn--sq.btn--lg{width: 50px;}
.btn--sq.btn--sm{width: 30px;}
.btn--sq.btn--i10s{width: 80px;}
.btn--sq.btn--i10s .btn__icon{margin-right: 0;}
.btn--round{-webkit-border-radius: 50%;border-radius: 50%;}
.btn--round::after{-webkit-border-radius: 50%;border-radius: 50%;}
.btn--block{display: block; width: 100%;}
.btn--full{height: auto; line-height: 1.25;}

.btn--i10s{display: -webkit-inline-flex;display: -ms-inline-flexbox;display: inline-flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: auto; min-height: 80px; padding: 18px 20px; text-align: left; white-space: normal; color: #252525; font-weight: 300; font-size: 20px; line-height: 32px;}
.btn--i10s .btn__icon{max-width: 40px; max-height: 40px; vertical-align: middle; margin: -4px 15px -4px 0;}
.btn--i10s .btn__text{display: inline-block; max-width: -webkit-calc(100% - 67px); max-width: calc(100% - 67px); vertical-align: top;}
.btn--i10s .btn__icon.svg-icon{width: 40px; height: 40px;}
.btn--soc{color: #ababab;}

@-webkit-keyframes btn-arrow-hover {
	0%{-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
	50%{-webkit-transform: translate3d(5px,0,0);transform: translate3d(5px,0,0);}
	100%{-webkit-transform: translate3d(0px,0,0);transform: translate3d(0px,0,0);}
}

@keyframes btn-arrow-hover {
	0%{-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
	50%{-webkit-transform: translate3d(5px,0,0);transform: translate3d(5px,0,0);}
	100%{-webkit-transform: translate3d(0px,0,0);transform: translate3d(0px,0,0);}
}



/* --- btn grid --- */
.btn-grid{font-size: 0; margin: 0 -10px -10px 0; display: inline-block; vertical-align: top; width: -webkit-calc(100% + 10px); width: calc(100% + 10px);}
.btn-grid .btn--block{width: -webkit-calc(100% - 10px);width: calc(100% - 10px);}
.btn-grid--lg{margin: 0 -20px -20px 0; width: -webkit-calc(100% + 20px); width: calc(100% + 20px);}
.btn-grid--lg .btn--block{width: -webkit-calc(100% - 20px);width: calc(100% - 20px);}
.btn-grid .btn,
.btn-grid__item{display: inline-block; vertical-align: middle; margin: 0 10px 10px 0;}
.btn-grid__item{font-size: 15px;}
.btn-grid--lg .btn,
.btn-grid--lg .btn-grid__item{margin: 0 20px 20px 0;}



/* --- input --- */
::-webkit-input-placeholder{color: #777; font: 300 15px/24px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; text-overflow: ellipsis; opacity: 1; -webkit-transition: color .2s, -webkit-transform .2s; transition: color .2s, -webkit-transform .2s; transition: color .2s, transform .2s; transition: color .2s, transform .2s, -webkit-transform .2s;}
::-moz-placeholder{color: #777; font: 300 15px/24px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; text-overflow: ellipsis; opacity: 1; -webkit-transition: color .2s, -webkit-transform .2s; transition: color .2s, -webkit-transform .2s; transition: color .2s, transform .2s; transition: color .2s, transform .2s, -webkit-transform .2s;}
:-ms-input-placeholder{color: #777; font: 300 15px/24px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; text-overflow: ellipsis; opacity: 1; -webkit-transition: color .2s, -webkit-transform .2s; transition: color .2s, -webkit-transform .2s; transition: color .2s, transform .2s; transition: color .2s, transform .2s, -webkit-transform .2s;}
::placeholder{color: #777; font: 300 15px/24px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; text-overflow: ellipsis; opacity: 1; -webkit-transition: color .2s, -webkit-transform .2s; transition: color .2s, -webkit-transform .2s; transition: color .2s, transform .2s; transition: color .2s, transform .2s, -webkit-transform .2s;}

input, textarea, select{font: 300 15px/24px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; color: #252525;}

.text-input, .select{display: block; width: 100%; max-width: 100%; background: #fff; border: none; -webkit-border-radius: 5px; border-radius: 5px; padding: 8px 15px;
	font-size: 15px; line-height: 24px; height: 40px; color: #252525; -webkit-box-shadow: 0 0 0 1px #d4d4d4 inset; box-shadow: 0 0 0 1px #d4d4d4 inset; outline: none; -webkit-transition: .2s; transition: .2s; -webkit-appearance: none; -moz-appearance: none; appearance: none;}

.text-input--sm,
.select--sm,
.switch-select--sm .select,
.text-span--sm{height: 30px; padding: 3px 15px;}
.switch-select--sm .btn{height: 30px; padding: 3px 10px 3px 15px;}
.select--sm .select-chevron.select-chevron,
.switch-select--sm .select-chevron.select-chevron{bottom: 13px;}

.text-input--light,
.select--light{background: transparent;}

textarea.text-input{height: 132px; resize: vertical; padding: 8px 15px;}

.no-touch .text-input:hover,
.no-touch .select:hover{-webkit-box-shadow: 0 0 0 1px #00943f inset;box-shadow: 0 0 0 1px #00943f inset;}
.no-touch .text-input:focus,
		  .text-input:focus,
.no-touch .select.open,
		  .select.open{-webkit-box-shadow: 0 0 0 1px #00943f inset, 0px 2px 5px rgba(0,148,63,.3);box-shadow: 0 0 0 1px #00943f inset, 0px 2px 5px rgba(0,148,63,.3);}

.form-error .text-input,
.form-error .select{-webkit-box-shadow: 0 0 0 1px #d96e6e inset;box-shadow: 0 0 0 1px #d96e6e inset;}
.form-error .text-input:hover,
.form-error .select:hover{-webkit-box-shadow: 0 0 0 1px #d96e6e inset;box-shadow: 0 0 0 1px #d96e6e inset;}
.form-error .text-input:focus,
.form-error .select.open{-webkit-box-shadow: 0 0 0 1px #d96e6e inset, 0px 2px 5px rgba(217,110,110,.4);box-shadow: 0 0 0 1px #d96e6e inset, 0px 2px 5px rgba(217,110,110,.4);}
.form-error .switch-select .switch{box-shadow: 0 0 0 1px #d96e6e inset, 0px 2px 5px 3px rgba(217,110,110,.4);}
.form-error .checkbox-row__visual{ background-color: #d96e6e;}
.form-error .g-recaptcha > div {outline: 2px solid #d96e6a;}

.form-captcha {min-height:80px;}


/* --- one line form --- */
.one-line-form { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; }
.one-line-form .one-line-form__input { position: relative; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; margin-bottom: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; z-index: 2; }
.one-line-form .one-line-form__btn { margin-left: -4px; z-index: 2; }





/* --- selects --- */
.select{display: inline-block; cursor: pointer; position: relative; text-align: left; vertical-align: top; padding-right: 20px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.select.disabled,
.select:disabled{cursor: default; background-color: #f7f7f7;}
.select select{display: none;}
.select::after,
.select li::after{bottom: 3px;}
.select:focus::after{opacity: 1;}
.touch .select select{display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; padding: 0; width: 100%; height: 100%; z-index: 10;}
.no-touch select.js-select{opacity: 0;}
.select-chevron.select-chevron{position: absolute; right: 12px; bottom: 18px; width: 8px; height: 8px; margin: -5px 0 0 -4px;
	border-left: 2px solid; border-bottom: 2px solid;
	-webkit-transform: rotate(-45deg) scale(.75);
	        transform: rotate(-45deg) scale(.75); -webkit-transition: .2s; transition: .2s;}

.no-touch .select:hover{border-color: #919191;}
.select.open.open{border-color: #919191; z-index: 20;}
.select.open .select-chevron.select-chevron{-webkit-transform: translateY(2px) rotate(135deg) scale(.75);transform: translateY(2px) rotate(135deg) scale(.75);}

.form-error .select{border-color: rgba(230,60,47,.3);}
.form-error .select:hover,
.form-error .select.open{border-color: rgba(230,60,47,.6);}

.select-value, .select-placeholder{display: inline-block; vertical-align: top; max-width: 100%; overflow: hidden; color: #252525; display: block;
	pointer-events: none; white-space: nowrap; text-overflow: ellipsis; -webkit-transition: .2s; transition: .2s;}
.select-placeholder{color: #777; margin-bottom: -24px; opacity: 0; -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); -webkit-transform-origin: center top; transform-origin: center top;}
.select-value{-webkit-transform-origin: center bottom;transform-origin: center bottom;}
.select.placeholder-state .select-value{opacity: 0; -webkit-transform: translate3d(0,6px,0); transform: translate3d(0,6px,0);}
.select.placeholder-state .select-placeholder{opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
.select.placeholder-state .select-list li.active{color: #252525; cursor: pointer; background: rgba(0,0,0,0); cursor: pointer;}

.select-list{position: absolute; top: 100%; left: 0; min-width: 100%; max-height: 50vh; width: inherit; margin-top: 4px; -webkit-border-radius: 5px; border-radius: 5px;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.2);
	        box-shadow: 0px 2px 5px rgba(0,0,0,.2); background-color: #fff; -webkit-transition: .2s; transition: .2s; opacity: 0; z-index: 3; visibility: hidden;
	overflow: auto; -webkit-transform-origin: center top; transform-origin: center top; cursor: default; -webkit-transform: scaleY(0); transform: scaleY(0);}
.select-list li{padding: 3px 15px; font-size: 15px; font-weight: 300; line-height: 24px; color: #252525; cursor: pointer; background: rgba(0,0,0,0);
	-webkit-transition: .1s;
	transition: .1s; outline: none; position: relative;}
.select-list li::after{-webkit-border-radius: 0;border-radius: 0;}
.no-touch .select-list li:hover,
.select.placeholder-state .select-list li.active:hover{color: #252525; outline: none; background: #ccead9;}
.no-touch .select-list li:focus::after{opacity: 1;}
.no-touch .select-list li.active::after{border-color: rgba(255,255,255,.7);}
.select-list li.active,
.select-list li.active:hover{color: #fff; background: #00943f; cursor: default;}
.select-list li.disabled,
.select-list li.disabled:hover{color: rgba(0,0,0,.5); cursor: default; pointer-events: none; text-decoration: line-through;}
.select.open .select-list{-webkit-transform: scaleY(1);transform: scaleY(1); opacity: 1; visibility: visible; max-height:115px; }

.text-guide .select-list li{padding-left: 15px; margin: 0;}
.text-guide .select-list li::before{display: none;}
.select--block{display: block; width: 100%;}

.select--multiple .select-list li{padding-left: 42px;}
.select--multiple .select-list li::after{display: none;}
.select--multiple .select-list .checkbox-row__visual{position: absolute; left: 14px; top: 5px;}
.select--multiple .select-list li.active{background: rgba(0,0,0,0); color: #252525; cursor: pointer;}
.select--multiple .select-list li.active:hover{background: #ccead9;}
.select--multiple .select-list li.active .checkbox-row__visual{background: #00943f; border-color: #00943f;}
.select--multiple .select-list li.active .checkbox-row__visual::before{-webkit-transform: rotate(-45deg) scale(1);transform: rotate(-45deg) scale(1); opacity: 1;}
.select--multiple .select-list li:focus .checkbox-row__visual::after{opacity: 1;}



/* --- rich text input --- */
.rich-text-input{display: block; position: relative;}
.rich-text-input__label{position: absolute; top: 13px; left: 15px; right: 0; font-size: 15px; line-height: 24px; font-weight: 300; color: #777; -webkit-transition: .2s; transition: .2s;
	white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis; pointer-events: none; cursor: text;}
.rich-text-input__line{position: absolute; bottom: 0; height: 2px; width: 100%; background-color: #30a62a; pointer-events: none; cursor: text; -webkit-transition: .2s; transition: .2s; -webkit-transform: translate3d(0,0,0) scaleX(0); transform: translate3d(0,0,0) scaleX(0); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
.rich-text-input__input{height: 50px; padding-top: 20px; padding-bottom: 4px;}
.rich-text-input__input:focus ~ .rich-text-input__label,
.rich-text-input.active .rich-text-input__label{top: 6px; font-size: 12px; line-height: 16px;}
.rich-text-input__input::-webkit-input-placeholder{color: rgba(0,0,0,0);}
.rich-text-input__input::-moz-placeholder{color: rgba(0,0,0,0);}
.rich-text-input__input:-ms-input-placeholder{color: rgba(0,0,0,0);}
.rich-text-input__input::placeholder{color: rgba(0,0,0,0);}
.rich-text-input__input:focus::-webkit-input-placeholder{color: rgba(0,0,0,.5); -webkit-transition-delay: .2s; transition-delay: .2s;}
.rich-text-input__input:focus::-moz-placeholder{color: rgba(0,0,0,.5); transition-delay: .2s;}
.rich-text-input__input:focus:-ms-input-placeholder{color: rgba(0,0,0,.5); transition-delay: .2s;}
.rich-text-input__input:focus::placeholder{color: rgba(0,0,0,.5); -webkit-transition-delay: .2s; transition-delay: .2s;}
.text-input--nobg {background: none;}
.form-bright .rich-text-input__label{color: #777777;}

.form-error .rich-text-input__label{color: #d96f6e;}



/* --- slidable input --- */
.slidable-input{position: relative;}
.slidable-input__handle{position: absolute; top: 100%; left: 0; margin-left: -8px; border: 8px solid transparent; border-top: none; border-bottom: 12px solid #01734C;
	cursor: pointer;}
.slidable-input__handle::after{content: ''; position: absolute; top: -4px; left: -12px; bottom: -12px; right: -16px;}
.slidable-input__input{background-image: -webkit-gradient(linear, left top, right top, from(#ccead9), to(#ccead9));background-image: -webkit-linear-gradient(left, #ccead9, #ccead9);background-image: linear-gradient(to right, #ccead9, #ccead9); background-repeat: no-repeat; background-position: left top; background-size: 0 100%; 
	-webkit-transition: .2s, background 0s; 
	transition: .2s, background 0s;}



/* --- form row --- */
.form-row{max-width: 380px;}
.form-row--lg,
.form-row--submit{max-width: 100%;}
.form-row__label{display: block; font-size: 15px; line-height: 23px; font-weight: 400; margin-bottom: 8px;}
.form-row__label + .form-row__text-value{margin-top: -3px;}
.form-row__message{display: block; font-size: 12px; line-height: 16px; font-weight: 400; margin-top: 4px; margin-bottom: -20px; color: #777;}
.form-row__message--error{color: #d96f6e;}
.form-row__input + .form-row__input{margin-top: 10px;}
.form-sm .form-row__label{font-size: 15px; line-height: 23px;}



/* --- form grid --- */
.form-grid{margin: 0 -20px -25px; width: -webkit-calc(100% + 40px); width: calc(100% + 40px);}
.form-grid__item{padding: 0 20px; margin: 0 0 25px; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; display: inline-block;}  /* oinline-block чтобы не было бага https://prnt.sc/hcsyoa */
.form-grid__item .form-row--check{margin-bottom: -10px;}
.form-grid__item .form-row--submit{margin-top: 10px;}
.form-grid--sm{margin-bottom: -10px;}
.form-grid--sm .form-grid__item{margin-bottom: 10px;}
.form-grid--sm .form-row--check{margin-bottom: 0;}



/* --- form group --- */
.form-group + .form-group{margin-top: 25px;}
.form-group__header{margin-bottom: 20px;}
.form-group--foldable:not(.open) .form-group__body{display: none;}
.form-group--foldable.open .group-separator__arrow{-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.form-group:not(:last-child) .form-group__body{margin-bottom: 20px;}
.form-group__header + .form-group__body.form-group__body{margin-top: 0;}
.form-group .form-group{margin-top: 30px;}
.form-group:first-child{margin-top: 0;}

/* --- form state --- */
.form-block {position: relative;}
.form-sent {opacity: 0.2; touch-action: none; pointer-events: none;}
.form-sent__overlay {position: absolute; display: flex; align-items: center;	top: 70px;	left: 10px;	right: 10px;	bottom: 10px;	z-index: 10;}
.form-sent__overlay .message {background: #00943f;color: #fff;	text-align: center;max-width: 70%;	margin: 0 auto;padding: 20px 30px;	border-radius: 4px;cursor: alias;}


/* --- group separator --- */
.group-separator{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end;}
.group-separator__ruler{line-height: 0; -webkit-box-flex: 100; -webkit-flex: 100 1 auto; -ms-flex: 100 1 auto; flex: 100 1 auto; padding-left: 10px;}
.group-separator__ruler::after{content: ''; display: block; border-top: 1px solid #d4d4d4; margin-bottom: 13px;}
.group-separator__btn{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; max-width: 75%; outline: none; position: relative; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;}
.group-separator__icon{vertical-align: top; padding-right: 15px; padding-top: 3px; width: 35px;}
.group-separator__icon .svg-icon{width: 20px; height: 20px;}
.group-separator__title{-webkit-box-flex: 1;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.group-separator__title-text{padding-right: 30px;}
.group-separator__title-text:only-child{padding-right: 0;}
.group-separator__title::after{content: ''; position: absolute; top: -3px; bottom: -3px; left: -3px; right: -3px;
	border: 1px dashed rgba(0,0,0,.6); -webkit-border-radius: 3px; border-radius: 3px; opacity: 0; -webkit-transition: .2s; transition: .2s; pointer-events: none;}
.group-separator__arrow{margin-left: -25px; margin-right: -5px;}
.group-separator--reflex .group-separator__btn{color: #01734a; -webkit-transition: .2s; transition: .2s; cursor: pointer;}
.no-touch .group-separator--reflex .group-separator__btn:hover{color: #00943f;}
.no-touch .group-separator__btn:focus .group-separator__title::after{opacity: 1;}


.form-group .form-group .group-separator__btn{color: inherit;}
/*.form-group .form-group .group-separator__ruler::after{margin-bottom: 10px;}*/



/* --- switch --- */
.switch{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.switch__input{position: absolute; top: 0; left: 0; padding: 0; margin: 0; opacity: 0; pointer-events: none;}
.switch__btn{display: block; width: 100%; background-color: #fff; padding-left: 15px; padding-right: 10px; z-index: 1;}
.switch__item{display: inline-block; vertical-align: top; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; position: relative; min-width: 0;}
.switch__item + .switch__item{margin-left: -1px;}
.switch__item:not(:first-child) .switch__btn{-webkit-border-top-left-radius: 0;border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0;}
.switch__item:not(:last-child) .switch__btn{-webkit-border-top-right-radius: 0;border-top-right-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0;}
.no-touch .switch__btn:hover{z-index: 10;}
.no-touch .switch__btn:active{background: #fff; color: #00943f;}
		  .switch__btn:active{background: #fff; color: #252525;}
.switch__input:checked ~ .switch__btn{background: #00943f; color: #fff; -webkit-box-shadow: none; box-shadow: none; z-index: 11;}
.switch__input:checked ~ .switch__btn::before{opacity: 0;}
.no-touch .switch__input:focus ~ .switch__btn::after{opacity: 1; border-color: rgba(0,0,0,.6);}
.no-touch .switch__input:checked:focus ~ .switch__btn::after{border-color: rgba(255,255,255,.7);}



/* --- switch-select --- */
.switch-select{-webkit-transition: .2s;transition: .2s; max-width: 100%;}
.switch-select:not(.initialized){background-color: #fff; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 0 0 1px #d4d4d4 inset; box-shadow: 0 0 0 1px #d4d4d4 inset;}
.switch-select:not(.initialized) > *{opacity: 0;}
.switch-select .switch__item{-webkit-box-flex: 1;-webkit-flex: 1 0 auto;-ms-flex: 1 0 auto;flex: 1 0 auto; -webkit-transition: .2s; transition: .2s;}
.switch-select .select:not(select){display: none;}
.switch-select.select-mode .select:not(select){display: block;}
.switch-select.select-mode .switch{display: none;}
.switch-select__switch{border-radius: 5px;}

.switch-select--inline .switch{width: auto; max-width: 100%;}
.switch-select--inline .switch__item{-webkit-box-flex: 0;-webkit-flex-grow: 0;-ms-flex-positive: 0;flex-grow: 0;}

/* --- dynamic select --- */
.dynamic-select__row {margin-bottom: 10px;}

/* --- checkbox row --- */
.checkbox-row{display: inline-block; vertical-align: top; position: relative; padding-left: 25px; cursor: pointer;}
.checkbox-row__input{position: absolute; top: 0; left: 0; margin: 0; opacity: 0;}
.checkbox-row__visual{position: absolute; top: 2px; left: 0; width: 18px; height: 18px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #d4d4d4; background: #fff; -webkit-transition: .2s; transition: .2s;}
.checkbox-row__visual::before,
.checkbox-row__visual::after{content: ''; position: absolute; -webkit-transition: .2s; transition: .2s; opacity: 0;}
.checkbox-row__visual::before{top: 50%; left: 50%; width: 10px; height: 6px; margin: -4px 0 0 -5px;
border-left: 2px solid #fff; border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg) scale(0);
	        transform: rotate(-45deg) scale(0);}
.checkbox-row__visual::after{top: -3px; left: -3px; right: -3px; bottom: -3px; border: 1px dashed rgba(0,0,0,.6); -webkit-border-radius: 3px; border-radius: 3px;}
.checkbox-row__input:checked ~ .checkbox-row__visual{background: #00943f; border-color: #00943f;}
.checkbox-row__input:checked ~ .checkbox-row__visual::before{opacity: 1; -webkit-transform: rotate(-45deg) scale(1); transform: rotate(-45deg) scale(1);}
.no-touch .checkbox-row:hover .checkbox-row__visual{border-color: #00943f;}
.no-touch .checkbox-row:hover .checkbox-row__input:checked ~ .checkbox-row__visual{background: #fff;}
.no-touch .checkbox-row:hover .checkbox-row__input:checked ~ .checkbox-row__visual::before{border-color: #00943f;}
.no-touch .checkbox-row__input:focus ~ .checkbox-row__visual::after{opacity: 1;}

.checkbox-row__text:not(:last-child){padding-right: 25px;}
.checkbox-row__icon{display: inline-block; vertical-align: middle; line-height: 0;}
.checkbox-row__icon > img{max-width: 20px; max-height: 20px;}
.checkbox-row__text + .checkbox-row__icon{margin-left: -22px;}
.checkbox-row--radio .checkbox-row__visual,
.checkbox-row--radio .checkbox-row__visual::before,
.checkbox-row--radio .checkbox-row__visual::after{-webkit-border-radius: 50%;border-radius: 50%;}
.checkbox-row--radio .checkbox-row__visual::before{border: none; width: 8px; height: 8px; margin: -4px 0 0 -4px; background-color: #fff;}
.no-touch .checkbox-row--radio:hover .checkbox-row__visual::before{background-color: #00943f;}

.checkbox-row.checkbox-row.checkbox-row .checkbox-row__input:disabled ~ .checkbox-row__visual{border-color: #d4d4d4; background: #e7e7e7;}
.checkbox-row.checkbox-row.checkbox-row .checkbox-row__input:disabled ~ .checkbox-row__visual::before{border-color: #ababab;}
.checkbox-row.checkbox-row.checkbox-row .checkbox-row__input:disabled ~ .checkbox-row__text{color: #252525; opacity: .5;}
.checkbox-row.checkbox-row--radio .checkbox-row__input:disabled ~ .checkbox-row__visual::before{background-color: #ababab;}

/* --- icons --- */
.icon-wireless .checkbox-row__icon {background: url(cb-wireless.png) no-repeat 0 0 / 20px 20px;padding-left: 20px;}

/* --- inline tooltip --- */
.inline-tooltip{display: inline-block; vertical-align: middle; line-height: 0; margin-left: 4px; padding-bottom: 6px; margin-bottom: -6px;}
.inline-tooltip.dropdown-owner::before{left: 3px;}
.inline-tooltip__btn{display: inline-block; width: 20px; height: 20px; background-color: #d4d4d4; -webkit-border-radius: 50%; border-radius: 50%; position: relative; cursor: help;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
.inline-tooltip__btn::before,
.inline-tooltip__btn::after{content: ''; position: absolute; width: 2.2px; left: 9px; background-color: #777; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
.inline-tooltip__btn::before{height: 2px; top: 4px;}
.inline-tooltip__btn::after{height: 7px; top: 8px;}



/* --- dropdown --- */
.dropdown-owner{position: relative;}
.dropdown{position: absolute; top: 100%; left: 0; padding: 15px 20px; background-color: #fff; -webkit-border-radius: 5px; border-radius: 5px; cursor: default; margin-left: -20px;
	font-size: 15px; line-height: 23px; font-weight: 300; text-align: left; opacity: 0; visibility: hidden; white-space: normal; max-width: -webkit-calc(100vw - 20px); max-width: calc(100vw - 20px);
	-webkit-transform: translate3d(0,0,0) scaleY(0);
	transform: translate3d(0,0,0) scaleY(0);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.2);
	box-shadow: 0px 2px 5px rgba(0,0,0,.2); -webkit-transition: .2s, left 0s; transition: .2s, left 0s; z-index: 50;}
.dropdown-owner::before{content: ''; position: absolute; bottom: 0; left: 20px; border: 8px solid transparent; border-bottom-color: #fff; -webkit-transform-origin: center bottom; transform-origin: center bottom; -webkit-transition: .3s; transition: .3s; z-index: 51;}
.dropdown-owner--green::before{border-bottom-color: #45a73e;}
.dropdown__header{margin: -15px -20px 15px; color: #fff; background-color: #45a73e; display: table; width: -webkit-calc(100% + 40px); width: calc(100% + 40px); padding: 15px 20px;
	-webkit-border-top-left-radius: inherit;
	border-top-left-radius: inherit; -webkit-border-top-right-radius: inherit; border-top-right-radius: inherit;}
.dropdown__header:last-child{margin-bottom: -15px; -webkit-border-bottom-left-radius: inherit; border-bottom-left-radius: inherit; -webkit-border-bottom-right-radius: inherit; border-bottom-right-radius: inherit;}
.dropdown__header-main{display: table-cell; vertical-align: middle; width: 99%;}
.dropdown__header-number{display: table-cell; vertical-align: top; padding-left: 20px; font-size: 44px; line-height: 46px; font-weight: 700; white-space: nowrap; width: 1px;}
.dropdown__header-number .svg-icon{width: 26px; height: 32px; margin-right: -5px;}
.dropdown__footer{margin: 15px -20px -15px; color: #fff; background-color: #f7f7f7; display: table; width: -webkit-calc(100% + 40px); width: calc(100% + 40px); padding: 15px 20px;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit; -webkit-border-bottom-right-radius: inherit; border-bottom-right-radius: inherit;}
.dropdown__footer-main{display: table-cell; vertical-align: middle;}
.dropdown-owner:not(.open)::before{opacity: 0; -webkit-transform: scaleY(0); transform: scaleY(0);}

.dropdown-owner.open .dropdown{opacity: 1; visibility: visible; -webkit-transform: translate3d(0,0,0) scaleY(1); transform: translate3d(0,0,0) scaleY(1);}
.dropdown--contact{width: 380px;}
.dropdown--md{width: 280px;}
.dropdown--green{background-color: #45a73e; color: #fff;}
.dropdown--green::before{border-bottom-color: #45a73e;}
.dropdown--green.dropdown--left::before{border-left-color: #45a73e;}

@media (min-width: 480px) {
	.dropdown-owner--green.dropdown-owner--left::before{border-left-color: #45a73e;}
	.dropdown-owner--left::before{border-bottom-color: transparent; border-left-color: #fff; right: 100%; top: 10px; left: auto; bottom: auto;
		border-right: none; margin-right: -8px; -webkit-transform-origin: left center; transform-origin: left center;}
	.dropdown-owner--left .dropdown{top: 0; right: 100%; left: auto; -webkit-transform: translate3d(0,0,0) scale(0); transform: translate3d(0,0,0) scale(0); -webkit-transform-origin: 100% 20px; transform-origin: 100% 20px; margin-left: 0; left: auto !important;}
	.dropdown-owner--left:not(.open)::before{-webkit-transform: scaleX(0);transform: scaleX(0);}
}
@media (min-width: 992px) {
	.dropdown--padded{padding: 25px 30px;}
	.dropdown--padded .dropdown__header{margin: -25px -30px 25px; padding: 25px 30px; width: -webkit-calc(100% + 60px); width: calc(100% + 60px);}
	.dropdown--padded .dropdown__header:last-child{margin-bottom: -25px;}
	.dropdown--padded .dropdown__footer{margin: 25px -30px -25px; padding: 25px 30px; width: -webkit-calc(100% + 60px); width: calc(100% + 60px);}
	.dropdown--padded .dropdown__footer:first-child{margin-top: -25px;}
}

/* --- group block header --- */
.group-block-header{display: table; width: 100%; border-collapse: collapse; table-layout: fixed; color: #fff; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
	background: #00943f url(group-header.svg) no-repeat right top / auto 100%;}
.group-block-header__cell-icon{display: table-cell; vertical-align: top; width: 60px; padding: 22px 0 22px 30px;}
.group-block-header__cell-icon .svg-icon{width: 30px; height: 30px;}
.group-block-header__cell-title{display: table-cell; vertical-align: middle; padding: 22px 30px;}



/* --- group block --- */
.group-block{border: 1px solid #d4d4d4; -webkit-border-radius: 5px; border-radius: 5px; padding: 30px; background-color: #f7f7f7; margin: 25px 0;}
.group-block__header{width: -webkit-calc(100% + 62px);width: calc(100% + 62px); margin: -31px -31px 30px;}
.group-block--white{background-color: #fff;}
.group-block--anketa{max-width: 700px;}

.hidden {display: none !important;}

@media (max-width: 1239px) {
	/* --- group block --- */
	.group-block{padding: 20px;}
	.group-block__header{margin: -21px -21px 20px; width: -webkit-calc(100% + 42px); width: calc(100% + 42px);}
	.group-block-header__cell-icon{padding: 15px 0 15px 20px; width: 50px;}
	.group-block-header__cell-title{padding: 15px 20px;}
	.group-block-i10s__visual img{margin-bottom: -20px;}


	/* --- tools --- */
	.hidden-md{display: none;}
	.visible-md{display: block;}
	.visible-md-inline{display: inline;}
	.visible-md-ib{display: inline-block;}
	.visible-md-table{display: table;}
	.visible-md-tc{display: table-cell;}


	/* --- grid --- */
	.col-md-1{width: 8.333%;}
	.col-md-2{width: 16.666%;}
	.col-md-3{width: 25%;}
	.col-md-4{width: 33.33%;}
	.col-md-5{width: 41.666%;}
	.col-md-6{width: 50%;}
	.col-md-7{width: 58.333%;}
	.col-md-8{width: 66.666%;}
	.col-md-9{width: 75%;}
	.col-md-10{width: 83.333%;}
	.col-md-11{width: 91.666%;}
	.col-md-12{width: 100%;}
}



@media (max-width: 999px) {
	/* --- group block i10s --- */
	.group-block-i10s{display: block; font-size: 0;}
	.group-block-i10s__links,
	.group-block-i10s__consult{display: inline-block; vertical-align: top; width: 50%; font-size: 15px;}
	.group-block-i10s{position: relative; padding-right: 150px;}
	.group-block-i10s__visual{padding: 0; position: absolute; right: 0; bottom: 0; width: 150px;}



	/* --- tools --- */
	.hidden-sm{display: none;}
	.visible-sm{display: block;}
	.visible-sm-inline{display: inline;}
	.visible-sm-ib{display: inline-block;}
	.visible-sm-table{display: table;}
	.visible-sm-tc{display: table-cell;}



	/* --- grid --- */
	.col-sm-1{width: 8.333%;}
	.col-sm-2{width: 16.666%;}
	.col-sm-3{width: 25%;}
	.col-sm-4{width: 33.33%;}
	.col-sm-5{width: 41.666%;}
	.col-sm-6{width: 50%;}
	.col-sm-7{width: 58.333%;}
	.col-sm-8{width: 66.666%;}
	.col-sm-9{width: 75%;}
	.col-sm-10{width: 83.333%;}
	.col-sm-11{width: 91.666%;}
	.col-sm-12{width: 100%;}
}



@media (max-width: 759px) {
	/* --- text guide --- */
	h1, .h1{font-size: 30px; line-height: 36px; font-weight: 400;}
	h2, .h2{font-size: 26px; line-height: 32px; font-weight: 400;}
	.text-guide--lg{font-size: 15px; line-height: 23px;}


	
	/* --- tools --- */
	.hidden-xs{display: none;}
	.visible-xs{display: block;}
	.visible-xs-inline{display: inline;}
	.visible-xs-ib{display: inline-block;}
	.visible-xs-table{display: table;}
	.visible-xs-tc{display: table-cell;}


	/* --- form --- */
	.form-row {max-width: none;}
	.form-sent__overlay .message {position: fixed;top: 100px;left: 0;right: 0;}

	/* --- grid --- */
	.col-xs-1{width: 8.333%;}
	.col-xs-2{width: 16.666%;}
	.col-xs-3{width: 25%;}
	.col-xs-4{width: 33.33%;}
	.col-xs-5{width: 41.666%;}
	.col-xs-6{width: 50%;}
	.col-xs-7{width: 58.333%;}
	.col-xs-8{width: 66.666%;}
	.col-xs-9{width: 75%;}
	.col-xs-10{width: 83.333%;}
	.col-xs-11{width: 91.666%;}
	.col-xs-12{width: 100%;}
}



@media (max-width: 639px) {
	/* --- tools --- */
	.hidden-2xs{display: none;}
	.visible-2xs{display: block;}
	.visible-2xs-inline{display: inline;}
	.visible-2xs-ib{display: inline-block;}
	.visible-2xs-table{display: table;}
	.visible-2xs-tc{display: table-cell;}



	/* --- grid --- */
	.col-2xs-1{width: 8.333%;}
	.col-2xs-2{width: 16.666%;}
	.col-2xs-3{width: 25%;}
	.col-2xs-4{width: 33.33%;}
	.col-2xs-5{width: 41.666%;}
	.col-2xs-6{width: 50%;}
	.col-2xs-7{width: 58.333%;}
	.col-2xs-8{width: 66.666%;}
	.col-2xs-9{width: 75%;}
	.col-2xs-10{width: 83.333%;}
	.col-2xs-11{width: 91.666%;}
	.col-2xs-12{width: 100%;}
}



@media (max-width: 479px) {
	/* --- tools --- */
	.hidden-3xs{display: none;}
	.visible-3xs{display: block;}
	.visible-3xs-inline{display: inline;}
	.visible-3xs-ib{display: inline-block;}
	.visible-3xs-table{display: table;}
	.visible-3xs-tc{display: table-cell;}



	/* --- grid --- */
	.col-3xs-1{width: 8.333%;}
	.col-3xs-2{width: 16.666%;}
	.col-3xs-3{width: 25%;}
	.col-3xs-4{width: 33.33%;}
	.col-3xs-5{width: 41.666%;}
	.col-3xs-6{width: 50%;}
	.col-3xs-7{width: 58.333%;}
	.col-3xs-8{width: 66.666%;}
	.col-3xs-9{width: 75%;}
	.col-3xs-10{width: 83.333%;}
	.col-3xs-11{width: 91.666%;}
	.col-3xs-12{width: 100%;}
}



@media (max-width: 379px) {

	/* --- group block --- */
	.group-block{padding: 20px 10px;}
	.group-block__header{margin: -21px -11px 20px; width: -webkit-calc(100% + 22px); width: calc(100% + 22px);}
	.group-block-header__cell-icon{display: none;}
	.group-block-header__cell-title{padding: 13px 10px;}



	/* --- tools --- */
	.hidden-4xs{display: none;}
	.visible-4xs{display: block;}
	.visible-4xs-inline{display: inline;}
	.visible-4xs-ib{display: inline-block;}
	.visible-4xs-table{display: table;}
	.visible-4xs-tc{display: table-cell;}



	/* --- grid --- */
	.col-4xs-1{width: 8.333%;}
	.col-4xs-2{width: 16.666%;}
	.col-4xs-3{width: 25%;}
	.col-4xs-4{width: 33.33%;}
	.col-4xs-5{width: 41.666%;}
	.col-4xs-6{width: 50%;}
	.col-4xs-7{width: 58.333%;}
	.col-4xs-8{width: 66.666%;}
	.col-4xs-9{width: 75%;}
	.col-4xs-10{width: 83.333%;}
	.col-4xs-11{width: 91.666%;}
	.col-4xs-12{width: 100%;}
}