/* fira-sans-300 - cyrillic */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Fira Sans Light'), local('FiraSans-Light'),
	url('../fonts/fira-sans-v8-cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/fira-sans-v8-cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-regular - cyrillic */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Sans Regular'), local('FiraSans-Regular'),
	url('../fonts/fira-sans-v8-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/fira-sans-v8-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500 - cyrillic */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Sans Medium'), local('FiraSans-Medium'),
	url('../fonts/fira-sans-v8-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/fira-sans-v8-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-700 - cyrillic */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Fira Sans Bold'), local('FiraSans-Bold'),
	url('../fonts/fira-sans-v8-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/fira-sans-v8-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ------ basic ------ */
*, *::before, *::after{box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0);}
body.ios, body.ios *{cursor: pointer;}
button::-moz-focus-inner{border: none;}
input[type=text],
input[type=number],
input[type=search],
textarea{ appearance: none;}
input::-ms-clear{display: none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{appearance: none; margin: 0;}
img{border: none;}
.touch *{outline: none;}
article, aside, nav, main, section, header, footer{display: block;}


html, body{margin: 0; padding: 0;}
body{color: #000; background-color: #fff; font: 300 15px/23px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; position: relative; min-height: 100vh; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; overflow-x: hidden;}
::-moz-selection{background: #01734a; color: #fff;}
::selection{background: #01734a; color: #fff;}
::selection{background: #01734a; color: #fff;}


/* --- heading --- */
h1, .h1{font-weight: 300; font-size: 52px; line-height: 60px; margin: 24px 0;}
h2, .h2{font-weight: 300; font-size: 30px; line-height: 36px; margin: 0;}
h3, .h3{font-weight: 300; font-size: 24px; line-height: 36px; margin: 0;}
h4, .h4{font-weight: 300; font-size: 16px; line-height: 26px; margin: 0;}
h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child{margin-top: 0;}
h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child{margin-bottom: 0;}

.text-white h1, .text-white .h1{text-shadow: 0 0 10px rgba(0,0,0,.2);}

h2 + h4{margin-top: 12px;}


strong, .strong{font-weight: 300; font-size: 22px; line-height: 34px;}


p{margin: 10px 0;}
p:first-child{margin-top: 0;}
p:last-child{margin-bottom: 0;}
p + p .btn{margin-top: 4px;}


a{color: #01734a; text-decoration: none; transition: all .2s;}
.no-touch a:hover{color: #45a73e;}
.gray-link,
.developer-link{color: #777;}
.link--underlined{border-bottom: 1px solid;}
.area-link{position: absolute; top: 0; left: 0; right: 0; bottom: 0;}


/* --- grid --- */
.row-safety{overflow: hidden;}
.row{margin-left: -20px; margin-right: -20px;}
.row::after{content: ''; display: table; clear: both;}
.col{float: left; padding-left: 20px; padding-right: 20px;}

.row-10{margin-left: -10px; margin-right: -10px;}
.row-10 > .col{padding-left: 10px; padding-right: 10px;}

.col-lg-1{width: 8.333%;}
.col-lg-2{width: 16.666%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.33%;}
.col-lg-5{width: 41.666%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.333%;}
.col-lg-8{width: 66.666%;}
.col-lg-9{width: 75%;}
.col-lg-10{width: 83.333%;}
.col-lg-11{width: 91.666%;}
.col-lg-12{width: 100%;}


/* --- main blocks --- */
.page-section{display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
	width: 100%; position: relative;}
.page-section-content{-webkit-box-flex: 1; -webkit-flex: 1 1 0; -ms-flex: 1 1 0; flex: 1 1 0;
	padding: 50px 40px; position: relative; background: #ededed no-repeat center / 100% auto; background-size: cover;}
.container{max-width: 1200px; margin: 0 auto;}
.text-container{max-width: 520px;}

.page-section-content:nth-last-child(2):first-child .container{max-width: 600px; margin: 0 0 0 auto;}
.page-section-content:nth-last-child(2):first-child ~ .page-section-content .container{max-width: 600px; margin: 0;}


/* --- page section header --- */
.page-section-header{background-color: rgba(255,255,255,.8); padding: 10px 30px; position: absolute; top: 0; left: 0; right: 0; z-index: 2;}
.page-section-header-standalone { position: relative; width: 100%; }
.page-section-header + .page-section-content{padding-top: 150px;}
.page-section-header__row{display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%;
	-webkit-align-items: center; -ms-align-items: center; align-items: center;
	-webkit-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; min-height: 60px;}
.page-section-header__cell-logo,
.page-section-header__cell-menu,
.page-section-header__cell-aside{-webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; padding: 10px 0;}
.page-section-header__cell-menu{-webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 0 30px;}
.page-section-header--green{
	background: url("../../images/header-green-bg.svg") no-repeat 70% 0 / auto 100%,
	linear-gradient(to right, transparent 0%, transparent 70%, #35a83f 70%, #35a83f) center / 100% auto;
	color: #fff; background-color: #01734a;}
.page-section-header--green .page-section-header__cell-aside > .phone-row,
.page-section-header--green .page-section-header__cell-aside > .phone-row *{color: #fff;}
.page-section-header--green .logo,
.no-touch .page-section-header--green .logo:hover{color: #fff;}
.page-section-header--transparent{background: transparent; border-bottom: 1px solid rgba(255,255,255,.2);}


/* --- header menu --- */
.header-menu{font-size: 0; margin: 0 -20px -10px 0; display: inline-block; vertical-align: top; width: calc(100% + 20px);}
.header-menu__item{display: inline-block; vertical-align: middle; margin: 0 20px 10px 0; font-size: 15px;}
.header-menu__link{color: currentColor; transition: .2s;}
.no-touch .header-menu__link:hover{opacity: .7; color: currentColor;}


/* --- logo --- */
.logo{display: inline-block; vertical-align: middle; width: 210px; height: 20px; color: #01734a;}
.logo .svg-icon{display: block; width: 100%; height: 100%;}
.no-touch .logo:hover{color: #01734a; opacity: .7;}


/* --- contents --- */
.content-horizontal-form{padding: 35px 40px 50px;}
.content-vertical-form{padding: 50px 40px 80px;}
.content-columns{padding: 50px 40px 70px;}
.content-twocol-banner{padding: 0 40px; position: static;}
.content-twocol-banner--w-box{overflow: hidden;}
.content-banner-img{padding: 0;}
.content-banner-img img{width: 100%; vertical-align: top;}
.content-counter{padding: 50px 40px 80px;}
.content-video-cover .video-js.video-js,
.content-video-cover .video-js video{min-height: 280px;}
.content-steps{padding: 50px 40px;}

.content-columns-alt:not(:only-child),
.content-counter:not(:only-child){padding: 60px 40px 65px;}


/* --- modifiers --- */
.text-white{color: #fff;}
.text-black{color: #000;}
.text-gray{color: #595959;}


/* --- overlay --- */
.overlay{position: absolute; top: 0; left: 0; right: 0; bottom: 0; visibility: hidden; background: rgba(0,56,36,.85); opacity: 0; transition: .3s, top 0s ease .3s; z-index: 100; pointer-events: none;}
.overlay.open,
.state--modal-loading .overlay,
.state--modal-open .overlay{opacity: 1; visibility: visible; pointer-events: all;}


/* --- buttons --- */
button{font-family: 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif;}

.btn{display: inline-block; vertical-align: middle; height: 50px; max-width: 100%; padding: 10px 30px; overflow: hidden; position: relative; border: none;
	background: transparent; border-radius: 4px; transition: .2s;
	font: 700 20px/30px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; color: #01734a; cursor: pointer;
	white-space: nowrap; text-overflow: ellipsis; text-align: center; text-decoration: none; outline: none;}
.btn::before{content: ''; position: absolute; top: 0; left: 0; bottom: 0; width: 0%; opacity: 0; transition: .2s; background-color: #fff;}
.no-touch .btn:hover::before{width: 100%; opacity: .2;}
.no-touch .btn:active::before{width: 100%; opacity: 0;}

.btn--primary{background-color: #00943f; color: #fff; font-weight: 700; box-shadow: 0px -2px 0px #01734a inset, 0px 4px 7px rgba(0,0,0,.1);}
.no-touch .btn--primary:hover{background-color: #00943f; color: #fff;}
.no-touch .btn--primary:active,
		  .btn--primary:active{box-shadow: none; background-color: #01734a;}


.btn--bright{background-color: #ead918; color: #000; font-weight: 700; box-shadow: 0px -2px 0px #a4980c inset, 0px 4px 7px rgba(0,0,0,.1);}
.no-touch .btn--bright:hover{background-color: #ead918; color: #000;}
.no-touch .btn--bright:active,
		  .btn--bright:active{box-shadow: none; background-color: #a4980c;}


.btn--light{background-color: rgba(1,115,74,0); color: #01734a; font-weight: 300; box-shadow: 0px 0px 0px 1px #01734a inset;}
.btn--light::before{background-color: rgba(1,115,74,.5);}
.no-touch .btn--light:hover{background-color: rgba(1,115,74,0); color: #01734a;}
.no-touch .btn--light:active,
		  .btn--light:active{box-shadow: none; background-color: #01734a; color: #fff;}


.btn--gray-light{background-color: rgba(1,115,74,0); color: #919191; font-weight: 300; box-shadow: 0px 0px 0px 1px #d4d4d4 inset;}
.btn--gray-light::before{background-color: rgba(1,115,74,.5);}
.btn--gray-light .svg-icon{position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.no-touch .btn--gray-light:hover{background-color: rgba(1,115,74,0); color: #919191;}
.no-touch .btn--gray-light:active,
		  .btn--gray-light:active{box-shadow: none; background-color: #01734a; color: #fff;}


.btn--block{width: 100%;}
.btn--sm{height: 34px; padding: 2px 20px; font-size: 15px;}
.btn--md{height: 40px; padding: 5px 20px; font-size: 15px;}
.btn--lg{height: 60px; padding: 15px 30px;}
.btn--sq{width: 50px; padding-left: 4px; padding-right: 4px; text-align: center;}
.btn--sq.btn--sm{width: 34px;}
.btn--sq.btn--md{width: 40px;}
.btn--sq.btn--lg{width: 60px;}


/* --- btn-grid --- */
.btn-grid{font-size: 0; margin: 0 -20px -20px 0;}
.btn-grid .btn{margin: 0 20px 20px 0;}

.btn-grid-sm{font-size: 0; margin: 0 -10px -10px 0;}
.btn-grid-sm .btn{margin: 0 10px 10px 0;}


/* --- input --- */
.text-input,
.select{display: block; width: 100%; background-color: #fff; height: 50px; padding: 9px 15px; border: 1px solid rgba(89,89,89,.4); border-radius: 4px; box-shadow: 0px 2px 3px rgba(0,0,0,.2) inset; transition: all .2s; font: 300 20px/30px 'Fira Sans', 'Roboto', Arial, Helvetica, sans-serif; color: #000; outline: none; text-align: left;}
.no-touch .text-input:hover,
.no-touch .select:hover{border-color: #00943f;}
.no-touch .text-input:focus,
.no-touch .select.open,
.text-input:focus,
.select.open{border-color: #00943f;}

textarea.text-input{height: 148px; padding: 7px 15px; resize: vertical;}

.text-input--lg{height: 60px; padding: 14px 15px;}

.form-error.form-error .text-input,
.form-error.form-error .select{border-color: #d96e6e;}

.form-error.form-error .checkbox__visual {background-color: #d96e6e;}



/* --- selects --- */
.select{position: relative; cursor: pointer;}
.select select{display: none;}
.touch .select select{display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; width: auto;}
.select::before{content: ''; position: absolute; top: 18px; right: 16px; width: 8px; height: 8px; border-top: 2px solid rgba(89,89,89,.8); border-left: 2px solid rgba(89,89,89,.8);
	-ms-transform: scale(.8) rotate(-135deg); -webkit-transform: scale(.8) rotate(-135deg); transform: scale(.8) rotate(-135deg); transition: inherit;}
.no-touch .select:hover::before,
.no-touch .select:focus::before{border-color: rgba(89,89,89,1);}
.select.open.open.open{z-index: 20;}
.select.open.open.open:before{border-color: rgba(89,89,89,1); -ms-transform: scale(.8) rotate(45deg); -webkit-transform: scale(.8) rotate(45deg); transform: scale(.8) rotate(45deg); margin-top: 2px;}

.select--block{display: block;}

.select-value{pointer-events: none; white-space: nowrap; max-width: 100%; text-overflow: ellipsis; display: block; overflow: hidden; color: #000;}
.select-list{list-style: none; position: absolute; top: 100%; left: 0; min-width: 100%; margin: 4px 0 0; background-color: #fff;padding: 0;
	box-shadow: 0px 2px 5px rgba(0,0,0,.2); border-radius: 2px; z-index: 3; overflow: auto; max-height: 300px; transition: .2s; transform: scaleY(0); transform-origin: center top; visibility: hidden; opacity: 0;}
.select-list li{list-style: none; padding: 4px 15px; margin: 0; line-height: 26px; color: #000; cursor: pointer;}
.no-touch .select-list li:hover,
.no-touch .select-list li:focus{background-color: #eee; outline: none;}
.select-list li.active,
.select-list li.active:hover{background-color: #00943f; color: #fff;}
.select.open .select-list{opacity: 1; visibility: visible; transform: scaleY(1);}
.select.open ~ .rich-text-input__label{z-index: 30;}
.select ~ .rich-text-input__label{z-index: 3;}

.text-guide .select-list{padding: 0; margin: 4px 0 0; list-style: none;}
.text-guide .select-list li{padding: 4px 15px; margin: 0; list-style: none;}



/* --- rich text input --- */
.rich-text-input{display: block; position: relative; text-align: left;}
.rich-text-input__label{position: absolute; top: 10px; left: 15px; right: 0; font-size: 20px; line-height: 30px; font-weight: 300; color: #777; text-align: left; transition: .2s, z-index 0s;
	white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis; pointer-events: none; cursor: text; z-index: 2;}
.rich-text-input__input{height: 50px; padding-top: 15px; padding-bottom: 3px;}
.rich-text-input__input.text-input--lg{height: 60px; padding-top: 25px; padding-bottom: 9px;}
.rich-text-input__input.text-input--lg ~ .rich-text-input__label{margin-top: 3px; top: 12px;}
.rich-text-input__input:focus ~ .rich-text-input__label,
.rich-text-input.active .rich-text-input__label{top: 6px; font-size: 12px; line-height: 16px;}
.rich-text-input__input::placeholder{color: rgba(0,0,0,0);}
.rich-text-input__input:focus::placeholder{color: rgba(0,0,0,.5); transition-delay: .2s;}

.rich-text-input__message{font-size: 12px; line-height: 16px; margin-top: 8px;}
.rich-text-input__message--error{color: #d96f6e; display: none;}

.form-error .rich-text-input__label{color: #d96f6e;}
.form-error .rich-text-input__message--error{display: block;}


/* --- forms --- */
.form{margin: 20px 0;position: relative;}
.form:first-child{margin-top: 0;}
.form:last-child,
.form__row:last-child{margin-bottom: 0;}
.form__row{margin-bottom: 20px;}
.form__row--submit{margin: 20px 0;}
.form__row--submit:first-child{margin-top: 0;}
.form__row .checkbox{display: block; text-align: left;}
.form--grouped .form__row{margin-bottom: -1px; margin-top: 0;}
.form--grouped .form__row:not(:first-child) .text-input,
.form--grouped .form__row:not(:first-child) .btn{border-top-left-radius: 0; border-top-right-radius: 0;}
.form--grouped .form__row:not(:last-child) .text-input,
.form--grouped .form__row:not(:last-child) .btn{border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.form--grouped .form__row .text-input,
.form--grouped .form__row .btn{z-index: 1; position: relative;}
.form--grouped .form__row .text-input:hover,
.form--grouped .form__row .btn:hover{z-index: 10;}
.form--grouped .form__row .rich-text-input__label{z-index: 11;}

.form--inline{text-align: center; margin-top: -20px; font-size: 0;}
.form--inline .form__row{display: inline-block; padding: 20px 8px 0; vertical-align: top; width: 25%; font-size: 16px;}
.form--inline .form__row--submit{width: auto; margin-top: 0;}
.form--inline .rich-text-input__message{margin-bottom: 0;}
.form-title + .form--inline{margin-top: -15px;}

.form--big-inputs .text-input{height: 80px; padding-top: 26px;}
.form--big-inputs textarea.text-input{height: 200px;}

.form-title{margin-bottom: 23px;}
.form-subtitle{margin-bottom: 23px;}
.form-title + .form-subtitle{margin-top: -15px;}
.form__note{color: #01734a; font-size: 14px; line-height: 22px; margin: 18px 0;}
.form__note:first-child{margin-top: 0;}
.form__note:last-child{margin-bottom: 0;}

/* --- form success --- */
.form-overlay {position: absolute;top: 0;left: 0;bottom: 0;right: 0;display: flex;align-items: center;z-index: 10;
	border-radius: 4px; background: #ffffff;color:#3fba78;}
.form-overlay__text {text-align: center;width: 100%;font-size: 24px;font-weight: 600;}

/* --- text-and-form --- */
.text-and-form{display: table; width: 100%; table-layout: fixed;}
.text-and-form__text,
.text-and-form__form{display: table-cell; vertical-align: middle; height: 430px;}
.text-and-form__text{padding: 50px 0;}
.text-and-form__form{padding: 0 100px;}
.text-and-form__form:first-child{padding-left: 0;}
.text-and-form__form:last-child{padding-right: 0;}
.text-and-form__form .vertical-form{max-width: 400px;}
.text-and-form__text + .text-and-form__form .vertical-form{margin-left: auto;}


/* --- vertical-form --- */
.vertical-form{background: #fff; padding: 40px 50px 50px; color: #000; text-align: center; border-radius: 5px;}
.vertical-form--undecorated{background: transparent; padding: 0;}
.vertical-form--bg{background: linear-gradient(to right, #5fbe5f, #00b494); color: #fff;}
.vertical-form--middle{max-width: 400px; margin: 38px auto;}
.vertical-form--middle:first-child{margin-top: 0;}
.vertical-form--middle:last-child{margin-bottom: 0;}
.vertical-form .form-overlay{background: linear-gradient(to right, #00b494, #5fbe5f);color:white;}


/* --- horizontal-form --- */
.horizontal-form{text-align: center;}


/* --- infographics grid --- */
.infographics-row{margin-top: 40px; margin-bottom: 40px;}
.infographics-row:first-child{margin-top: 0;}
.infographics-row:last-child{margin-bottom: 0;}
.infographics-col__icon-box{text-align: center; height: 110px; font-size: 0; margin-bottom: 28px; position: relative;}
.infographics-col__icon-box::after,
.infographics-col__img-box::after{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.infographics-col__icon-box::before,
.infographics-col__img-box::before{content: ''; position: absolute; bottom: 0; left: 50%; width: 110px; height: 110px; margin-left: -55px;
	box-shadow: 0px 20px 20px rgba(84,173,67,.3); background: rgba(84,173,67,.3); border-radius: 50%;}
.infographics-col__img-box::before{width: 130px; height: 130px; margin-left: -65px; box-shadow: 0px 7px 20px rgba(84,173,67,.3);}
.infographics-col__icon-box img{display: inline-block; vertical-align: middle; max-width: 110px; max-height: 110px; position: relative; z-index: 1;}
.infographics-col__img-box{text-align: center; font-size: 0; margin-bottom: 20px; position: relative;}
.infographics-col__img-box img{display: inline-block; max-width: 200px; max-height: 200px; vertical-align: middle;  position: relative; z-index: 1;}
.infographics-col__title{display: block; line-height: 30px; margin-bottom: 10px;}
.infographics-col__descr{color: #595959; margin-bottom: 17px;}
.infographics-col__visual{display: inline-block; vertical-align: middle; width: 200px; height: 200px; border-radius: 50%; background: transparent no-repeat center / cover; position: relative; z-index: 1;}
.infographics-col__visual--free{border-radius: 0;}

.infographics-inline-col{margin-bottom: 25px;}
.infographics-inline-col:nth-last-child(2),
.infographics-inline-col:last-child{margin-bottom: 0;}
.infographics-inline-col__table{display: table; width: 100%; table-layout: fixed;}
.infographics-inline-col__icon-box,
.infographics-inline-col__text-box{display: table-cell; vertical-align: top;}
.infographics-inline-col__icon-box{width: 73px; padding-right: 18px;}
.infographics-inline-col__icon-box img{display: inline-block; vertical-align: top; max-width: 55px; max-height: 55px;}
.infographics-inline-col__text-box{padding-top: 4px;}
.infographics-inline-col__link{margin-top: 5px; font-size: 14px; line-height: 22px;}


/* --- twocol-banner --- */
.twocol-banner{display: table; width: 100%; table-layout: fixed;}
.twocol-banner__img,
.twocol-banner__text{display: table-cell; vertical-align: middle;}
.twocol-banner__img{text-align: center; padding: 40px 0;}
.twocol-banner__img img{max-width: 100%; vertical-align: middle;}
.twocol-banner__text{padding: 35px 40px;}
.twocol-banner__text-box{background-color: #fff; color: #000; padding: inherit; margin-bottom: -40px; position: relative; border-top-left-radius: 15px; box-shadow: 0 400px 0 #fff; margin-top: 35px;}
.twocol-banner__text-box::after{content: ''; position: absolute; top: 0px; bottom: -500px; left: 0; width: 100vw; background-color: #fff; border-top-left-radius: inherit;}
.twocol-banner__text-box::before{content: ''; position: absolute; right: 100%; top: 10px; border-left: 160px solid transparent; border-top: 550px solid transparent;
	border-bottom: 550px solid #fff; border-right: 160px solid #fff;}
.twocol-banner__text-box-inner{position: relative; z-index: 2;}


/* --- video --- */
.video-layout{display: table; width: 100%; table-layout: fixed; margin: 35px 0;}
.video-layout:first-child{margin-top: 0;}
.video-layout:last-child{margin-bottom: 0;}
.video-layout__video,
.video-layout__text{display: table-cell; vertical-align: top;}
.video-layout__text{width: 37.5%; padding-left: 50px; color: #595959;}
.video-layout__text strong,
.video-layout__text h1,
.video-layout__text h2,
.video-layout__text h3,
.video-layout__text h4{color: #000;}
.video-layout__text:first-child{margin-left: 0; padding-right: 50px;}
.video-layout__video video,
.video-layout__video .video-js{width: 100%; min-height: 420px; box-shadow: 1px 2px 10px rgba(0,0,0,.4); outline: none !important;}

.video-js .vjs-big-play-button{width: 2em; height: 2em; margin-left: -1em; margin-top: -1em; border-radius: 50%; opacity: .75;}
.video-js .vjs-big-play-button::before{font-size: 1.5em; line-height: 1.3em;}
.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus{background-color: rgba(43,51,63,.7); opacity: 1;}


/* --- dashed-ul --- */
.dashed-ul{margin: 20px 0; padding: 0;}
.dashed-ul:first-child{margin-top: 0;}
.dashed-ul:last-child{margin-bottom: 0;}
.dashed-ul > li{display: block; padding-left: 22px; margin-bottom: 10px; position: relative;}
.dashed-ul > li::before{content: ''; width: 6px; height: 6px; background-color: currentColor; position: absolute; top: 8px; left: 0; border-radius: 50%;}
.dashed-ul > li::last-child{margin-bottom: 0;}


/* --- steps --- */
.steps{display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden;
	width: 100%; table-layout: fixed; margin: 40px 0; border-radius: 10px;}
.step{-webkit-box-flex: 1; -webkit-flex: 1 1 0; -ms-flex: 1 1 0; flex: 1 1 0;
	padding: 35px 0 35px 45px; background-color: #fff; position: relative; color: #000;}
.step + .step{padding-left: 90px;}
.step:last-child{margin-right: 60px;}
.step::after{content: ''; position: absolute; top: 50%; right: -45px; height: 200px; width: 200px; background: inherit; z-index: 1;
	-webkit-transform: translate(0,-50%) rotate(45deg) scaleX(0.8); transform: scaleX(0.8) translate(0,-50%) rotate(45deg);}
.step:nth-child(2){background-color: #ebebeb;}
.step:nth-child(3){background-color: #d6d6d6;}
.step:nth-child(4){background-color: #ababab;}
.step strong,
.step small{font-size: 18px; line-height: 25px; display: block; position: relative; z-index: 2; margin-right: -10px;}
.step strong{color: #01734a; font-weight: 300; font-size: 16px; line-height: 26px;}
.step strong + small{margin-top: 5px;}

.step-separator{width: 92px; padding: 0 35px;}
.step-separator:last-child{display: none;}
.step-separator::before{content: ''; display: inline-block; height: 60px; width: 22px; vertical-align: middle; background: transparent no-repeat top right;
	background-image: linear-gradient( -65deg, white 14px, transparent 14px),
			linear-gradient(-115deg, white 14px, transparent 14px),
			linear-gradient( -65deg, #f0efe8 19px, transparent 19px),
			linear-gradient(-115deg, #f0efe8 19px, transparent 19px);
}


/* --- page footer --- */
.page-footer{padding: 45px 0; color: #777; font-size: 12px; line-height: 18px; font-weight: 400; line-height: 18px; background-color: #fff;}
.page-footer p{margin: 10px 0;}
.page-footer p:first-child{margin-top: 0;}
.page-footer p:last-child{margin-bottom: 0;}
.page-footer__grid{display: inline-block; width: calc(100% + 60px); margin: 0 -30px -30px; font-size: 0;}
.page-footer__col{display: inline-block; vertical-align: middle; margin: 0 0 30px; padding: 0 30px; font-size: 12px;}


/* --- consult box --- */
.consult-box{border: 1px solid #d4d4d4; border-radius: 4px; padding: 15px 175px 15px 25px; position: relative; display: block;}
.consult-box__girl{position: absolute; bottom: 0; right: 25px; max-width: 150px; max-height: 150px;}
.consult-box__girl img{display: block; max-width: 100%; max-height: inherit;}
.consult-box__number{display: table; color: #1a815c; font-size: 32px; line-height: 32px; font-weight: 700;}
.consult-box__number-icon,
.consult-box__number-value{display: table-cell; vertical-align: baseline;}
.consult-box__number-icon{padding-right: 6px;}
.consult-box__number-icon .svg-icon{width: 16px; height: 26px; margin-top: 2px; margin-bottom: -2px;}
.consult-box__label{display: block; font-size: 12px; line-height: 16px; font-weight: 400; text-transform: uppercase; color: #777; margin-bottom: 10px;}


/* --- label and items --- */
.label-and-items__label{font-size: 12px; line-height: 18px; text-transform: uppercase; color: #777; font-weight: 400; display: block; margin-bottom: 10px;}


/* --- phone row --- */
.phone-row{display: table; color: #000; text-decoration: none; margin-bottom: 11px;}
.phone-row:last-child{margin-bottom: 0;}
.phone-row__icon,
.phone-row__value,
.phone-row__comment{display: table-cell; vertical-align: top;}
.phone-row__icon{padding-right: 12px;}
.phone-row__icon img,
.phone-row__icon svg{display: inline-block; vertical-align: top; margin-top: 3px; max-width: 17px; max-height: 24px;}
.phone-row__icon svg{width: 17px; height: 24px;}
.phone-row__icon path{transition: all .2s; fill: #000;}
.phone-row__value{font-size: 28px; line-height: 30px; padding-right: 18px; font-weight: 700; white-space: nowrap;}
.phone-row__comment{vertical-align: middle; color: #777; font-size: 12px; line-height: 16px; font-weight: 400;}
.phone-row__icon:last-child,
.phone-row__value:last-child{padding-right: 0;}
.no-touch a.phone-row:hover .phone-row__icon path{fill: #01734a;}


/* --- checkbox, radio --- */
.checkbox{display: block; white-space: nowrap; cursor: pointer;}
.checkbox__input{display: none;}
.checkbox__visual,
.checkbox__text{display: inline-block; vertical-align: top;}
.checkbox__visual{width: 20px; height: 20px; border: 1px solid rgba(89,89,89,.4); border-radius: 2px; background-color: #fff; position: relative; transition: all .2s;}
.checkbox__visual::after{content: ''; display: inline-block; width: 12px; height: 7px; border-bottom: 3px solid #01734a; border-left: 3px solid #01734a;
	position: absolute; top: 50%; left: 50%; margin: -5px 0 0 -6px; opacity: 0;
	-ms-transform: scale(0) rotate(-45deg); -webkit-transform: scale(0) rotate(-45deg); transform: scale(0) rotate(-45deg); transition: all .2s;}
.checkbox__text{margin: -3px 0 0 6px; white-space: normal; max-width: calc(100% - 35px);}
.checkbox__input:checked ~ .checkbox__visual::after{opacity: 1; -ms-transform: scale(1) rotate(-45deg); -webkit-transform: scale(1) rotate(-45deg); transform: scale(1) rotate(-45deg);}

.checkbox__visual--radio{border-radius: 50%;}
.checkbox__visual--radio::after{content: ''; position: absolute; top: 50%; left: 50%; margin: 0; width: 0px; height: 0px; border-radius: 50%; background-color: #01734a;
	-ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity: 0; transition: all .2s;}
.checkbox__input:checked ~ .checkbox__visual--radio::after{width: 12px; height: 12px; opacity: 1;
	-ms-transform: scale(1) translate(-50%, -50%); -webkit-transform: scale(1) translate(-50%, -50%); transform: scale(1) translate(-50%, -50%);}

.no-touch .checkbox:hover .checkbox__visual{border-color: rgba(89,89,89,.8);}

.checkbox--secondary .checkbox__visual{border-color: #c5c5c5;}
.checkbox--secondary .checkbox__visual::after{border-color: #9d9d9d;}
.no-touch .checkbox--secondary:hover .checkbox__visual{border-color: #9d9d9d;}



/* --- css icons --- */
.css-icon-error{display: inline-block; width: 20px; height: 20px; vertical-align: middle; position: relative;
	-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.css-icon-error::before,
.css-icon-error::after{content: ''; position: absolute; background-color: #01734a; top: 50%; left: 50%;}
.css-icon-error::before{width: 20px; height: 4px; margin: -2px 0 0 -10px;}
.css-icon-error::after{width: 4px; height: 20px; margin: -10px 0 0 -2px;}

.css-icon-success{display: inline-block; width: 10px; height: 16px; border: 4px solid #2f9407; border-top: none; border-left: none; vertical-align: middle;
	-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}



/* --- svg icons --- */
.svg-icon--20{width: 20px; height: 20px;}
.svg-icon--25{width: 25px; height: 25px;}
.svg-icon--30{width: 30px; height: 30px;}


/* --- flip clock (plugin) --- */
.flip-clock-wrapper *{backface-visibility: hidden; box-sizing: border-box; moz-backface-visibility: hidden; moz-box-sizing: border-box; ms-backface-visibility: hidden; ms-box-sizing: border-box; o-backface-visibility: hidden; o-box-sizing: border-box; webkit-backface-visibility: hidden; webkit-box-sizing: border-box;}
.flip-clock-wrapper a{color: #ccc; cursor: pointer; text-decoration: none;}
.flip-clock-wrapper a:hover{color: #fff;}
.flip-clock-wrapper ul{list-style: none;}
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after{content: " "; display: table;}
.flip-clock-wrapper.clearfix:after{clear: both;}
.flip-clock-wrapper.clearfix{zoom: 1;}
.flip-clock-wrapper{font: normal 11px "Helvetica Neue", Helvetica, sans-serif; webkit-user-select: none;}
.flip-clock-meridium{background: none !important; box-shadow: 0 0 0 !important; font-size: 36px !important;}
.flip-clock-meridium a{color: #313333;}
.flip-clock-wrapper{margin: 1em; position: relative; text-align: center; width: 100%;}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after{content: " "; display: table;}
.flip-clock-wrapper:after{clear: both;}
.flip-clock-wrapper ul{background: #000; border-radius: 6px; float: left; font-size: 80px; font-weight: bold; height: 90px; line-height: 87px; margin: 5px; position: relative; width: 60px;}
.flip-clock-wrapper ul li{height: 100%; left: 0; line-height: 87px; position: absolute; text-decoration: none !important; top: 0; width: 100%; z-index: 1;}
.flip-clock-wrapper ul li:first-child{z-index: 2;}
.flip-clock-wrapper ul li a{cursor: default !important; display: block; height: 100%; margin: 0 !important; moz-perspective: 200px; overflow: visible !important; perspective: 200px; webkit-perspective: 200px;}
.flip-clock-wrapper ul li a div{font-size: 80px; height: 50%; left: 0; outline: 1px solid transparent; overflow: hidden; position: absolute; width: 100%; z-index: 1;}
.flip-clock-wrapper ul li a div .shadow{height: 100%; position: absolute; width: 100%; z-index: 2;}
.flip-clock-wrapper ul li a div.up{moz-transform-origin: 50% 100%; ms-transform-origin: 50% 100%; o-transform-origin: 50% 100%; top: 0; transform-origin: 50% 100%; webkit-transform-origin: 50% 100%;}
.flip-clock-wrapper ul li a div.up:after{background-color: #000; background-color: rgba(0, 0, 0, 0.4); content: ""; height: 3px; left: 0; position: absolute; top: 44px; width: 100%; z-index: 5;}
.flip-clock-wrapper ul li a div.down{border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; bottom: 0; moz-transform-origin: 50% 0; ms-transform-origin: 50% 0; o-transform-origin: 50% 0; transform-origin: 50% 0; webkit-transform-origin: 50% 0;}
.flip-clock-wrapper ul li a div div.inn{background-color: #312803; border-radius: 6px; color: #fff; font-size: 70px; height: 200%; left: 0; position: absolute; text-align: center; text-shadow: 0 1px 2px #000; width: 100%; z-index: 1;}
.flip-clock-wrapper ul li a div.up div.inn{top: 0;}
.flip-clock-wrapper ul li a div.down div.inn{bottom: 0;}
.flip-clock-wrapper ul.play li.flip-clock-before{z-index: 3;}
.flip-clock-wrapper .flip{box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);}
.flip-clock-wrapper ul.play li.flip-clock-active{animation: asd 0.5s 0.5s linear both; moz-animation: asd 0.5s 0.5s linear both; webkit-animation: asd 0.5s 0.5s linear both; z-index: 5;}
.flip-clock-divider{display: inline-block; float: left; height: 100px; position: relative; width: 20px;}
.flip-clock-divider:first-child{width: 0;}
.flip-clock-dot{background: #323434; border-radius: 50%; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); display: block; height: 10px; left: 5px; position: absolute; width: 10px;}
.flip-clock-divider .flip-clock-label{color: black; position: absolute; right: -86px; text-shadow: none; top: -1.5em;}
.flip-clock-divider.minutes .flip-clock-label{right: -88px;}
.flip-clock-divider.seconds .flip-clock-label{right: -91px;}
.flip-clock-dot.top{top: 30px;}
.flip-clock-dot.bottom{bottom: 30px;}
@-webkit-keyframes asd{ 0%{z-index: 2;}
 20%{z-index: 4;}
 100%{z-index: 4;}
}
@-moz-keyframes asd{ 0%{z-index: 2;}
 20%{z-index: 4;}
 100%{z-index: 4;}
}
@-o-keyframes asd{ 0%{z-index: 2;}
 20%{z-index: 4;}
 100%{z-index: 4;}
}
@keyframes asd{ 0%{z-index: 2;}
 20%{z-index: 4;}
 100%{z-index: 4;}
}
.flip-clock-wrapper ul.play li.flip-clock-active .down{animation: turn 0.5s 0.5s linear both; moz-animation: turn 0.5s 0.5s linear both; webkit-animation: turn 0.5s 0.5s linear both; z-index: 2;}
@-webkit-keyframes turn{ 0%{webkit-transform: rotateX(90deg);}
 100%{webkit-transform: rotateX(0deg);}
}
@-moz-keyframes turn{ 0%{moz-transform: rotateX(90deg);}
 100%{moz-transform: rotateX(0deg);}
}
@-o-keyframes turn{ 0%{o-transform: rotateX(90deg);}
 100%{o-transform: rotateX(0deg);}
}
@keyframes turn{ 0%{transform: rotateX(90deg);}
 100%{transform: rotateX(0deg);}
}
.flip-clock-wrapper ul.play li.flip-clock-before .up{animation: turn2 0.5s linear both; moz-animation: turn2 0.5s linear both; webkit-animation: turn2 0.5s linear both; z-index: 2;}
@-webkit-keyframes turn2{ 0%{webkit-transform: rotateX(0deg);}
 100%{webkit-transform: rotateX(-90deg);}
}
@-moz-keyframes turn2{ 0%{moz-transform: rotateX(0deg);}
 100%{moz-transform: rotateX(-90deg);}
}
@-o-keyframes turn2{ 0%{o-transform: rotateX(0deg);}
 100%{o-transform: rotateX(-90deg);}
}
@keyframes turn2{ 0%{transform: rotateX(0deg);}
 100%{transform: rotateX(-90deg);}
}
.flip-clock-wrapper ul li.flip-clock-active{z-index: 3;}
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow{animation: show 0.5s linear both; background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%; background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black)); moz-animation: show 0.5s linear both; webkit-animation: show 0.5s linear both;}
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow{animation: hide 0.5s 0.3s linear both; background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%; background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black)); moz-animation: hide 0.5s 0.3s linear both; webkit-animation: hide 0.5s 0.3s linear both;}
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow{animation: show 0.5s linear both; background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%; background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%; background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%); background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%); background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1))); moz-animation: show 0.5s linear both; webkit-animation: show 0.5s linear both;}
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow{animation: hide 0.5s 0.2s linear both; background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%; background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%; background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%); background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%); background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1))); moz-animation: hide 0.5s 0.3s linear both; webkit-animation: hide 0.5s 0.3s linear both;}

@-webkit-keyframes show{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-moz-keyframes show{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-o-keyframes show{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes show{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes hide{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
@-moz-keyframes hide{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
@-o-keyframes hide{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
@keyframes hide{
	0%{opacity: 1;}
	100%{opacity: 0;}
}


/* --- clock --- */
.clock-wrap{text-align: center; margin: 25px 0;}
.clock-wrap:last-child{margin-bottom: 0;}
.clock{display: inline-block; width: auto;}
.clock .flip-clock-label{bottom: -25px; top: auto; font: 300 12px/18px 'Roboto', Arial, Helvetica, sans-serif; color: #9b9b9b;}
.flip-clock-wrapper ul{height: 60px; width: 40px;}
.flip-clock-wrapper ul li a div div.inn{font-size: 42px; line-height: 60px;}
.flip-clock-divider{height: 70px;}
.flip-clock-dot.top{top: 20px;}
.flip-clock-dot.bottom{bottom: 20px;}
.flip-clock-dot{opacity: .5;}
.flip-clock-divider .flip-clock-label{right: -64px;}
.flip-clock-divider.minutes .flip-clock-label{right: -68px;}
.text-white .flip-clock-label{color: #fff;}
.clock--green.flip-clock-wrapper ul{background: #01734a; box-shadow: 0px 2px 5px rgb(1, 115, 74, .4);}
.clock--green.flip-clock-wrapper ul li a div div.inn{background-color: #348f6e; text-shadow: none;}
.clock--green.flip-clock-wrapper .flip-clock-dot{box-shadow: none; background-color: #348f6e;}


/* --- top message --- */
.top-message{position: fixed; top: 0; left: 0; right: 0; padding: 20px 0; background: #eee; z-index: 105; box-shadow: 0px 1px 7px rgba(16,17,17,.3);
	-ms-transform: translate(0, -100%); -webkit-transform: translate(0, -100%); transform: translate(0, -100%); visibility: hidden; text-align: center;}
.top-message.initialized{transition: all .4s;}
.top-message.open{-ms-transform: translate(0, 0); -webkit-transform: translate(0, 0); transform: translate(0, 0); visibility: visible;}
.top-message--success{background: #2f9407; color: #fff;}
.top-message--error{background: #01734a; color: #fff;}
.top-message__content{display: inline-table; table-layout: fixed; vertical-align: top;}
.top-message__icon,
.top-message__text{display: table-cell; vertical-align: middle;}
.top-message__icon{width: 80px; padding-right: 30px;}
.top-message__icon img{width: 50px; max-height: 50px; vertical-align: middle;}


/* --- fly-consult --- */
.fly-consult{position: fixed; top: 35px; right: 35px; color: #fff; z-index: 100; outline: none; display: block;}
.fly-consult__btn,
.fly-consult__msg{height: 60px; border-radius: 30px; background: #01734a; font-size: 0; overflow: hidden;}
.fly-consult__btn::after,
.fly-consult__msg::after{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.fly-consult__btn{width: 60px; box-shadow: 0px 0px 0px 15px rgba(1,115,74,.2); text-align: center; transition: all .2s;}
.fly-consult__btn img,
.fly-consult__btn svg{display: inline-block; vertical-align: middle;}
.fly-consult__btn svg{width: 20px; height: 30px;}
.fly-consult__btn path{fill: #fff;}
.fly-consult__msg-wrap{max-width: 0px; position: absolute; top: 0; right: 60px; overflow: hidden; transition: opacity .2s, max-width 0s ease .2s; opacity: 0; overflow: hidden; margin-right: 25px;}
.fly-consult__msg{white-space: nowrap; padding: 0 22px;}
.fly-consult__msg .phone-row{vertical-align: middle; display: inline-table;}
.fly-consult__msg .phone-row svg path{fill: #fff;}
.fly-consult__msg .phone-row *{color: #fff;}

.no-touch .fly-consult:hover{color: #fff;}
.fly-consult:hover .fly-consult__msg-wrap,
.fly-consult.fly-consult--static .fly-consult__msg-wrap{opacity: 1; max-width: 400px; transition: opacity .2s; padding-right: 25px; margin-right: 0;}
.fly-consult:hover .fly-consult__btn{box-shadow: 0px 0px 0px 18px rgba(238,49,36,.3);}

.fly-consult.animated .fly-consult__btn{-moz-animation: fly-consult 2s infinite; -webkit-animation: fly-consult 2s infinite; animation: fly-consult 2s infinite;}
/*.fly-consult:hover.animated .fly-consult__btn{-moz-animation: none; -webkit-animation: none; animation: none;}*/
.fly-consult.fly-consult--static,
.fly-consult.fly-consult--base-static{position: relative; top: auto; left: auto; right: auto; display: -webkit-flex; display: -ms-flex; display: flex;}
.fly-consult.fly-consult--static .fly-consult__msg-wrap{-ms-order: -1; -webkit-order: -1; order: -1; position: static;}

@-webkit-keyframes fly-consult{
	0%{box-shadow: 0px 0px 0px 5px rgba(1,115,74,.2);}
	50%{box-shadow: 0px 0px 0px 10px rgba(1,115,74,.25);}
	100%{box-shadow: 0px 0px 0px 5px rgba(1,115,74,.2);}
}
@-moz-keyframes fly-consult{
	0%{box-shadow: 0px 0px 0px 5px rgba(1,115,74,.2);}
	50%{box-shadow: 0px 0px 0px 10px rgba(1,115,74,.25);}
	100%{box-shadow: 0px 0px 0px 5px rgba(1,115,74,.2);}
}
@keyframes fly-consult{
	0%{box-shadow: 0px 0px 0px 5px rgba(1,115,74,.2);}
	50%{box-shadow: 0px 0px 0px 10px rgba(1,115,74,.25);}
	100%{box-shadow: 0px 0px 0px 5px rgba(1,115,74,.2);}
}


/* --- modal container --- */
.modal-container{visibility: hidden; height: 0; overflow: hidden; pointer-events: none;}


/* --- modal --- */
.modal{position: absolute; margin: auto; top: 0; left: 50%; max-width: calc(100vw - 20px); width: 520px; padding: 40px;
	background-color: #fff; color: #252525; box-shadow: 0px 2px 5px rgba(0,0,0,.2); border-radius: 5px; transform: translate3d(-50%,300px,0);
	opacity: 0; visibility: hidden; z-index: 100;}
.modal:not(.loading){transition: .3s;}
.modal:not(.visible){display: none;}
.state--modal-open .modal-container{visibility: visible; overflow: visible; pointer-events: all;}
.state--modal-open .modal.open{opacity: 1; visibility: visible; transform: translate3d(-50%,0,0);}

.modal__header{margin-bottom: 25px;}
.modal__title:first-child{margin-top: -10px;}
.modal__title{margin-right: 50px;}

.modal__close{position: absolute; top: 0; right: 0; padding: 0; width: 45px; height: 45px; background: transparent; color: #777; border: none; box-shadow: none;
	cursor: pointer; transition: .2s;}
.modal__close::before,
.modal__close::after{content: ''; position: absolute; top: 50%; left: 50%; width: 14px; border-top: 3px solid; margin: -1px 0 0 -7px;}
.modal__close::before{transform: rotate(45deg);}
.modal__close::after{transform: rotate(-45deg);}
.no-touch .modal__close:hover{color: #01734a;}
.modal .form-row{max-width: none;}


/* --- tools --- */
.clearfix:after{content: ''; display: table; clear: both;}
.clear{clear: both;}
.hidden{display: none;}
.pull-right{float: right;}
.pull-left{float: left;}
.no-float.no-float{float: none;}
.css-circle-crop{border-radius: 50%;}
.freeze{overflow: hidden;}
.uppercase{text-transform: uppercase;}
.nowrap{white-space: nowrap;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.text-undecorated{text-decoration: none;}
.text-regular{font-weight: 400;}
.text-bold{font-weight: 700;}
.no-border{border: none;}



@media (max-width: 1280px){
	.page-section-content{padding-left: 30px; padding-right: 30px;}
	.page-section-content:not(:only-child){padding: 50px 30px;}
	.page-section-header + .page-section-content{padding-top: 150px;}
	.content-banner-img{padding: 0;}


	/* --- video layout --- */
	.video-layout__text{padding-left: 40px;}


	/* --- infographics grid --- */
	.infographics-col__visual{width: 160px; height: 160px;}


	/* --- steps --- */
	.step-separator{width: 72px; padding: 0 25px;}


	/* --- page footer --- */
	.page-footer{padding: 30px;}
	.page-footer__grid{margin: 0 -10px -30px; width: calc(100% + 20px);}
	.page-footer__col{padding: 0 10px;}



	/* --- grid --- */
	.col-md-1{width: 8.333%;}
	.col-md-2{width: 16.666%;}
	.col-md-3{width: 25%;}
	.col-md-4{width: 33.33%;}
	.col-md-5{width: 41.666%;}
	.col-md-6{width: 50%;}
	.col-md-7{width: 58.333%;}
	.col-md-8{width: 66.666%;}
	.col-md-9{width: 75%;}
	.col-md-10{width: 83.333%;}
	.col-md-11{width: 91.666%;}
	.col-md-12{width: 100%;}
}


@media (max-width: 999px){
	/* --- heading --- */
	h1, .h1{font-size: 42px; line-height: 52px;}
	strong, .strong{font-size: 20px; line-height: 32px;}

	.page-section{display: block; width: auto;}
	.page-section-content,
	.page-section-content:not(:only-child){padding-left: 20px; padding-right: 20px; display: block; width: auto;}
	.page-section-content:nth-last-child(2):first-child .container,
	.page-section-content:nth-last-child(2):first-child ~ .page-section-content .container{margin: 0 auto;}

	.content-banner-img{padding: 0;}
	.content-columns-alt:not(:only-child),
	.content-counter:not(:only-child){padding: 60px 20px 65px;}
	.content-counter:not(:only-child){padding-bottom: 80px;}


	/* --- page section header --- */
	.page-section-header__cell-menu{order: 3; width: 100%; padding: 0;}


	/* --- forms --- */
	.form--inline{margin: 20px auto; max-width: 400px;}
	.form--inline .form__row{display: block; width: auto; padding: 0;}
	.form--inline .form__row--submit{margin: 20px 0;}
	.form--inline .form__row--submit .btn{width: 100%; display: block;}
	.form-title + .form--inline{margin-top: 20px;}


	/* --- text-and-form --- */
	.text-and-form__form:first-child{width: 420px; padding: 0 60px 0 0;}
	.text-and-form__form:last-child{width: 420px; padding: 0 0 0 60px;}
	.text-and-form__form .vertical-form{padding: 25px 20px;}
	.text-and-form__text,
	.text-and-form__text:first-child,
	.text-and-form__text:last-child{padding: 25px 0px 0px;}
	.text-and-form__text:only-child{padding: 15px 0 30px;}


	/* --- video layout --- */
	.video-layout,
	.video-layout__video,
	.video-layout__text{display: block; width: auto; padding: 0;}
	.video-layout__video + .video-layout__text,
	.video-layout__text + .video-layout__video{margin-top: 40px;}


	/* --- infographics --- */
	.infographics-col{margin-bottom: 50px;}
	.infographics-col.col-sm-6:nth-child(2n+1){clear: both;}
	.infographics-col.col-sm-6:nth-last-child(2),
	.infographics-col.col-sm-6:last-child{margin-bottom: 0;}
	.infographics-col__visual{width: 200px; height: 200px;}


	/* --- steps --- */
	.step{padding: 20px 0 20px 30px;}


	/* --- page footer --- */
	.page-footer{padding-left: 20px; padding-right: 20px;}
	.page-footer__phone-col.col-sm-12{margin-top: 30px;}


	/* --- grid --- */
	.col-sm-1{width: 8.333%;}
	.col-sm-2{width: 16.666%;}
	.col-sm-3{width: 25%;}
	.col-sm-4{width: 33.33%;}
	.col-sm-5{width: 41.666%;}
	.col-sm-6{width: 50%;}
	.col-sm-7{width: 58.333%;}
	.col-sm-8{width: 66.666%;}
	.col-sm-9{width: 75%;}
	.col-sm-10{width: 83.333%;}
	.col-sm-11{width: 91.666%;}
	.col-sm-12{width: 100%;}
}


@media (max-width: 767px){

	/* --- text-and-form --- */
	.text-and-form,
	.text-and-form__text,
	.text-and-form__text:first-child,
	.text-and-form__text:last-child,
	.text-and-form__form,
	.text-and-form__form:first-child,
	.text-and-form__form:last-child{display: block; width: auto; padding: 0; margin-top: 0; height: auto;}

	/* progressive enhancement */
	.text-and-form{display: -webkit-flex; display: flex; -weblit-flex-direction: column; flex-direction: column;}
	.text-and-form__text{order: 1;}
	.text-and-form__form{order: 2;}
	.text-and-form__form:first-child,
	.text-and-form__form:last-child{margin-top: 50px;}

	.text-and-form__text .text-container{margin: 0 auto; text-align: center; max-width: 600px;}
	.text-and-form__form .vertical-form{max-width: 400px; margin: 0 auto;}
	.text-and-form__form{margin-left: -20px; margin-right: -20px;}


	/* --- infographics --- */
	.infographics-col.col-sm-6:nth-last-child(2){margin-bottom: 50px;}
	.infographics-inline-col:nth-last-child(2){margin-bottom: 25px;}


	/* --- twocol-banner --- */
	.twocol-banner{display: block;}
	.twocol-banner__img,
	.twocol-banner__text{display: block; padding: 30px 0;}


	/* --- steps --- */
	.step{display: inline-block; width: calc(100% - 52px); margin-bottom: 20px;}
	.step-separator{display: inline-block; margin-bottom: 20px; padding-right: 0; width: 47px; margin-right: -3px;}
	.step-separator::before{height: 50px;}
	.step:nth-last-child(2),
	.step-separator:last-child{display: inline-block; margin-bottom: 0;}


	/* --- video layout --- */
	.video-layout__video video,
	.video-layout__video .video-js,
	.content-video-cover .video-js.video-js,
	.content-video-cover .video-js video{min-height: 200px; height: auto;}


	/* --- clock --- */
	.flip-clock-wrapper{margin: 0;}


	/* --- page footer --- */
	.page-footer{padding: 30px 20px;}
	.page-footer__grid{margin: 0 -10px -20px; width: calc(100% + 20px);}
	.page-footer__col{padding: 0 10px; margin-bottom: 20px;}


	/* --- page section header --- */
	.page-section-header{padding: 10px 20px;}
	.page-section-header__cell-menu{display: none;}
	.page-section-header__cell-aside{padding: 0;}


	/* --- consult box --- */
	.consult-box{padding: 15px 150px 15px 20px;}
	.consult-box__girl{right: 10px;}


	/* --- footer credits --- */
	.footer-credits__left,
	.footer-credits__right{float: none; margin-bottom: 8px;}
	.footer-credits__keft:last-child,
	.footer-credits__right:last-child{margin-bottom: 0;}


	/* --- top message --- */
	.top-message{padding: 15px 0;}
	.top-message__icon{padding-right: 20px; width: 70px;}
	.top-message__text{font-size: 20px; line-height: 30px;}


	/* --- steps --- */
	.steps{display: block; border-radius: 4px;}
	.step.step{display: block; width: auto; padding: 15px 10px; margin: 0;}
	.step::after{display: none;}
	.step strong,
	.step small{font-size: 15px; line-height: 23px;}


	/* --- fly consult --- */
	.fly-consult__msg-wrap{display: none;}
	.fly-consult__btn{width: 50px; height: 50px;}


	/* --- modal --- */
	.modal{padding: 20px 20px 30px;}
	.modal__header{margin-bottom: 15px;}
	.modal__title:first-child{margin-top: 0;}


	/* --- grid --- */
	.col-xs-1{width: 8.333%;}
	.col-xs-2{width: 16.666%;}
	.col-xs-3{width: 25%;}
	.col-xs-4{width: 33.33%;}
	.col-xs-5{width: 41.666%;}
	.col-xs-6{width: 50%;}
	.col-xs-7{width: 58.333%;}
	.col-xs-8{width: 66.666%;}
	.col-xs-9{width: 75%;}
	.col-xs-10{width: 83.333%;}
	.col-xs-11{width: 91.666%;}
	.col-xs-12{width: 100%;}
}


@media (max-width: 479px){
	.logo{width: 160px; height: 15px;}
}


@media (max-width: 400px){
	.content-text-and-form{padding-bottom: 0;}


	/* --- clock --- */
	.flip-clock-wrapper ul{height: 45px; width: 30px;}
	.flip-clock-wrapper ul li a div div.inn{font-size: 36px; line-height: 45px;}
	.flip-clock-divider{height: 55px; width: 16px;}
	.flip-clock-dot.top{top: 15px;}
	.flip-clock-dot.bottom{bottom: 15px;}
	.flip-clock-dot{opacity: .5; left: 3px;}
	.flip-clock-divider .flip-clock-label{right: -53px;}
	.flip-clock-divider.minutes .flip-clock-label{right: -59px;}


	/* --- modal --- */
	.modal{padding: 20px 10px 20px;}
}