<template>
	<div class="kraft-flexer">
		<div id="kraft-toolbar">
			<v-layout row child-flex wrap>
				<div>
					<v-toolbar dense dark class="asb--bg">
						<v-btn icon :to="{name:'dashboard'}">
							<v-icon>featured_play_list</v-icon>
						</v-btn>
						<v-spacer></v-spacer>
						<v-toolbar-title @click="toolbar.easter=!toolbar.easter">
							<span :class="{'glitch':toolbar.easter}">Лендинги</span>
						</v-toolbar-title>
						<v-spacer></v-spacer>
					</v-toolbar>
				</div>
				<div>
					<v-toolbar dense light>
						<v-btn icon @click.stop="settings.show=true">
							<v-icon>info</v-icon>
						</v-btn>
						<v-btn icon @click="saveCreature()" title="Сохранить">
							<v-icon v-if="settings.save_progress===0">save</v-icon>
							<v-progress-circular v-if="settings.save_progress>0 && settings.save_progress<1"
							                     indeterminate
							                     color="green"></v-progress-circular>
							<v-icon v-if="settings.save_progress===1" color="success">check_circle</v-icon>
							<v-icon v-if="settings.save_progress===-1" color="red">error</v-icon>
						</v-btn>
						<v-btn icon @click="openExternal(creature)" title="Открыть в браузере">
							<v-icon>open_in_browser</v-icon>
						</v-btn>
						<v-spacer></v-spacer>
						<span>{{creature.name}}</span>
						<v-spacer></v-spacer>
						<v-btn icon @click="workspace.slides=!workspace.slides">
							<v-icon :color="workspace.slides?'orange':'grey'">view_agenda</v-icon>
						</v-btn>
						<v-btn icon @click="workspace.viewport_tuner=!workspace.viewport_tuner">
							<v-icon :color="workspace.viewport_tuner?'orange':'grey'">phonelink</v-icon>
						</v-btn>
						<v-btn icon @click="toggleTuner">
							<v-icon :color="tuner.visible?'orange':'grey'">gavel</v-icon>
						</v-btn>
					</v-toolbar>
				</div>
			</v-layout>
		</div>
		<div id="kraft-editor" v-if="workspace.loaded">
			<div id="kraft-slides" v-if="workspace.slides">
				<kraft-slides :parent="this"></kraft-slides>
			</div>
			<div id="kraft-workspace">
				<div v-show="$model.slides.length" id="kraft-viewport" :class="workspace.wireframe_class">
					<div class="viewbox-zoom" :style="workspace.wireframe_zoom">
						<div id="kraft-viewbox" class="viewbox">
							<kraft-app-frame
								id="kraft-view"
								:src="workspace.frame_src"
							></kraft-app-frame>
						</div>
					</div>
				</div>
				<div v-show="!$model.slides.length">
					<div class="display-3 text-xs-center grey--text text--lighter-4">Нет этажей</div>
				</div>
				<kraft-viewframe-tuner
					v-if="workspace.viewport_tuner"
					id="kraft-viewframe-tuner"
					@change="viewframeChanged"
				></kraft-viewframe-tuner>
			</div>
			<div id="kraft-tuner" :class="{'open':tuner.visible}">
				<kraft-slide-tuner
					:tuner="tuner"
				></kraft-slide-tuner>
			</div>
		</div>
		<kraft-creature-settings v-if="workspace.loaded" v-model="settings" @save="saveCreature"></kraft-creature-settings>
		<div v-if="!workspace.loaded" class="kraft-workspace-loading">
			<v-progress-circular indeterminate :size="50" :width="3" color="orange"></v-progress-circular>
		</div>
	</div>
</template>
<script>define([
  'Vue',
  'vue!kraft/app-frame',
  'vue!kraft/viewframe-tuner',
  'vue!kraft/slides',
  'vue!kraft/slide-tuner',
  'vue!kraft/creature-settings'
], function(Vue){
  Vue.component('kraft', {
    template: template,

    data: function(){
      return {
        creature: {},
        settings: {
          show: false,
          save_progress: 0
        },
        split: null,
        toolbar: {
          easter: false
        },
        workspace: {
          slides: false,
          loaded: false,
          frame_src: '',
          viewport_tuner: false,
          wireframe_class: 'viewbox',
          wireframe_zoom: ''
        },
        tuner: {
          activeSlide: '',
          visible: false
        }
      }
    },

    mounted: function(){
      var self = this;
      self.workspace.loaded = false;
      self.$model.loadCreature(self.$route.params.id);
    },

    created: function(){
      var self = this;

      self.$on('slide.active', function(slide){
        self.tuner.activeSlide = slide.id;
        self.toggleTuner(slide.id ? true : false);
        if (slide.id){
          self.$root.$emit('slide.active', {id: slide.id});
        }
      });

      self.$model.$off('creature.loaded');
      self.$model.$off('slide.render');

      self.$model.$on('creature.loaded', function(){
        self.creature = self.$model.creature;
        self.workspace.slides = true;
        self.workspace.frame_src = self.$model.ziegelBase();

        _.delay(function(){
          self.workspace.loaded = true;
        }, 250);
      });

      self.$model.$on('slide.render', function(){
        self.$root.$emit('slide.render');
      })
    },

    methods: {
      viewframeChanged: function(e){
        e = e || {};
        this.workspace.wireframe_class = ['viewbox', e.device || '', e.viewport || ''].join(' ');
        this.workspace.wireframe_zoom = e.scale ? 'transform: scale(' + (e.scale / 100) + ');' : '';
      },

      toggleTuner: function(force){
        this.tuner.visible = typeof force === 'boolean' ? force : !this.tuner.visible;
      },

      openExternal: function(path){
        var link = typeof path === 'string' ? path : null;
        if (!link)
          link = path.server_path || this.$model.rootPath() + path.web_path + '/';
        window.open(link, '_blank');
      },

      saveCreature: function(){
        var self = this;
        if (self.settings.save_progress > 0)
          return;

        self.settings.save_progress = 0.1;
        self.$model.saveCreature()
          .then(function(){
            self.settings.save_progress = 1;
            _.delay(function(){
              self.settings.save_progress = 0;
            }, 1000);
          }, function(){
            self.settings.save_progress = -1;
            _.delay(function(){
              self.settings.save_progress = 0;
            }, 1000);
          });
      }
    }
  });
});
</script>