<template>
	<v-layout>
		<v-flex class="flexy">
			<v-toolbar densed class="asb--bg">
				<v-toolbar-title>Лендинги и формы</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn icon color="white--text" @click="logoff">
					<v-icon>exit_to_app</v-icon>
				</v-btn>
			</v-toolbar>
			<v-container v-if="loaded" fluid class="grey lighten-3 kraft-grid">
				<v-layout wrap>
					<v-flex sm10 offset-sm1>
						<div class="headline px-2">
							Лендинги
							<v-btn dark small color="teal" icon title="Добавить"
							       @click="creaturePathEditor('')">
								<v-icon>add</v-icon>
							</v-btn>
						</div>
						<v-layout row wrap>
							<v-flex v-for="creature in creatures"
							        sm3 px-2 my-2 :key="creature.id">
								<v-card>
									<v-card-title>
										<div class="headline" v-text="creature.name"></div>
										<div v-text="creature.server_path"></div>
									</v-card-title>
									<v-card-actions class="white">
										<v-btn icon @click="openExternal(creature.server_path)" title="Открыть в браузере">
											<v-icon>open_in_browser</v-icon>
										</v-btn>
										<v-btn icon @click="creaturePathEditor(creature.id)" title="Переместить">
											<v-icon>link</v-icon>
										</v-btn>
										<v-spacer></v-spacer>
										<v-btn icon :to="'creature/' + creature.id">
											<v-icon>edit</v-icon>
										</v-btn>
									</v-card-actions>
								</v-card>
							</v-flex>
						</v-layout>
					</v-flex>
					<v-flex sm10 offset-sm1 mt-4>
						<div class="headline px-2">
							Формы
							<v-btn dark small color="teal" icon title="Добавить"
							       @click="openFormEditor">
								<v-icon>add</v-icon>
							</v-btn>
						</div>
						<v-layout row wrap>
							<v-flex v-for="form in forms"
							        sm3 px-2 my-2 :key="form.id">
								<v-card>
									<v-card-title>
										<v-flex class="headline">{{form.name}}</v-flex>
										<v-flex small>Код: {{form.code}}</v-flex>
										<v-flex v-if="form.fields&&form.fields.length">Полей: {{form.fields.length}}</v-flex>
									</v-card-title>
									<v-card-actions class="white">
										<v-spacer></v-spacer>
										<v-btn icon :to="'form/' + form.id">
											<v-icon>edit</v-icon>
										</v-btn>
									</v-card-actions>
								</v-card>
							</v-flex>
						</v-layout>
					</v-flex>
				</v-layout>
			</v-container>
			<div v-if="!loaded" class="kraft-workspace-loading">
				<v-progress-circular indeterminate :size="50" :width="3" color="orange"></v-progress-circular>
			</div>
		</v-flex>
		<v-dialog v-model="pathEditor.open" max-width="400">
			<v-card>
				<v-card-title class="headline">
					<span v-if="pathEditor.id">Перемещение лендинга</span>
					<span v-else>Новый лендинг</span>
				</v-card-title>
				<v-card-text>
					<v-alert v-if="pathEditor.warning" color="error" icon="warning"
					         value="true" v-text="pathEditor.warning"></v-alert>
					<v-text-field
						label="Символьный код (директория)"
						placeholder="/promo/"
						v-model="pathEditor.path"
					></v-text-field>
					<v-text-field
						v-if="!pathEditor.id"
						label="Название"
						placeholder="Новый лендинг"
						v-model="pathEditor.name"
					></v-text-field>
					<v-select v-model="pathEditor.ziegel" disabled
					          :items="ziegels" item-text="name" item-value="id" label="Тип лендинга"></v-select>
				</v-card-text>
				<v-card-actions>
					<v-btn v-if="pathEditor.id" color="red darken-1" flat @click="pathEditor.path='';savePath()">Удалить</v-btn>
					<v-spacer></v-spacer>
					<v-btn flat @click="pathEditor.open=false">Отмена</v-btn>
					<v-btn color="green darken-1" flat @click="savePath">Сохранить</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-dialog v-model="formEditor.open" max-width="400">
			<v-card>
				<v-card-title class="headline">Новая форма</v-card-title>
				<v-card-text>
					<v-alert v-if="formEditor.warning" color="error" icon="warning"
					         value="true" v-text="formEditor.warning"></v-alert>
					<v-text-field
						label="Название"
						placeholder="Заявка на кредит"
						v-model="formEditor.name"
					></v-text-field>
					<v-text-field
						label="Символьный код"
						placeholder="loan-basic"
						v-model="formEditor.code"
					></v-text-field>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn flat @click="formEditor.open=false">Отмена</v-btn>
					<v-btn color="green darken-1" flat @click="saveForm">Сохранить</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-layout>
</template>
<script>define(['Vue'], function(Vue){
  Vue.component('pult', {
    template: template,

    data: function(){
      return {
        creatures: [],
        forms: [],
        mode: 'grid',
        loaded: false,
        ziegels: [],
        pathEditor: {
          open: false,
          id: '',
          originalPath: '',
          path: '',
          warning: '',
          ziegel: 'asb',
          name: ''
        },
        formEditor: {
          open: false,
          id: '',
          code: '',
          name: ''
        }
      }
    },

    created: function(){
      var self = this;
      self.loaded = false;
      self.fetchZiegels()
        .then(self.fetchCreatures)
        .then(self.fetchForms)
        .then(function(){
          self.loaded = true;
        })
    },

    methods: {
      logoff: function(){
        this.$state.logOff();
        this.$router.replace({name: 'auth'});
      },

      fetchZiegels: function(){
        var self = this;
        return this.$model.listZiegels().then(function(ziegels){
          self.ziegels.splice(0);
          _.each(ziegels, function(z){
            self.ziegels.push(z);
          });
        })
      },

      fetchCreatures: function(){
        var self = this;
        self.pathEditor.open = false;
        return new Promise(function(done, fail){
          self.$model.fetchCreatures().then(function(creatures){
            self.creatures.splice(0);
            _.each(creatures, function(c){
              self.creatures.push(c);
            });
            done();
          }, function(){
            fail();
          });
        });
      },

      fetchForms: function(){
        var self = this;
        self.formEditor.open = false;
        return self.$model.fetchForms().then(function(forms){
          self.forms = forms;
        })
      },

      openExternal: function(path){
        window.open(path, '_blank');
      },

      creaturePathEditor: function(id){
        this.pathEditor.id = id;
        var c = _.find(this.creatures, {id: id});
        if (c){
          this.pathEditor.path = c.server_path;
        } else {
          this.pathEditor.path = '';
        }
        this.pathEditor.originalPath = this.pathEditor.path || '';
        this.pathEditor.warning = false;
        this.pathEditor.open = true;
      },

      savePath: function(){
        var self = this;
        var data = this.pathEditor;
        if (!data.id)
          data.id = _.uid();
        this.$model.updateCreature(data).then(this.fetchCreatures, function(reason){
          self.pathEditor.warning = reason || 'Не удалось сохранить (network error)';
        });
      },

      openFormEditor: function(){
        this.$set(this.$data, 'formEditor', {
          open: true,
          name: '',
          code: '',
          id: _.uid(),
          warning: ''
        });
      },

      saveForm: function(){
        var self = this;
        var data = _.pick(this.formEditor, 'id', 'code', 'name');
        this.$model.updateForm(data).then(this.fetchForms, function(reason){
          self.formEditor.warning = reason || 'Не удалось сохранить (network error)';
        });
      }
    }
  })
});
</script>