<template>
	<v-app :class="routeClass">
		<router-view></router-view>
	</v-app>
</template>
<script>
  define([
    'Vue', 'VueRouter',
    'vue!werft/auth',
    'vue!werft/toolbar',
    'vue!pult',
    'vue!kraft',
    'vue!form/base',
    'vue!form/antrage'
  ], function(Vue, VueRouter){
    var router = new VueRouter({
      history: false,
      hashbang: true,

      routes: [
        {
          path: '/auth',
          name: 'auth',
          component: Vue.component('werft-auth')
        },
        {
          path: '/werft',
          name: 'dashboard',
          component: Vue.component('pult')
        },
        {
          path: '/creature/:id',
          component: Vue.component('kraft')
        },
        {
          path: '/form/:id',
          component: Vue.component('form-base')
        },
        {
          path: '/form/:id/antrag',
          component: Vue.component('form-antrage')
        },
        {
          path: '*',
          meta: {
            state: Vue.prototype.$state
          },
          beforeEnter: function(to, from, next){
            to.meta.state.checkAuth().then(function(){
              next({name: 'dashboard'})
            }, function(){
              next({name: 'auth'});
            })
          }
        }
      ]
    });

    router.beforeEach(function(to, from, next){
      next();
    });

    return new Vue({
      template: template,

      router: router,

      computed: {
        routeClass: function(){
          return 'route-' + this.$route.name;
        }
      }
    })
  });
</script>