<template>
	<section class="page-section">
		<div class="page-section-content content-twocol-banner text-white" style="background-image: linear-gradient(to right, #5fbe5f, #00b494);">
			<div class="container">
				<div class="twocol-banner">
					<div class="twocol-banner__img">
						<img :src="banner_img" alt="">
					</div>
					<div class="twocol-banner__text" v-html="text">

					</div>
				</div>
			</div>

			<a :href="banner_link" class="area-link"></a>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-banner-background', {
      template: template,

      kraft: {
        name: 'Баннер с фоновым изображением',
        props: [
          {
            id: 'text',
            type: 'text',
            label: 'Текст на баннере',
            default: '<h2>Visa Gold в подарок до 1 мая</h2><ul class="dashed-ul"><li>Премиальное обслуживание и привилегии по всему миру.</li><li>Скидки у партнеров в Беларуси.</li><li>Улучшенная безопасность карты: чит + PayPass.</li><li>Бесплатный выпуск карты. Бесплатное обслуживание на 2 года.</li></ul>'
          },
          {
            id: 'banner_img',
            type: 'textarea',
            label: 'Картинка баннера',
            default: '../asb/images/markup-images/backgrounds/background-5-part.png'
          },
          {
            id: 'banner_link',
            type: 'text',
            label: 'Ссылка баннера',
            default: '#'
          }
        ]
      },

      props: {
        text: {},
        banner_img: {},
        banner_link: {}
      }
    });
  });
</script>
