<template>
	<section class="page-section">
		<div class="page-section-content content-columns-alt text-white" :style="'background-image: '+info_background">
			<div class="container">
				<h2 class="text-center" v-text="info_title"></h2>

				<div class="infographics-row row">
					<div v-for="item in items" class="infographics-inline-col col col-lg-6 col-xs-12">
						<div class="infographics-inline-col__table">
							<div v-if="item.icon" class="infographics-inline-col__icon-box">
								<img :src="item.icon" alt="">
							</div>
							<div class="infographics-inline-col__text-box">
								<div class="infographics-inline-col__title" v-text="item.title"></div>
							</div>
						</div>
					</div>
				</div>

				<div v-html="info_text"></div>
			</div>
		</div>
		<div class="page-section-content content-video-cover text-white" :style="'background-image: '+video_background">
			<div class="container">
				<h2 class="text-center" v-html="video_title"></h2>

				<div class="video-layout">
					<div class="video-layout__video">
						<video class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto">
							<source :src="video_src" type="video/mp4">
							<p class="vjs-no-js">
								Для просмотра видео требуется
								<a href="http://videojs.com/html5-video-support/" target="__blank">браузер с поддержкой HTML5</a>
							</p>
						</video>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-info-video', {
      template: template,

      mounted: function(){
        if (window.kraftRolled){
          var self = this;
          require(['videojs'], function(videojs){
            if (typeof window.videojs === 'undefined')
	            window.videojs = videojs;
            View.init.local.initVideo(self.$el);
          })
        }
      },

      props: [
        'info_title', 'info_text', 'info_background', 'items',
        'video_title', 'video_src', 'video_background'],

      kraft: {
        name: 'Инфографика + видео',
        props: [
          {
            id: 'info_title',
            type: 'text',
            label: 'Инфографика: заголовок',
            default: 'Заголовок'
          },
          {
            id: 'info_text',
            type: 'text',
            label: 'Инфографика: описание',
            default: '<h3>Что еще нужно знать?</h3><p>Текст</p>'
          },
          {
            id: 'info_background',
            type: 'background',
            label: 'Инфографика: фон',
            default: 'url(../asb/images/markup-images/backgrounds/background-8.jpg)'
          },
          {
            id: 'video_title',
            type: 'text',
            label: 'Видео: заголовок'
          },
          {
            id: 'video_src',
            type: 'text',
            label: 'Видеоролик (прямая ссылка)'
          },
          {
            id: 'video_background',
            type: 'background',
            label: 'Видео: фон',
            default: 'linear-gradient(to bottom, #393637, #231f20)'
          },
          {
            id: 'items',
            type: 'multi',
            label: 'Инфографика',
            fields: [
              {
                id: 'title',
                type: 'text',
                label: 'Заголовок'
              },
              {
                id: 'icon',
                type: 'select',
                label: 'Иконка',
                values: [
                  {name: '- нет -', value: ''},
                  {name: 'Процент', value: '../asb/images/markup-images/icons/icon-1.png'},
                  {name: 'Файл', value: '../asb/images/markup-images/icons/icon-2.png'},
                  {name: 'Календарь', value: '../asb/images/markup-images/icons/icon-3.png'},
                  {name: 'Контакт', value: '../asb/images/markup-images/icons/icon-4.png'}
                ]
              }
            ]
          }
        ]
      }
    })
  });
</script>