<template>
	<section class="page-section">
		<div class="page-section-content content-horizontal-form text-white" style="background-image: linear-gradient(to right, #5fbe5f, #00b494);">
			<div class="container">
				<div class="horizontal-form">
					<h2 class="form-title">{{title}}</h2>
					<div class="form-subtitle">{{subtitle}}</div>

					<kraft-form :form="form" :submit_text="button_form" class="form--inline">
						<div slot="after" class="form__row form__row--submit">
							<button type="submit" class="btn btn--bright">
								<span class="btn__text">{{button_form}}</span>
							</button>
						</div>
					</kraft-form>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-form-horizontal', {
      template: template,

      kraft: {
        name: 'Горизонтальная форма',
        props: [
          {
            id: 'title',
            type: 'text',
            label: 'Заголовок',
            default: 'Получите консультацию'
          },
          {
            id: 'subtitle',
            type: 'text',
            label: 'Подзаголовок',
            default: 'Бесплатно. Ни к чему не обязывает.'
          },
          {
            id: 'button_form',
            type: 'text',
            label: 'Текст кнопки',
            default: 'Получите консультацию'
          },
          {
            id: 'form',
            type: 'form',
            label: 'Форма'
          }
        ]
      },

      props: {
        title: {},
        subtitle: {},
        button_form: {},
        form: {}
      }
    });
  });
</script>
