<template>
	<section class="page-section">
		<div class="page-section-content content-columns-alt">
			<div class="container">
				<h2 class="text-center">Для лучшей жизни. И точка.</h2>

				<div class="infographics-row row">
					<div class="infographics-inline-col col col-lg-6 col-xs-12">
						<div class="infographics-inline-col__table">
							<div class="infographics-inline-col__icon-box">
								<img src="../images/markup-images/icons/icon-1.png" alt="">
							</div>
							<div class="infographics-inline-col__text-box">
								<div class="infographics-inline-col__title">Особые условия: ставка от 38% годовых</div>
								<div class="infographics-inline-col__link"><a href="#">Расчет выплат</a></div>
							</div>
						</div>
					</div>

					<div class="infographics-inline-col col col-lg-6 col-xs-12">
						<div class="infographics-inline-col__table">
							<div class="infographics-inline-col__icon-box">
								<img src="../images/markup-images/icons/icon-2.png" alt="">
							</div>
							<div class="infographics-inline-col__text-box">
								<div class="infographics-inline-col__title">Только ставка: без страховок и комиссий</div>
								<div class="infographics-inline-col__link"><a href="#">Подробнее</a></div>
							</div>
						</div>
					</div>

					<div class="infographics-inline-col col col-lg-6 col-xs-12">
						<div class="infographics-inline-col__table">
							<div class="infographics-inline-col__icon-box">
								<img src="../images/markup-images/icons/icon-3.png" alt="">
							</div>
							<div class="infographics-inline-col__text-box">
								<div class="infographics-inline-col__title">Срок кредита от 6 до 48 месяцев</div>
								<div class="infographics-inline-col__link"><a href="#">Ставка от срока</a></div>
							</div>
						</div>
					</div>

					<div class="infographics-inline-col col col-lg-6 col-xs-12">
						<div class="infographics-inline-col__table">
							<div class="infographics-inline-col__icon-box">
								<img src="../images/markup-images/icons/icon-4.png" alt="">
							</div>
							<div class="infographics-inline-col__text-box">
								<div class="infographics-inline-col__title">Без залога и поручителей</div>
								<div class="infographics-inline-col__link"><a href="#">Список документов</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-section-content content-counter text-white" style="background-image: url(../images/markup-images/backgrounds/background-7.jpg);">
			<div class="container">
				<h2 class="text-center">До завершения акции</h2>
				<h4 class="text-center">Более 2000 заявок за 2 месяца</h4>

				<div class="clock-wrap">
					<div class="clock js-flip-clock" data-counter-end="2018-01-20"></div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-info-countdown', {
      template: template,

      props: [],

      kraft: {
        name: 'Инфографика + таймер'
      }
    })
  })
</script>