<template>
	<section class="page-section">
		<div :class="'page-section-header '+(header_transparent?'page-section-header--transparent':'')">
			<div class="container">
				<div class="page-section-header__row">
					<div class="page-section-header__cell-logo">
						<a href="#" class="logo">
							<svg class="svg-icon">
								<use xlink:href="#svg-icon-logo"></use>
							</svg>
						</a>
					</div>
					<div v-if="menu.length" class="page-section-header__cell-menu">
						<nav class="header-menu">
							<div v-for="m in menu" class="header-menu__item">
								<a :href="m.link" class="header-menu__link js-anchor">{{m.text}}</a>
							</div>
						</nav>
					</div>
					<div class="page-section-header__cell-aside">
						<a href="tel:147" class="fly-consult fly-consult--base-static animated">
							<div class="fly-consult__btn">
								<svg class="svg-icon">
									<use xlink:href="#svg-icon-phone"></use>
								</svg>
							</div>
							<div class="fly-consult__msg-wrap">
								<div class="fly-consult__msg">
									<div class="phone-row">
											<span class="phone-row__icon">
												<svg class="svg-icon"><use xlink:href="#svg-icon-phone"></use></svg>
											</span>
										<span class="phone-row__value">{{phone}}</span>
										<span class="phone-row__comment" v-html="contactPhone"></span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-section-content content-text-and-form text-black"
		     :style="'background-image: '+background">
			<div class="container">
				<div class="text-and-form">
					<div v-if="form" class="text-and-form__form">
						<div class="vertical-form vertical-form--bg">
							<h3 class="form-title">{{title_form}}</h3>
							<div class="form-subtitle">{{subtitle_form}}</div>

							<kraft-form :form="form" :submit_text="button_form"></kraft-form>

							<div class="form__note">{{form_note}}</div>
						</div>
					</div>
					<div class="text-and-form">
						<div class="text-and-form__text">
							<div class="text-container">
								<h1>{{headTitle}}</h1>
								<p v-html="headText"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-head-text', {
      template: template,

      kraft: {
        name: 'Меню + форма на баннере',
        props: [
          {
            id: 'headTitle',
            type: 'text',
            label: 'Заголовок',
            default: 'Заголовок'
          },
          {
            id: 'headText',
            type: 'textarea',
            label: 'Подзаголовок',
            default: '<b>Подзаголовок с <i>форматированием</i></b>'
          },
          {
            id: 'header_transparent',
            type: 'checkbox',
            label: 'Прозрачное меню',
            default: false
          },
          {
            id: 'background',
            type: 'background',
            label: 'Фон',
            default: 'linear-gradient(to right, rgba(1,115,74,.5), rgba(0,0,0,0))'
          },
          {
            id: 'menu',
            type: 'multi',
            label: 'Пункты меню',
            fields: [
              {
                id: 'link',
                type: 'text',
                label: 'Ссылка',
                default: '#'
              },
              {
                id: 'text',
                type: 'text',
                label: 'Название',
                default: 'Пункт меню'
              }
            ]
          },
          {
            id: 'phone',
            type: 'text',
            label: 'Телефон',
            default: '147'
          },
          {
            id: 'contactPhone',
            type: 'textarea',
            label: 'Комментарий к телефону',
            default: 'Контактный <br> телефон'
          },
          {
            id: 'title_form',
            type: 'text',
            label: 'Заголовок формы',
            default: 'Получите консультацию'
          },
          {
            id: 'subtitle_form',
            type: 'text',
            label: 'Подзаголовок формы',
            default: 'Бесплатно. Ни к чему не обязывает.'
          },
          {
            id: 'button_form',
            type: 'text',
            label: 'Текст кнопки',
            default: 'Получите консультацию'
          },
          {
            id: 'button_form',
            type: 'text',
            label: 'Текст кнопки',
            default: 'Получите консультацию'
          },
          {
            id: 'form_note',
            type: 'text',
            label: 'Подпись под кнопкой',
            default: 'Консультант перезвонит через 15 минут'
          },
          {
            id: 'form',
            type: 'form',
            label: 'Форма'
          }
        ]
      },

      props: {
        headTitle: {},
        headText: {},
        background: {},
        header_transparent: {},
        menu: {},
        phone: {},
        title_form: {},
        subtitle_form: {},
        button_form: {},
        form_note: {},
        contactPhone: {},
        form: {}
      }
    });
  });
</script>
