<template>
	<section class="page-section">
		<div class="page-section-content content-video">    <!-- фон по умолчанию -->
			<div class="container">
				<h2 class="text-center">{{title}}</h2>

				<div class="video-layout">
					<div class="video-layout__video">
						<video class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto">
							<source :src="video_link" type="video/mp4">
							<p class="vjs-no-js">
								To view this video please enable JavaScript, and consider upgrading to a web browser that
								<a href="http://videojs.com/html5-video-support/" target="__blank">supports HTML5 video</a>
							</p>
						</video>
					</div>
					<div class="video-layout__text">

						<div v-html="text"></div>
						<p><a :href="button_link" class="btn btn--primary">{{button_text}}</a></p>

					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-video-text', {
      template: template,

      mounted: function(){
        if (window.kraftRolled){
          var self = this;
          require(['videojs'], function(videojs){
            if (typeof window.videojs === 'undefined')
              window.videojs = videojs;
            View.init.local.initVideo(self.$el);
          })
        }
      },

      kraft: {
        name: 'Видео с текстом',
        props: [
          {
            id: 'button_text',
            type: 'text',
            label: 'Текст кнопки',
            default: 'Узнать больше'
          },
          {
            id: 'video_link',
            type: 'text',
            label: 'Ссылка на видеофайл',
            default: ''
          },
          {
            id: 'button_link',
            type: 'text',
            label: 'Ссылка на кнопке',
            default: '#'
          },
          {
            id: 'text',
            type: 'textarea',
            label: 'Текст',
            default: '<p><strong>Осообые условия: ставка от 38% годовых</strong></p><p>Сумма до 300 000 000 белорусских рублей без залога и поручителей на срок до 4 лет. Кредит погашается ежемесячно равными частями, что позволяет легко планировать бюджет.</p><p>В ситуации, когда собственных средств недостаточно, кредитная карта Беларусбанка поддержит вас и поможет осуществить мечты! Не пользуетесь «кредиткой» - деньги все равно остаются при вас, но платить за это не нужно.</p>'
          },
          {
            id: 'title',
            type: 'text',
            label: 'Заголовок',
            default: 'Для лучшей жизни. И точка.'
          }
        ]
      },

      props: {
        title: {},
        text: {},
        video_link: {},
        button_link: {},
        button_text: {}
      }
    });
  });
</script>
