<template>
	<section class="page-section">
		<div class="page-section-content content-vertical-form text-white" :style="'background-image: '+background">
			<div class="container">
				<h2 class="text-center" v-text="title"></h2>
				<h4 class="text-center" v-text="subtitle"></h4>

				<div v-if="steps.length" class="steps flc">
					<div v-for="step in steps" class="step"><strong>{{step.name}}</strong>
						<small>{{step.text}}</small>
					</div>
				</div>

				<div class="vertical-form vertical-form--middle vertical-form--undecorated">
					<kraft-form :form="form" class="form--grouped"></kraft-form>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-form-steps', {
      template: template,

      props: ['background', 'steps', 'title', 'subtitle', 'button_form', 'form'],

      kraft: {
        name: 'Форма с шагами',
        props: [
          {
            id: 'background',
            type: 'background',
            label: 'Фон',
            default: 'url(../asb/images/markup-images/backgrounds/background-8.jpg)'
          },
          {
            id: 'title',
            type: 'text',
            label: 'Заголовок формы',
            default: 'Онлайн-заявка на кредит'
          },
          {
            id: 'subtitle',
            type: 'text',
            label: 'Подзаголовок формы',
            default: 'После оформления заявки, менеджер Беларусбанка свяжется с вами'
          },
          {
            id: 'button_form',
            type: 'text',
            label: 'Текст кнопки',
            default: 'Получите консультацию'
          },
          {
            id: 'form',
            type: 'form',
            label: 'Форма'
          },
          {
            id: 'steps',
            type: 'multi',
            label: 'Шаги',
            fields: [
              {
                id: 'name',
                type: 'text',
                label: 'Название',
                default: 'Шаг X'
              },
              {
                id: 'text',
                type: 'text',
                label: 'Описание',
                default: 'Действие'
              }
            ]
          }
        ]
      }
    })
  })
</script>