<template>
	<div>
		<section class="page-section">
			<div class="page-section-content content-horizontal-form text-white" style="background-image: linear-gradient(to right, #5fbe5f, #00b494);">
				<div class="container">
					<div class="horizontal-form">
						<h2 class="form-title">{{title}}</h2>
						<div class="form-subtitle">{{subtitle}}</div>
						<div v-if="form" class="form__row form__row--submit">
							<button type="button" class="btn btn--bright js-open-modal" data-modal=".asb-form-modal">
								<span class="btn__text">{{button_popup}}</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div v-if="form" class="modal js-modal asb-form-modal">
			<button tyle="button" class="modal__close js-close-modal"></button>
			<div class="modal__header">
				<h3 class="modal__title">{{form_title}}</h3>
			</div>
			<kraft-form :form="form">
				<div slot="after" class="form__row form__row--submit">
					<div class="btn-grid">
						<button type="submit" class="btn btn--primary">
							<span class="btn__text">{{button_form}}</span>
						</button>
						<button type="button" class="btn btn--light js-close-modal">
							<span class="btn__text">Отмена</span>
						</button>
					</div>
				</div>
			</kraft-form>
			<div class="form__note">{{form_note}}</div>
		</div>
	</div>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-form-horizontal-popup', {
      template: template,

      kraft: {
        name: 'Форма в поп-ап',
        props: [
          {
            id: 'title',
            type: 'text',
            label: 'Заголовок',
            default: 'Получите консультацию'
          },
          {
            id: 'subtitle',
            type: 'text',
            label: 'Подзаголовок',
            default: 'Бесплатно. Ни к чему не обязывает.'
          },
          {
            id: 'button_form',
            type: 'text',
            label: 'Текст кнопки',
            default: 'Получите консультацию'
          },
          {
            id: 'button_popup',
            type: 'text',
            label: 'Текст кнопки поп-ап',
            default: 'Открыть окно'
          },
          {
            id: 'form',
            type: 'form',
            label: 'Форма'
          },
          {
            id: 'form_title',
            type: 'text',
            label: 'Заголовок формы',
            default: 'Получите консультацию'
          },
          {
            id: 'form_note',
            type: 'text',
            label: 'Подпись под кнопкой',
            default: 'Консультант перезвонит через 15 минут'
          }
        ]
      },

      props: {
        title: {},
        subtitle: {},
        button_form: {},
        button_popup: {},
        form_title: {},
        form_note: {},
        form: {}
      }
    });
  });
</script>
