<template>
	<section class="page-section">
		<div class="page-section-content content-counter" :style="'background-image: '+background"
		     style="background-image: url(asb/images/markup-images/backgrounds/background-6.jpg);">
			<div class="container">
				<h2 class="text-center">{{title}}</h2>
				<h4 class="text-center text-gray">{{subtitle}}</h4>

				<div class="clock-wrap">
					<div class="clock clock--green js-flip-clock" :data-counter-end="timer"></div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-countdown', {
      template: template,

      props: ['title', 'subtitle', 'background', 'timer'],

      kraft: {
        name: 'Таймер',
        props: [
          {
            id: 'title',
            type: 'text',
            label: 'Заголовок',
            default: 'Успейте получить Visa Gold до завершения акции'
          },
          {
            id: 'subtitle',
            type: 'text',
            label: 'Подзаголовок',
            default: 'Более 2000 заявок за 2 месяца'
          },
          {
            id: 'background',
            type: 'background',
            label: 'Фон',
            default: 'url(../asb/images/markup-images/backgrounds/background-6.jpg)'
          },
          {
            id: 'timer',
            type: 'text',
            label: 'Дата оканачания таймера',
            default: '2018-12-31'
          }
        ]
      }
    })
  })
</script>
