<template>
	<section class="page-section">
		<div class="page-section-content content-columns" :style="'background-image:'+background">
			<div class="container">
				<h2 class="text-center" v-text="title"></h2>
				<h4 class="text-center text-gray" v-text="subtitle"></h4>

				<div class="infographics-row row">
					<div v-for="(item, i) in items" :key="i" class="infographics-col col col-lg-3 col-sm-6 col-xs-12">
						<div v-if="item.icon" class="infographics-col__icon-box">
							<img :src="item.icon" :alt="item.title">
						</div>
						<div v-else-if="item.image" class="infographics-col__img-box">
							<span class="infographics-col__visual infographics-col__visual--free" :style="'background-image: '+item.image"></span>
						</div>

						<strong class="infographics-col__title" v-text="item.title"></strong>

						<div class="infographics-col__descr" v-html="item.text"></div>

						<div v-if="item.link" class="infographics-col__btn-row">
							<a :href="item.link" :class="'btn btn--sm'+(btn_outline?' btn--light':'')">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-infographics', {
      template: template,

      props: ['title', 'subtitle', 'background', 'items', 'btn_outline'],

      kraft: {
        name: 'Инфографика',
        props: [
          {
            id: 'title',
            type: 'text',
            label: 'Заголовок',
            default: 'Заголовок'
          },
          {
            id: 'subtitle',
            type: 'text',
            label: 'Подзаголовок',
            default: 'Подзаголовок'
          },
          {
            id: 'background',
            type: 'background',
            label: 'Фон',
            default: 'url(../asb/images/markup-images/backgrounds/background-4.jpg)'
          },
          {
            id: 'btn_outline',
            type: 'checkbox',
            label: 'Обводка кнопок'
          },
          {
            id: 'items',
            type: 'multi',
            label: 'Инфографика',
            fields: [
              {
                id: 'title',
                type: 'text',
                label: 'Заголовок'
              },
              {
                id: 'text',
                type: 'textarea',
                label: 'Описание'
              },
              {
                id: 'link',
                type: 'text',
                label: 'Ссылка'
              },
              {
                id: 'icon',
                type: 'select',
                label: 'Иконка',
                values: [
                  {name: '- нет -', value: ''},
                  {name: 'Процент', value: '../asb/images/markup-images/icons/icon-1.png'},
                  {name: 'Файл', value: '../asb/images/markup-images/icons/icon-2.png'},
                  {name: 'Календарь', value: '../asb/images/markup-images/icons/icon-3.png'},
                  {name: 'Контакт', value: '../asb/images/markup-images/icons/icon-4.png'}
                ]
              },
              {
                id: 'image',
                type: 'background',
                label: 'Изображение',
                config: {
                  start_path: '../asb/images/markup-images/visuals/'
                },
                default: ''
              }
            ]
          }
        ]
      }
    })
  })
</script>