<template>
	<section class="page-section">
		<div class="page-section-content content-text-and-form text-white" :style="{'background-image':background}">
			<div class="container">

				<div class="text-and-form">
					<div class="text-and-form__form">
						<div class="vertical-form vertical-form--bg">
							<h3 class="form-title">{{title_form}}</h3>
							<div class="form-subtitle">{{subtitle_form}}</div>

							<form class="form">
								<div class="form__row">
									<div class="rich-text-input js-rich-text-input">
										<input type="text" class="text-input rich-text-input__input js-rich-text-input__input">
										<label class="rich-text-input__label">Представьтесь</label>
										<div class="rich-text-input__message rich-text-input__message--error">Сообщение об ошибке</div>
									</div>
								</div>
								<div class="form__row">
									<div class="rich-text-input js-rich-text-input">
										<input type="tel" class="text-input rich-text-input__input js-rich-text-input__input js-mask-input"
										       data-inputmask="'mask': '+375 (99) 999-99-99'">
										<label class="rich-text-input__label">Телефон</label>
										<div class="rich-text-input__message rich-text-input__message--error">Сообщение об ошибке</div>
									</div>
								</div>
								<div class="form__row">
									<div class="rich-text-input js-rich-text-input">
										<input type="email" class="text-input rich-text-input__input js-rich-text-input__input">
										<label class="rich-text-input__label">E-mail</label>
										<div class="rich-text-input__message rich-text-input__message--error">Сообщение об ошибке</div>
									</div>
								</div>

								<div class="form__row form__row--submit">
									<button type="submit" class="btn btn--primary btn--block">
										<span class="btn__text">{{button_form}}</span>
									</button>
								</div>
							</form>
						</div>
					</div>

					<div class="text-and-form__text">
						<div class="text-container">
							<h1>{{head_title}}</h1>
							<p v-html="head_text"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-head-form', {
      template: template,

      kraft: {
        name: 'Форма на баннере',
        props: [
          {
            id: 'head_title',
            type: 'text',
            label: 'Заголовок',
            default: 'Кредит наличными сразу в руки'
          },
          {
            id: 'head_text',
            type: 'textarea',
            label: 'Подзаголовок',
            default: 'Без дополнительных пакетов услуг и страховок. Получите ваши деньги сразу в руки. Привилегии зарплатным клиентам.'
          },
          {
            id: 'background',
            type: 'background',
            label: 'Фон',
            default: 'linear-gradient(to right, rgba(1,115,74,.5), rgba(0,0,0,0))'
          },
          {
            id: 'title_form',
            type: 'text',
            label: 'Заголовок формы',
            default: 'Получите консультацию'
          },
          {
            id: 'subtitle_form',
            type: 'text',
            label: 'Подзаголовок формы',
            default: 'Бесплатно. Ни к чему не обязывает.'
          },
          {
            id: 'button_form',
            type: 'text',
            label: 'Текст кнопки',
            default: 'Получите консультацию'
          },
          {
            id: 'form',
            type: 'form',
            label: 'Форма'
          }
        ]
      },

      props: {
        head_title: {},
        head_text: {},
        title_form: {},
        background: {},
        subtitle_form: {},
        button_form: {}
      }
    });
  });
</script>
