<template>
	<section class="page-section">
		<div class="page-section-header page-section-header-standalone page-section-header--green">
			<div class="container">
				<div class="page-section-header__row">
					<div class="page-section-header__cell-logo">
						<a :href="link_logo" target="_blank" class="logo">
							<svg class="svg-icon">
								<use xlink:href="#svg-icon-logo"></use>
							</svg>
						</a>
					</div>
					<div class="page-section-header__cell-aside">
						<a href="tel:147" class="phone-row">
            <span class="phone-row__icon">
              <svg class="svg-icon"><use xlink:href="#svg-icon-phone"></use></svg>
            </span>
							<span class="phone-row__value">{{phone}}</span>
							<span class="phone-row__comment" v-html="comment_phone"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-green-line', {
      template: template,

      kraft: {
        name: 'Зеленая полоса с телефоном',
        props: [
          {
            id: 'link',
            type: 'text',
            label: 'Ссылка на логотипе',
            default: 'https://belarusbank.by/'
          },
          {
            id: 'phone',
            type: 'text',
            label: 'Номер телефона',
            default: '147'
          },
          {
            id: 'comment_phone',
            type: 'textarea',
            label: 'Комментарий к телефону',
            default: 'Контактный <br> телефон'
          }
        ]
      },
      props: {
        link_logo: {},
        phone: {},
        comment_phone: {}
      }
    });
  });
</script>
