<template>
	<footer class="page-footer">
		<div class="container">
			<div class="page-footer__grid">
				<div class="page-footer__col col-lg-4 col-sm-6 col-xs-12">
					<a href="tel:147" class="consult-box">
						<div class="consult-box__label">Консультация по короткому номеру</div>
						<div class="consult-box__number">
								<span class="consult-box__number-icon">
									<svg class="svg-icon"><use xlink:href="#svg-icon-phone"></use></svg>
								</span>
							<span class="consult-box__number-value">147</span>
						</div>
						<div class="consult-box__girl"><img src="../asb/images/markup-images/girls/girl-1.png" alt=""></div>
					</a>
				</div>
				<div v-if="show_social" class="page-footer__col col-lg-5 col-sm-6 col-xs-12">
					<div class="label-and-items">
						<div class="label-and-items__label">Банк в социальных сетях</div>
						<div class="label-and-items__items btn-grid-sm">
							<a href="https://vk.com/asb.belarusbank" class="btn btn--gray-light btn--sq">
								<svg class="svg-icon svg-icon--25">
									<use xlink:href="#svg-icon-soc-vk"></use>
								</svg>
							</a>
							<a href="https://www.facebook.com/asb.belarusbank" class="btn btn--gray-light btn--sq">
								<svg class="svg-icon svg-icon--25">
									<use xlink:href="#svg-icon-soc-facebook"></use>
								</svg>
							</a>
							<a href="https://ok.ru/asb.belarusbank" class="btn btn--gray-light btn--sq">
								<svg class="svg-icon svg-icon--25">
									<use xlink:href="#svg-icon-soc-ok"></use>
								</svg>
							</a>
							<a href="https://twitter.com/asb_belarusbank" class="btn btn--gray-light btn--sq">
								<svg class="svg-icon svg-icon--25">
									<use xlink:href="#svg-icon-soc-twitter"></use>
								</svg>
							</a>
							<a href="https://www.youtube.com/user/asbbelarusbank" class="btn btn--gray-light btn--sq">
								<svg class="svg-icon svg-icon--25">
									<use xlink:href="#svg-icon-soc-youtube"></use>
								</svg>
							</a>
							<a href="https://www.instagram.com/asb.belarusbank/" class="btn btn--gray-light btn--sq">
								<svg class="svg-icon svg-icon--25">
									<use xlink:href="#svg-icon-soc-instagram"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="page-footer__col col-lg-3 col-sm-12">
					<p>© 2018 ОАО «<a class="gray-link link--underlined" href="https://belarusbank.by" target="_blank">АСБ Беларусбанк</a>»</p>
					<p v-text="footnote"></p>
					<p><a class="developer-link" href="https://newsite.by" target="_blank">Дизайн сайта банка</a> — Новый сайт</p>
				</div>
			</div>
		</div>
	</footer>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('asb-footer', {
      template: template,

      props: ['footnote', 'show_social'],

      kraft: {
        name: 'Подвал сайта',
        props: [
          {
            id: 'footnote',
            type: 'text',
            label: 'Информация внизу сайта',
            default: 'Лицензия ЦБ РБ №1 от 24.05.2013'
          },
          {
            id: 'show_social',
            type: 'checkbox',
            label: 'Отображать блок соцсетей',
            default: true
          }
        ]
      }
    })
  })
</script>