<template>
	<form v-if="form" class="form" @submit="onSubmit">
		<slot name="before"></slot>
		<div v-if="kraftForm.fields&&kraftForm.fields.length" v-for="f in kraftForm.fields"
		     :key="f.id" :class="{'form__row': true, 'form-error': f.error}">
			<div v-if="baseType(f.type)==='text'" class="rich-text-input" :class="{active: typeof values[f.code] == 'string' && values[f.code].length}">
				<input v-if="f.type==='text'" v-model="values[f.code]"
				       :name="f.code"
				       :placeholder="f.placeholder||false"
				       type="text" class="text-input rich-text-input__input">

				<input v-if="f.type==='phone'" v-model="values[f.code]"
				       :name="f.code"
				       :placeholder="f.placeholder||false"
				       type="tel" class="text-input rich-text-input__input"
				       v-mask="'phone'">

				<input v-if="f.type==='email'" v-model="values[f.code]"
				       :name="f.code"
				       :placeholder="f.placeholder||false"
				       type="email" class="text-input rich-text-input__input">

				<label class="rich-text-input__label">{{f.label}}</label>

				<div v-if="f.error" class="rich-text-input__message rich-text-input__message--error">{{f.match_label}}</div>
			</div>

			<label v-if="baseType(f.type)==='check'" class="checkbox">
				<input type="checkbox" :name="f.code" :value="f.value" v-model="values[f.code]"
				       class="checkbox__input" autocomplete="off">
				<span class="checkbox__visual"></span>
				<span class="checkbox__text">{{f.label}}</span>
			</label>

			<label v-if="baseType(f.type)==='radio'" class="checkbox">
				<input type="radio" :name="f.code" :value="f.value" v-model="values[f.code]"
				       class="checkbox__input" autocomplete="off">
				<span class="checkbox__visual checkbox__visual--radio"></span>
				<span class="checkbox__text">{{f.label}}</span>
			</label>

			<div v-if="baseType(f.type)==='select'" class="rich-text-input" :class="{active: values[f.code]}">
				<kraft-select :values="f.values" v-model="values[f.code]"></kraft-select>
				<label class="rich-text-input__label">{{f.label}}</label>

				<div v-if="f.error" class="rich-text-input__message rich-text-input__message--error">{{f.match_label}}</div>
			</div>
		</div>
		<slot name="after">
			<div class="form__row form__row--submit">
				<button type="submit" class="btn btn--primary btn--block">
					<span class="btn__text">{{submit_text}}</span>
				</button>
			</div>
		</slot>
		<div v-if="sent" class="form-overlay">
			<div class="form-overlay__text" v-html="success_text"></div>
		</div>
	</form>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('kraft-form', {
      template: template,

      data: function(){
        var state = 0;
        var fields = [];
        var values = {};

        console.info('kraft-form: looking for', this.form);
        if (window.kraftForms && window.kraftForms[this.form]){
          for (var x in window.kraftForms[this.form].fields){
            var f = window.kraftForms[this.form].fields[x];
            f.value = f.value || '';
            f.error = false;
            values[f.code] = null;
            fields.push(f);
          }
          state = 1;
        } else {
          state = -1;
          console.warn('kraft-form: no results');
        }

        return {
          kraftForm: {
            state: state,
            fields: fields
          },
          sent: false,
          values: values
        }
      },

      methods: {
        baseType: function(type){
          switch (type){
            case 'checkbox':
              return 'check';
            case 'radio':
              return 'radio';
            case 'select':
              return 'select';
            case 'text':
            case 'phone':
            case 'email':
            default:
              return 'text';
          }
        },

        onSubmit: function(e){
          e.preventDefault();
          e.stopPropagation();
          if (this.validate()){
            this.send();
          }
          return true;
        },

        validate: function(){
          var valid = true;
          var self = this;
          this.kraftForm.fields.forEach(function(e){
            e.error = false;
            if (e.match){
              if (!self.pass(e.match, self.values[e.code]))
                e.error = true;
            }
            valid &= !e.error;
          });
          return valid;
        },

        pass: function(rule, value){
          console.log(rule, value);
          if (!value)
            return false;
          var v = (value + '').trim();
          switch (rule){
            case 'non_empty':
              return v.length > 0;
            case 'word_lat':
            case 'word_lat_num':
              return /^[a-zA-Z]{1,}/.test(v);
            case 'word_cyr':
              return /^[\u0410-\u042F\u0430-\u044F\u0451\u045E\u0401\u040EiI\s]{1,}/.test(v);
            case 'word_cyr_num':
              return /^[\u0410-\u042F\u0430-\u044F\u0451\u045E\u0401\u040EiI0-9\s]{1,}/.test(v);
            case 'phone_by':
              return /^\+375\d{9}$/.test(v);
            case 'phone':
              return /^\+\d{10,15}$/.test(v);
            case 'email':
              return /(.+)@(.+){2,}\.(.+){2,}/.test(v);
            case 'number':
              return /^\d{1,}$/.test(v);
            case 'date':
              return /^\d{4}-\d{2}-\d{2}$/.test(v);
            default:
              return true;
          }
        },

        send: function(){
          var self = this;
          var data = this.values;
          data.form_id = this.form;
          data.form_href = window.location.href;

          if (window.jQuery){
            window.jQuery.ajax({
              method: 'POST',
              url: self.endpoint,
              data: data
            }).done(function(){
              self.sent = true;
            });
          } else {
            alert('Невозможно отправить форму: no_provider');
          }
        }
      },

      props: {
        form: {
          type: String,
          default: ''
        },
        endpoint: {
          type: String,
          default: '?kraft_api=antrag'
        },
        submit_text: {
          type: String,
          default: 'Отправить'
        },
        success_text: {
          type: String,
          default: 'Форма успешно отправлена'
        }
      }
    });


    Vue.component('kraft-select', {
      template:
      '<div class="rich-text-input__input select select--block" @click="open = !open" :class="{open: open}">' +
      '<select @click.stop="open = false" class="select" v-model="value">' +
      '<option v-for="option in values" :value="option.value">{{option.text || option.value}}</option>' +
      '</select>' +
      '<span class="select-value">{{selectedOption ? selectedOption.text || selectedOption.value : null}}</span>' +
      '<ul class="select-list">' +
      '<li v-for="option in values" @click="$emit(\'input\', option.value)" :class="{active: value == option.value}">{{option.text || option.value}}</li>' +
      '</ul>' +
      '</div>',

      data: function(){
        return {
          open: false
        }
      },

      props: {
        values: {required: true},
        value: {default: null}
      },

      computed: {
        selectedOption: function(){
          for (var i = 0; i < this.values.length; i++){
            if (this.values[i].value === this.value)
              return this.values[i];
          }
          return null;
        }
      }
    });


    Vue.directive('mask', {
      bind: function(element, binding, vnode){
        var presets = {
          phone: {
            mask: "+375 (99) 999-99-99",
            cleanup: function(v){
              return v.replace(/[^\d\+]/g, '');
            },
            clearMaskOnLostFocus: true,
            showMaskOnHover: false
          }
        };
        var el = $(element);

        if (presets[binding.value])
          el.inputmask(presets[binding.value]);
        else if (typeof binding.value === 'object')
          el.inputmask(binding.value);
        else if (binding.value)
          el.inputmask({mask: binding.value, clearMaskOnLostFocus: true, showMaskOnHover: false});
        else
          return;

        el.off('change.vMaskUpdate keyup.vMaskUpdate paste.vMaskUpdate').on('change.vMaskUpdate keyup.vMaskUpdate paste.vMaskUpdate', function(e){
          var value = e.target.value;
          if (this.inputmask.userOptions.cleanup){
            value = this.inputmask.userOptions.cleanup(value);
          }
          vnode.context.$set(vnode.context.values, e.target.name, value);
        })
      }
    });


  })
</script>