<script>
  define(['Vue'], function(){
    Vue.component('kraft-html', {
      template: '<div></div>',

      mounted: function(){
        this.$el.innerHTML = this.$props.value;
      },

      kraft: {
        id: 'kraft-html',
        name: 'Произвольный HTML',
        sort: 15,
        props: [{
          id: 'value',
          type: 'textarea',
          label: 'HTML',
          default: ''
        }]
      },

      props: ['value']
    });
  });
</script>