<div class="modal js-modal">
	<button tyle="button" class="modal__close js-close-modal"></button>
	<div class="modal__header">
		<h3 class="modal__title">Получите консультацию</h3>
	</div>
	<form class="form">
		<div class="form__row">
			<div class="rich-text-input js-rich-text-input">
				<input type="text" class="text-input rich-text-input__input js-rich-text-input__input">
				<label class="rich-text-input__label">Представьтесь</label>
				<div class="rich-text-input__message rich-text-input__message--error">Сообщение об ошибке</div>
			</div>
		</div>
		<div class="form__row form-error">
			<div class="rich-text-input js-rich-text-input">
				<input type="tel" class="text-input rich-text-input__input js-rich-text-input__input js-mask-input" data-inputmask="'mask': '+375 (99) 999-99-99'">
				<label class="rich-text-input__label">Телефон</label>
				<div class="rich-text-input__message rich-text-input__message--error">Сообщение об ошибке</div>
			</div>
		</div>
		<div class="form__row">
			<div class="rich-text-input js-rich-text-input">
				<input type="email" class="text-input rich-text-input__input js-rich-text-input__input">
				<label class="rich-text-input__label">E-mail</label>
				<div class="rich-text-input__message rich-text-input__message--error">Сообщение об ошибке</div>
			</div>
		</div>
		<div class="form__row">
			<label class="checkbox">
				<input type="checkbox" class="checkbox__input" autocomplete="off">
				<span class="checkbox__visual"></span>
				<span class="checkbox__text">Я понимаю и соглашаюсь. (Без дополнительных пакетов услуг и страховок. Получите ваши деньги сразу в руки. Привилегии зарплатным клиентам.)</span>
			</label>
		</div>
		<div class="form__row">
			<label class="checkbox">
				<input type="radio" class="checkbox__input" name="this" autocomplete="off">
				<span class="checkbox__visual checkbox__visual--radio"></span>
				<span class="checkbox__text">Кредит наличными сразу в руки</span>
			</label>
		</div>
		<div class="form__row">
			<label class="checkbox">
				<input type="radio" class="checkbox__input" name="this" autocomplete="off">
				<span class="checkbox__visual checkbox__visual--radio"></span>
				<span class="checkbox__text">Или Visa Gold в подарок до 1 мая?</span>
			</label>
		</div>
		<div class="form__row form__row--submit">
			<div class="btn-grid">
				<button type="submit" class="btn btn--primary">
					<span class="btn__text">Получить консультацию</span>
				</button>
				<button type="button" class="btn btn--light js-close-modal">
					<span class="btn__text">Отмена</span>
				</button>
			</div>
		</div>
	</form>

	<div class="form__note">Консультант перезвонит через 15 минут</div>


</div>