<template>
	<v-flex sm12>
		<v-container fluid>
			<v-btn color="primary" @click="exportResults">Экспорт в CSV</v-btn>
			<v-data-table
				:headers="headers"
				:items="antrag"
				hide-actions
				disable-initial-sort
				class="elevation-2"
			>
				<template slot="items" slot-scope="row">
					<td class="text-xs-right">{{row.item.id}}</td>
					<td class="text-xs-right">{{new Date(row.item.created * 1000).toISOString()}}</td>
					<td v-for="f in form.fields" class="text-xs-right">
						<span>{{row.item.values[f.code] || '-'}}</span>
					</td>
				</template>
			</v-data-table>
		</v-container>
	</v-flex>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('form-antrage', {
      template: template,

      props: ['form'],

      data: function(){
        var headers = [
          {value: 'id', text: 'ID', sortable: false},
          {value: 'created', text: 'Добавлен', sortable: true}
        ];

        _.each(this.form.fields, function(f){
          headers.push({value: f.code, text: f.name, sortable: false});
        });

        return {
          antrag: [],
          headers: headers
        }
      },

      mounted: function(){
        var self = this;
        this.$model.loadAntrage({
          table: this.form.meta.table,
          form_id: this.form.id
        }).then(function(data){
          self.$set(self.$data, 'antrag', data);
        })
      },

      methods: {
        exportResults: function(){
          window.open(this.$model.exportLink({
            type: 'antrage',
            format: 'csv',
            table: this.form.meta.table,
            form_id: this.form.id
          }), '_blank');
        }
      }
    });
  });
</script>