<template>
	<div class="kraft-flexer">
		<werft-toolbar :name="form.name">
			<v-btn icon @click="save()" title="Сохранить">
				<v-icon v-if="state.save_progress===0">save</v-icon>
				<v-progress-circular v-if="state.save_progress>0 && state.save_progress<1"
				                     indeterminate color="green"></v-progress-circular>
				<v-icon v-if="state.save_progress===1" color="success">check_circle</v-icon>
				<v-icon v-if="state.save_progress===-1" color="red">error</v-icon>
			</v-btn>
			<v-spacer></v-spacer>
			<v-btn :flat="state.mode!='self'" color="primary" @click="state.mode='self'">Форма</v-btn>
			<v-btn :flat="state.mode!='fields'" color="primary" @click="state.mode='fields'">Поля формы</v-btn>
			<v-btn :disabled="!form.meta.table" :flat="state.mode!='antrage'" color="primary" @click="state.mode='antrage'">Результаты</v-btn>
		</werft-toolbar>

		<v-container fluid fill-height class="overscroll grey lighten-4">
			<v-layout row wrap v-if="state.mode==='self'">
				<v-flex sm12 md6>
					<v-container fluid>
						<werft-form-row label="Название">
							<v-text-field v-model.lazy="form.name"></v-text-field>
						</werft-form-row>
						<werft-form-row label="Символьный код">
							<v-text-field v-model.lazy="form.code"></v-text-field>
						</werft-form-row>
						<werft-form-row label="Таблица для результатов">
							<v-select
								:items="tables"
								item-text="name"
								item-value="id"
								v-model.lazy="form.meta.table"
							></v-select>
						</werft-form-row>
						<werft-form-row label="Отправлять результаты на E-mail">
							<v-text-field
								v-model.lazy="form.meta.mailto"
								placeholder="pool@example.com, qa@example.com"></v-text-field>
						</werft-form-row>
						<werft-form-row label="Интеграция с Google reCAPTCHA®">
							<v-text-field
								v-model.lazy="form.meta.recaptcha_site"
								label="Site key"
								placeholder="6LfnTEIUAAAAAOJ1sBRp000000NiNon78-zAAAAA"></v-text-field>
							<v-text-field
								v-model.lazy="form.meta.recaptcha_secret"
								label="Secret key"
								placeholder="6LfnTEIUAAAAAHPSv000000-e-vztbXxLW_AAAAA"></v-text-field>
							<p>
								Укажите коды, полученные на сайте
								<a href="https://www.google.com/recaptcha/admin" target="_blank">Google reCAPTCHA</a>
								для данного домена: <code>{{formDomain}}</code>.
								<br>
								Проверка будет выполняться, если к форме добавлено поле с типом "Капча".
							</p>
						</werft-form-row>
					</v-container>
				</v-flex>
				<v-flex sm12 md6>
					<v-container fluid>
						<div class="input-group input-group--dirty input-group--text-field input-group--multi-line primary--text">
							<label>Код для встраивания</label>
							<div class="input-group__input">
								<textarea :value="formExportTag" rows="4" @focus="$event.target.select()"></textarea>
							</div>
							<div class="input-group__details"></div>
						</div>
					</v-container>
				</v-flex>
			</v-layout>

			<v-layout row wrap v-if="state.mode==='fields'">
				<v-flex sm12 md6 class="overscroll">
					<v-container fluid>
						<div style="display: flex">
							<template v-if="!state.rearrange">
								<v-btn dark small color="teal" @click="addField">
									Добавить поле
								</v-btn>
							</template>
							<v-spacer></v-spacer>
							<template>
								<v-btn v-if="!state.rearrange" small @click="rearrangeFields">
									Расставить
								</v-btn>
								<v-btn v-if="state.rearrange" dark small color="blue" @click="rearrangeFields">
									Готово
								</v-btn>
							</template>
						</div>
						<v-layout row wrap mb-4 class="ffield-wrap">
							<v-flex v-for="(field, i) in form.fields" :key="i"
							        :class="{
							        'ffield': true,
							        'jiggle':state.rearrange&&state.fade_field!=i,
							        'fade':state.fade_field==i
							        }"
							        sm3 px-2 my-2>
								<v-card height="100%"
								        :class="field.id===state.active_field?'card--flat teal lighten-5':''"
								        :data-id="field.id" @click.native="activateField">
									<v-card-title>
										<div class="flex sm12">{{field.name}}&nbsp;</div>
										<small class="flex sm12">{{field.code}}</small>
										<span v-if="field.type==='select'" class="blue">список</span>
										<span v-if="field.type==='select_ext'" class="blue darken-4">внешний список</span>
										<span v-if="field.display_cond" class="orange">по условию</span>
										<span v-if="field.type==='system'" class="teal">системное</span>
									</v-card-title>
								</v-card>
								<div v-if="state.rearrange" class="jiggle-icons" :data-i="i">
									<v-icon @click="removeField" class="remove" color="red">remove_circle</v-icon>
									<v-icon @click="moveField" data-step="-1" class="move">chevron_left</v-icon>
									<v-icon @click="moveField" data-step="1" class="move right">chevron_right</v-icon>
								</div>
							</v-flex>
						</v-layout>
					</v-container>
				</v-flex>
				<v-flex sm12 md6 class="overscroll">
					<v-container fluid v-if="activeField">
						<v-select
							:items="fieldTypes"
							v-model="activeField.type"
							label="Тип поля"
							item-text="name"
							item-value="id"
							class="input-group--focused"
						></v-select>
						<v-text-field
							v-model="activeField.name"
							label="Название поля (внутреннее)"
						></v-text-field>
						<v-text-field
							v-model="activeField.label"
							label="Название поля (внешнее)"
						></v-text-field>
						<v-text-field
							v-model="activeField.code"
							label="Символьный код"
						></v-text-field>
						<template v-if="activeFieldType.userinput">
							<v-text-field
								v-if="!activeFieldType.valuedef"
								v-model="activeField.placeholder"
								label="Текст для подстановки"
							></v-text-field>
							<v-text-field
								v-if="activeFieldType.valuedef"
								v-model="activeField.value"
								label="Значение для сохранения"
							></v-text-field>
							<v-select
								v-if="activeFieldType.visuals"
								:items="activeFieldType.visuals"
								v-model="activeField.visual"
								label="Визуальный стиль"
								item-text="name"
								item-value="id"
							></v-select>
							<werft-multi-input
								v-if="activeFieldType.valuemulti"
								v-model="activeField.values"
								:key="activeField.code"
								label="Значения списка"
							></werft-multi-input>
							<v-select
								v-if="activeFieldType.valueexternal"
								:items="externalDirectory"
								v-model="activeField.valueexternal"
								:key="activeField.code"
								label="Источник внешних значений"
							></v-select>
							<v-select
								:items="validatorTypes"
								v-model="activeField.match"
								label="Правило валидации"
								item-text="name"
								item-value="id"
							></v-select>
							<v-text-field
								v-if="activeField.match==='custom'"
								v-model="activeField.match_rule"
								label="Регулярное выражение для валидации"
							></v-text-field>
							<v-text-field
								v-model="activeField.match_label"
								label="Сообщение об ошибке"
							></v-text-field>
							<v-text-field
								v-model="activeField.hint"
								label="Текст подсказки"
								multi-line
								rows="3"
							></v-text-field>
						</template>
						<template v-if="activeFieldType.id!=='system'">
							<v-text-field
								v-if="activeFieldType.id==='custom_html'"
								v-model="activeField.html"
								label="HTML код"
								multi-line
								rows="10"
							></v-text-field>
							<v-text-field
								v-model="activeField.css_class"
								label="Классы css"
							></v-text-field>
							<v-text-field
								v-model="activeField.attrs"
								label="Атрибуты поля"
							></v-text-field>
							<v-text-field
								v-model="activeField.display_cond"
								label="Условие для отображения"
								hint='Например: this.values.name!="" означает "Когда поле с кодом name не равно пустой строке"'
							></v-text-field>
						</template>
						<template v-else>
							<p>Доступные коды:
								<code v-for="code in systemCodes"
								      :title="code.name"
								      :data-code="code.id"
								      @click="placeCode">{{code.id}}</code>
							</p>
						</template>
					</v-container>
				</v-flex>
			</v-layout>

			<v-layout row wrap v-if="state.mode==='antrage'">
				<form-antrage :form="form"></form-antrage>
			</v-layout>
		</v-container>
	</div>
</template>
<script>
  define([
    'Vue',
    'vue!werft/form-row',
    'vue!werft/multi-input',
    'vue!form/antrage'
  ], function(Vue){
    Vue.component('form-base', {
      template: template,

      data: function(){
        return {
          form: {
            name: '',
            meta: {
              css: '',
              table: ''
            },
            fields: []
          },
          state: {
            mode: 'fields',
            save_progress: 0,
            active_field: '',
            rearrange: false,
            fade_field: '-1'
          },
          tables: [],
          externalDirectory: [],
          fieldTypes: [
            {
              id: 'text',
              name: 'Текст',
              userinput: true
            },
            {
              id: 'textarea',
              name: 'Текст (многострочное)',
              userinput: true
            },
            {
              id: 'email',
              name: 'E-mail',
              userinput: true
            },
            {
              id: 'phone',
              name: 'Телефон',
              userinput: true
            },
            {
              id: 'select',
              name: 'Список',
              userinput: true,
              valuemulti: true,
              visuals: [
                {id: '', name: 'Выпадающий список'},
                {id: 'radio', name: 'Выбор одного значения'},
                {id: 'check', name: 'Выбор нескольких'}
              ]
            },
            {
              id: 'checkbox',
              name: 'Чекбокс (check)',
              userinput: true,
              valuedef: true
            },
            {
              id: 'radio',
              name: 'Чекбокс (radio)',
              userinput: true,
              valuedef: true
            },
            {
              id: 'select_ext',
              name: 'Динамический список',
              userinput: true,
              valueexternal: true
            },
            {
              id: 'custom_html',
              name: 'Произвольный HTML'
            },
            {
              id: 'system',
              name: 'Системное (параметр формы)'
            }
          ],
          systemCodes: [
            {id: 'form_success', name: 'Сообщение успеха'},
            {id: 'form_title', name: 'Заголовок формы'},
            {id: 'button_send', name: 'Текст кнопки отправки'},
            {id: 'button_clear', name: 'Текст кнопки очистки'},
            {id: 'captcha', name: 'Капча (проверочный код)'}
          ],
          validatorTypes: [
            {
              id: 'non_empty',
              name: 'Непустое поле'
            },
            {
              id: 'word_lat',
              name: 'Латиница'
            },
            {
              id: 'word_lat_num',
              name: 'Латиница и цифры'
            },
            {
              id: 'word_cyr',
              name: 'Kириллица'
            },
            {
              id: 'word_cyr_num',
              name: 'Kириллица и цифры'
            },
            {
              id: 'email',
              name: 'E-mail адрес'
            },
            {
              id: 'phone_by',
              name: 'Телефон (BY)'
            },
            {
              id: 'phone',
              name: 'Телефон'
            },
            {
              id: 'number',
              name: 'Число'
            },
            {
              id: 'date',
              name: 'Дата'
            },
            {
              id: 'custom',
              name: 'Произвольное регулярное выражение'
            }
          ]
        }
      },

      mounted: function(){
        var self = this;

        self.$model.fetchForms()
          .then(function(forms){
            self.$set(self.$data, 'form', _.find(forms, {id: self.$route.params.id}));
            if (!self.form.name)
              self.form.name = 'Форма без названия';
            if (!self.form.fields)
              self.$set(self.form, 'fields', []);
          })
          .then(self.$model.fetchFormTables)
          .then(function(tables){
            self.tables.splice(0);
            self.tables.push({id: '', name: '- не сохранять -'});
            _.each(tables, function(t){
              self.tables.push({id: t, name: t});
            });
          })
          .then(self.$model.fetchExternalDirectory)
          .then(function(dir){
            self.externalDirectory.splice(0);
            _.each(dir, function(d){
              self.externalDirectory.push(d);
            })
          })
      },

      computed: {
        activeField: function(){
          if (!this.state.active_field)
            return null;
          return _.find(this.form.fields, {id: this.state.active_field});
        },

        activeFieldType: function(){
          var fallback = _.first(this.fieldTypes);
          if (!this.activeField)
            return fallback;
          return _.find(this.fieldTypes, {id: this.activeField.type}) || fallback;
        },

        formExportTag: function(){
          var formProvider = window.location.origin + window.location.pathname.replace(/kraftman\/$/, '');
          return '<script src="'
            + formProvider + 'embed/kraft.js" ' +
            'onload="KraftFormEmbedAsync(this);" data-form-provider="'
            + formProvider + '" data-form-id="'
            + this.form.id + '">' + '<' + '/script>';
        },

        formDomain: function(){
          return window.location.host;
        }
      },

      methods: {
        save: function(){
          var self = this;
          if (self.state.save_progress > 0)
            return;

          if (this.form.meta.table && this.form.meta.table[0] === '-')
            this.form.meta.table = '';

          // strip unused value tags
          _.each(this.form.fields, function(f){
            var type = _.find(self.fieldTypes, {id: f.type});
            if (type){
              if (!type.valuemulti && f.values)
                delete f.values;
              if (!type.valuedef && f.value)
                f.value = '';
            }

            return f;
          });

          self.state.save_progress = 0.1;
          self.$model.updateForm(this.form)
            .then(function(){
              self.state.save_progress = 1;
              _.delay(function(){
                self.state.save_progress = 0;
              }, 1000);
            }, function(){
              self.state.save_progress = -1;
              _.delay(function(){
                self.state.save_progress = 0;
              }, 1000);
            });

        },

        activateField: function(e){
          if (this.state.rearrange)
            return false;
          var id = e.currentTarget.dataset.id;
          if (id === this.state.active_field)
            this.state.active_field = '';
          else
            this.state.active_field = id;
        },

        placeCode: function(e){
          this.activeField.code = e.currentTarget.dataset.code;
        },

        addField: function(){
          this.form.fields.push({
            id: _.uid(),
            code: 'field_' + _.uid(6),
            name: 'Новое поле',
            type: 'text'
          });
        },

        rearrangeFields: function(){
          this.state.active_field = '';
          this.state.rearrange = !this.state.rearrange;
        },

        removeField: function(e){
          var self = this;
          var i = e.currentTarget.parentElement.dataset.i;
          self.state.fade_field = i;
          _.delay(function(){
            self.state.fade_field = -1;
            self.form.fields.splice(i, 1);
          }, 300);
        },

        moveField: function(e){
          var self = this;
          var i = parseInt(e.currentTarget.parentElement.dataset.i);
          var next = i + parseInt(e.currentTarget.dataset.step);
          if (next < 0 || next >= self.form.fields.length)
            return;
          self.form.fields.splice(next, 0, self.form.fields.splice(i, 1)[0]);
        }
      }
    });
  })
</script>