#werft {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.kraft-flexer {
	display: flex;
	flex: 1 1 auto;
	height: 100vh;
	flex-direction: column;
}

.overscroll {
	overflow: scroll;
}

.kraft-toolbar {
	flex: 0 1 auto;
}

#kraft-toolbar {
	flex: 0 1 auto;
	height: 50px;
	background: #fafafa;
}

#kraft-editor {
	background: #eee;
	top: 70px;
	display: flex;
	flex-direction: row;
	flex: 1 10000 auto;
}

#kraft-slides {
	width: 200px;
	max-width: 25vw;
	background: gray;
	overflow: auto;
}

#kraft-workspace {
	display: flex;
	flex: 1 1 auto;
	overflow: hidden;
	flex-direction: column;
}

.kraft-workspace-loading {
	display: flex;
	flex: 1 0 auto;
	overflow: hidden;
	align-items: center;
	align-self: center;
}

#kraft-tuner {
	background: orange;
	width: 300px;
	max-width: 30vw;
	display: none;
	overflow: auto;
	transition: all linear 400ms;
	transform: translateX(300px);
}

#kraft-tuner.open {
	display: flex;
	transform: translateX(0);
	box-shadow: 0px 0 6px 0px #7a5000;
}

#kraft-viewbox {
	border: none;
	box-sizing: content-box;
	background-position: 0 0;
	background-size: 100% 100%;
}

#kraft-viewport {
	background: white;
	display: flex;
	flex: 1 1 auto;
	position: relative;
	overflow: scroll;
	margin: 0;
}

#kraft-viewport-tuner {
	display: flex;
	flex: 0 1 auto;
	height: 70px;
	padding: 10px;
}

/* viewboxes */
.viewbox {
	overflow: hidden;
	transition: all 0.5s ease;
	width: 100%;
	height: 100%
}

.viewbox-zoom {
	position: absolute;
	perspective: 1000px;
	transform-origin: center top;
	transition: all 0.5s ease;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.macbook .viewbox {
	width: 1440px;
	height: 900px;
	background-image: url('../img/wireframe-macbook.svg');
	padding: 300px;
}

.macbook .viewbox-zoom {
	transform: scale(0.5);
}

.iphone .viewbox {
	/*border: 40px solid #ddd;
	border-width: 55px 7px;
	border-radius: 40px;
	margin: 50px auto;*/
	width: 375px;
	height: 667px;
	padding: 150px;
	background-image: url('../img/wireframe-iphone.svg');
}

.iphone .viewbox-zoom {
	transform: scale(0.7);
	perspective: 1000px;
}

.ipad .viewbox-zoom {
	transform: scale(0.4);
	perspective: 3000px;
	top: 50px;
}

.ipad .viewbox {
	width: 1536px;
	height: 2048px;
	background-image: url('../img/wireframe-ipad.svg');
	padding: 235px 195px;
}

.ipad.view_1 .viewbox,
.iphone.view_1 .viewbox {
	transform: rotateX(50deg) rotateY(0deg) rotateZ(-50deg);
	/*box-shadow: -3px 3px 0 #BBB, -6px 6px 0 #BBB, -9px 9px 0 #BBB, -12px 12px 0 #BBB, -14px 10px 20px #666;*/
}

.ipad.view_2 .viewbox,
.iphone.view_2 .viewbox {
	transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
	/*box-shadow: 5px 1px 0 #BBB, 9px 2px 0 #BBB, 12px 3px 0 #BBB, 15px 4px 0 #BBB, 0 7px 20px #999;*/
}

.ipad.view_3 .viewbox,
.iphone.view_3 .viewbox {
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	/*box-shadow: 0px 3px 0 #BBB, 0px 4px 0 #BBB, 0px 5px 0 #BBB, 0px 7px 0 #BBB, 0px 10px 20px #666;*/
}

#kraft-view {
	border: 0;
	width: 100%;
	height: 100%;
}

@media (min-device-width: 1800px) {
	#kraft-slides {
		width: 300px;
	}

	#kraft-tuner {
		width: 500px;
	}
}

.gutter {
	background-color: #b1a9a9;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-vertical {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=')
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

/* <editor-fold desc="Glitch animation"> */
.glitch {
	position: relative;
	animation: glitch 2s steps(100) infinite;
}

@keyframes glitch {
	0% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	1% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	2% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	3% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	4% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	5% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	6% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	7% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	8% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	9% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	10% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	11% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	12% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	13% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	14% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	15% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	16% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	17% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	18% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	19% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	20% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	21% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	22% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	23% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	24% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	25% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	26% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	27% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	28% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	29% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	30% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	31% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	32% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	33% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	34% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	35% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	36% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	37% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	38% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	39% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	40% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	41% {
		text-shadow: 50px 0 0 blue, -50px 0 0 lime
	}

	42% {
		text-shadow: 0 0 0 blue, 0 0 0 lime
	}

	43% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	44% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	45% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	46% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	47% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	48% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	49% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	50% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	51% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	52% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	53% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	54% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	55% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	56% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	57% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	58% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	59% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	60% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	61% {
		text-shadow: 30px 0 0 red, -30px 0 0 lime
	}

	62% {
		text-shadow: 0 0 0 red, 0 0 0 lime
	}

	63% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue
	}

	64% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue
	}

	65% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue
	}

	66% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue
	}

	67% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	68% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	69% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	70% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	71% {
		text-shadow: 70px 0 0 red, -70px 0 0 blue
	}

	72% {
		text-shadow: 0 0 0 red, 0 0 0 blue
	}

	73% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	74% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	75% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	76% {
		text-shadow: 1px 0 0 red, -1px 0 0 blue
	}

	77% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	78% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	79% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	80% {
		text-shadow: -1px 0 0 red, 1px 0 0 blue
	}

	81% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	82% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	83% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	84% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	85% {
		text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime
	}

	86% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	87% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	88% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	89% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	90% {
		text-shadow: -1px 0 0 red, 1px 0 0 lime
	}

	91% {
		text-shadow: 60px 0 0 lime, -60px 0 0 blue
	}

	92% {
		text-shadow: 0 0 0 lime, 0 0 0 blue
	}

	92% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	93% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	94% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	95% {
		text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime
	}

	96% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	97% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	98% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	99% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}

	100% {
		text-shadow: -1px 0 0 blue, 1px 0 0 lime
	}
}

/* </editor-fold> */

pre {
	font-size: 10px;
	overflow: scroll;
}

#kraft-tuner .expansion-panel__header {
	background-color: #ffe0b2;
}

.route-auth .overlay--active {
	background-image: linear-gradient(to right, #00943f, #54ffc1);
}

.asb--bg.toolbar {
	background: linear-gradient(to right, #5fbe5f, #00b494);
	color: white;
}

.flexy {
	display: flex;
	flex-direction: column;
}

.kraft-grid .card__title .headline {
	overflow: hidden;
	max-height: 64px;
}

.kraft-grid .card__title {
	display: block;
	height: 100px;
}

.jiggle {
	animation: 300ms infinite jiggle;
	transform-origin: 30% 30%;
	position: relative;
}

.jiggle-icons {
	display: none;
}

.jiggle .jiggle-icons {
	display: block;
}

.jiggle .icon.remove {
	position: absolute;
	right: -5px;
	top: -13px;
	font-size: 30px;
	cursor: pointer;
}

.jiggle .icon.move {
	position: absolute;
	top: -18px;
	left: 10px;
	font-size: 35px;
	cursor: pointer;
}

.jiggle .icon.move.right {
	left: 50px;
}

.ffield-wrap {
	flex-wrap: wrap;
	display: flex;
}

.ffield {
	cursor: pointer;
	transition: all linear 500ms;
}

.ffield.fade {
	transform: scale(0.5);
	opacity: 0.1
}

.ffield .card {
	height: 100%;
}

.ffield .card__title {
	overflow: hidden;
}

.ffield .card__title span {
	font-size: 80%;
	color: white;
	padding: 2px 10px;
	line-height: 10px;
}

@keyframes jiggle {
	0% {
		transform: rotate(-1deg);
	}
	50% {
		transform: rotate(1.5deg);
	}
	100% {
		transform: rotate(-1deg);
	}
}