<template>
	<v-layout>
		<v-dialog :value="true" persistent max-width="400">
			<v-card>
				<v-card-title class="headline">Авторизация</v-card-title>
				<v-alert :value="message.length" v-text="message"
				         color="error" transition="scale-transition"></v-alert>
				<v-card-text>
					<v-text-field
						type="email"
						label="E-mail"
						v-model="user.login"
					></v-text-field>
					<v-text-field
						type="password"
						label="Пароль"
						v-model="user.password"
						@keyup.enter="auth"
					></v-text-field>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="green darken-1" flat @click="auth">Войти</v-btn>
					<v-spacer></v-spacer>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-layout>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('werft-auth', {
      template: template,

      data: function(){
        return {
          message: '',
          user: {
            login: '',
            password: ''
          }
        }
      },

      methods: {
        auth: function(){
          var self = this;
          self.message = '';
          this.$state.checkAuth(this.user).then(function(){
            self.$router.replace({name: 'dashboard'});
          }, function(){
            self.message = 'Ошибка входа: неверные данные';
          })
        }
      }
    })
  })
</script>