<template>
	<v-layout row>
		<v-flex xs4>
			<v-subheader>{{label}}</v-subheader>
		</v-flex>
		<v-flex xs8>
			<slot></slot>
		</v-flex>
	</v-layout>
</template>
<script>
  define(['Vue'], function(){
    Vue.component('werft-form-row', {
      template: template,

      props: ['label']
    })
  });
</script>