<template>
	<div class="input-group">
		<label>{{label}}</label>
		<v-container>
			<v-layout row wrap v-for="(v, i) in values" :key="i">
				<v-flex xs4>
					<v-text-field
						v-model="v.value"
						label="Значение"
					></v-text-field>
				</v-flex>
				<v-flex xs8>
					<v-text-field
						v-model="v.text"
						label="Описание"
					></v-text-field>
				</v-flex>
			</v-layout>
			<v-divider></v-divider>
			<v-layout>
				<v-spacer></v-spacer>
				<v-btn flat small class="teal--text" @click="addValue">Добавить</v-btn>
				<v-btn flat small class="red--text" @click="cleanUp">Удалить пустые</v-btn>
			</v-layout>
		</v-container>
	</div>
</template>
<script>
  define(['Vue'], function(){
    Vue.component('werft-multi-input', {
      template: template,

      props: ['value', 'label'],

      data: function(){
        var values = [];
        if (typeof this.value === 'string'){
          try {
            values = JSON.parse(this.value);
          } catch (e) {
            values = [];
          }
        } else if (typeof this.value === 'object' && typeof this.value.push === 'function'){
          values = this.value;
        }
        return {
          values: values
        }
      },

      methods: {
        addValue: function(){
          this.values.push({
            value: 'new',
            text: 'Новое значение'
          });
          this.emit();
        },

        cleanUp: function(){
          this.values = _.unique(
            _.filter(this.values, function(e){
              return e.value && e.text && e.value.length && e.text.length;
            }),
            false,
            function(v){
              return v.value + ';' + v.text;
            });
          this.emit();
        },

        emit: function(){
          this.$emit('input', this.values);
        }
      }

    })
  });
</script>