<template>
	<v-layout class="kraft-toolbar" row child-flex wrap>
		<v-flex xs12 sm6>
			<v-toolbar dense dark class="asb--bg">
				<v-btn icon :to="{name:'dashboard'}" title="Назад к списку">
					<v-icon>featured_play_list</v-icon>
				</v-btn>
				<v-spacer></v-spacer>
				<v-toolbar-title @click="easter=!easter">
					<span :class="{'glitch':easter}" v-text="name"></span>
				</v-toolbar-title>
				<v-spacer></v-spacer>
			</v-toolbar>
		</v-flex>
		<v-flex xs12 sm6 v-if="this.$slots.default">
			<v-toolbar dense light>
				<slot name="default"></slot>
			</v-toolbar>
		</v-flex>
	</v-layout>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('werft-toolbar', {
      template: template,

      props: ['name'],

      data: function(){
        return {
          easter: false
        }
      }
    })
  })
</script>