<template>
	<v-dialog
		v-model="value.show"
		fullscreen
		transition="dialog-bottom-transition"
		:overlay=false
		scrollable>
		<v-card>
			<v-toolbar dense style="flex: 0 0 auto;" dark class="primary asb--bg">
				<v-btn icon @click.native="value.show=false" dark>
					<v-icon>close</v-icon>
				</v-btn>
				<v-toolbar-title>Настройки лендинга</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items>
					<v-btn dark flat @click.native="save();value.show=false">
						<v-icon left>save</v-icon>
						Сохранить
					</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<v-card-text>
				<v-container fluid>
					<v-layout row>
						<v-flex xs4>
							<v-subheader>Название</v-subheader>
						</v-flex>
						<v-flex xs8>
							<v-text-field v-model.lazy="creature.name"></v-text-field>
						</v-flex>
					</v-layout>
					<v-layout row>
						<v-flex xs4>
							<v-subheader>Тип лендинга</v-subheader>
						</v-flex>
						<v-flex xs8>
							<v-text-field disabled :value="creature.ziegel"></v-text-field>
						</v-flex>
					</v-layout>
					<v-divider></v-divider>
					<v-layout row>
						<v-flex xs4>
							<v-subheader>Заголовок страницы</v-subheader>
						</v-flex>
						<v-flex xs8>
							<v-text-field v-model.lazy="creature.htmlTitle"></v-text-field>
						</v-flex>
					</v-layout>
					<v-layout row>
						<v-flex xs4>
							<v-subheader>META-теги</v-subheader>
						</v-flex>
						<v-flex xs8>
							<v-text-field multi-line rows="5" v-model.lazy="creature.htmlMeta"></v-text-field>
						</v-flex>
					</v-layout>
					<v-layout row>
						<v-flex xs4>
							<v-subheader>Коды счетчиков</v-subheader>
							<p>Используйте для вставки JavaScript кодов и элементов, инициализирующихся один раз.</p>
						</v-flex>
						<v-flex xs8>
							<v-text-field multi-line rows="5" v-model.lazy="creature.htmlBody"></v-text-field>
						</v-flex>
					</v-layout>
				</v-container>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('kraft-creature-settings', {
      props: {
        value: {}
      },

      template: template,

      data: function(){
        return {
          creature: this.$model.creature
        }
      },

      methods: {
        save: function(){
          this.$emit('save');
        }
      }
    });
  });
</script>