<template>
	<div>
		<template v-for="prop in props">
			<v-layout row v-if="prop.type==='text'">
				<v-text-field
					:label="prop.label"
					v-model="value[prop.id]"
					@change="changed"
				></v-text-field>
			</v-layout>
			<v-layout row v-if="prop.type==='textarea'">
				<v-text-field
					:label="prop.label"
					multi-line
					rows="2"
					v-model="value[prop.id]"
					@change="changed"
				></v-text-field>
			</v-layout>
			<v-layout row v-if="prop.type==='checkbox'">
				<v-checkbox :label="prop.label" v-model="value[prop.id]" @change="changed"></v-checkbox>
			</v-layout>
			<v-layout row v-if="prop.type==='select'">
				<v-select
					:items="prop.values"
					v-model="value[prop.id]"
					:label="prop.label"
					item-text="name"
					item-value="value"
					class="input-group--focused"
					@change="changed"
				></v-select>
			</v-layout>
			<v-layout row v-if="prop.type==='background'">
				<v-text-field
					:label="prop.label"
					v-model="value[prop.id]"
					@change="changed"
				></v-text-field>
			</v-layout>
		</template>
	</div>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('kraft-slide-prop-control', {
      template: template,

      props: ['props', 'value'],

      methods: {
        changed: function(){
          this.$emit('change');
        }
      }
    });
  });
</script>