<template>
	<div style="width: 100%">
		<v-card v-if="slide">
			<v-toolbar color="primary" dark>
				<v-toolbar-title>{{slide.title}}</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn icon>
					<v-icon>more_vert</v-icon>
				</v-btn>
			</v-toolbar>
			<v-card-text>
				<v-select
					:items="ziegelTypes"
					v-model="slide.type"
					label="Тип этажа"
					item-text="name"
					item-value="id"
					class="input-group--focused"
				></v-select>
				<v-text-field
					v-model="slide.title"
					label="Название этажа"
				></v-text-field>
				<v-text-field
					v-model="slide.code"
					label="Символьный код"
				></v-text-field>

				<v-expansion-panel v-if="ziegel">
					<v-expansion-panel-content
						v-if="ziegel.props && ziegel.props.length"
						ripple>
						<div slot="header">Поля этажа</div>
						<kraft-slide-prop-control
							class="mx-2 my-2"
							:props="ziegel.props"
							v-model="slide.props"
						></kraft-slide-prop-control>
					</v-expansion-panel-content>
					<v-expansion-panel-content v-for="multi in multiplies" :key="multi.id">
						<div slot="header" v-text="multi.label+' ('+slide.props[multi.id].length+')'"></div>
						<v-btn icon @click="multiAdd(multi)" title="Добавить значение">
							<v-icon>add</v-icon>
						</v-btn>
						<v-card class="mx-2 my-2 px-2 py-2"
						        style="border: 1px solid rgba(0,0,0,0.12)"
						        :key="i"
						        v-for="(v, i) in slide.props[multi.id]">
							<kraft-slide-prop-control
								:props="multi.fields"
								v-model="slide.props[multi.id][i]"
							></kraft-slide-prop-control>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn icon @click="multiMove(multi, i, -1)" title="Переместить выше">
									<v-icon>arrow_drop_up</v-icon>
								</v-btn>
								<v-btn icon @click="multiMove(multi, i, 1)" title="Переместить ниже">
									<v-icon>arrow_drop_down</v-icon>
								</v-btn>
								<v-btn icon class="red--text" @click="multiRemove(multi, i)" title="Удалить значение">
									<v-icon>remove_circle_outline</v-icon>
								</v-btn>
							</v-card-actions>
						</v-card>

					</v-expansion-panel-content>
					<v-expansion-panel-content v-for="form in slideForms" :key="form.id">
						<div slot="header">{{form.label}}</div>
						<div class="mx-2 my-2">
							<v-select
								:items="forms"
								v-model="slide.props[form.id]"
								label="Выбор формы"
								item-text="name"
								item-value="id"
								class="input-group--focused"
							></v-select>
						</div>
					</v-expansion-panel-content>
				</v-expansion-panel>
			</v-card-text>
		</v-card>
	</div>
</template>
<script>
  define(['Vue', 'vue!kraft/slide-prop-control'], function(Vue){
    Vue.component('kraft-slide-tuner', {
      template: template,

      props: {
        tuner: {}
      },

      watch: {
        ziegel: {
          handler: function(newValue){
            var self = this;

            if (!newValue || !self.slide)
              return;

            // ensure required fields
            if (newValue && newValue.props.length){
              _.each(newValue.props, function(e){
                var def = self.slide.props[e.id];
                if (!def && e.type === 'multi'){
                  def = [];
                }
                self.$set(self.slide.props, e.id, def || e.default || '');
              });
            } else {
              // remove on blank component
              self.slide.props = {};
            }
          }
        }
      },

      computed: {
        slide: function(){
          return _.find(this.$model.slides, {id: this.tuner.activeSlide});
        },

        ziegel: function(){
          if (!this.slide || !this.slide.type)
            return null;
          return _.find(this.ziegelTypes, {id: this.slide.type});
        },

        slideForms: function(){
          return _.filter(this.ziegel.props, {type: 'form'});
        },

        multiplies: function(){
          return _.filter(this.ziegel.props, {type: 'multi'});
        }
      },

      data: function(){
        return {
          ziegelTypes: this.$model.ziegelTypes,
          forms: this.$model.forms
        }
      },

      methods: {
        multiAdd: function(prop){
          var newValue = {};
          _.each(prop.fields, function(v){
            newValue[v.id] = v.default || '';
          });
          this.slide.props[prop.id].push(newValue);
        },

        multiMove: function(prop, index, direction){
          var to = index + direction;
          if (to < 0)
            to = 0;
          if (to >= this.slide.props[prop.id].length)
            to = this.slide.props[prop.id].length - 1;
          this.slide.props[prop.id].splice(to, 0, this.slide.props[prop.id].splice(index, 1)[0]);
        },

        multiRemove: function(prop, index){
          this.slide.props[prop.id].splice(index, 1);
        }
      }
    })
  });
</script>