<template>
	<v-container grid-list-md>
		<v-layout row wrap>
			<v-flex v-for="slide in slides" :key="slide.id" xs12>
				<v-card>
					<v-card-title style="min-height:100px">
						<div class="headline" style="width: 100%;">{{slide.title}}</div><br/>
						<div>{{typeName(slide)}}</div>
					</v-card-title>
					<v-card-actions :class="slideActive==slide?'orange lighten-3':'white'">
						<v-spacer></v-spacer>
						<v-btn icon @click="activate(slide)">
							<v-icon>edit</v-icon>
						</v-btn>
						<v-menu>
							<v-btn icon slot="activator">
								<v-icon>more_vert</v-icon>
							</v-btn>
							<v-list>
								<v-list-tile @click="move(slide, -1)">
									<v-list-tile-title>
										<v-icon>arrow_drop_up</v-icon>
										Выше
									</v-list-tile-title>
								</v-list-tile>
								<v-list-tile @click="move(slide, 1)">
									<v-list-tile-title>
										<v-icon>arrow_drop_down</v-icon>
										Ниже
									</v-list-tile-title>
								</v-list-tile>
								<v-list-tile @click="duplicate(slide)">
									<v-list-tile-title class="blue--text">
										<v-icon>content_copy</v-icon>
										Дублировать
									</v-list-tile-title>
								</v-list-tile>
								<v-list-tile @click="remove(slide)">
									<v-list-tile-title class="red--text">
										<v-icon>remove_circle_outline</v-icon>
										Удалить
									</v-list-tile-title>
								</v-list-tile>
							</v-list>
						</v-menu>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
		<v-btn color="red" dark fab fixed bottom left title="Добавить этаж" @click="addSlide">
			<v-icon>add</v-icon>
		</v-btn>
	</v-container>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('kraft-slides', {
      template: template,

      props: ['parent'],

      data: function(){
        return {
          slides: this.$model.slides,
          activeSlide: this.parent.tuner.activeSlide
        }
      },

      computed: {
        slideActive: function(){
          return _.find(this.slides, {id: this.activeSlide});
        }
      },

      methods: {
        addSlide: function(){
          this.$model.addSlide();
        },

        activate: function(slide){
          if (slide.id !== this.activeSlide){
            this.activeSlide = slide.id;
          } else {
            // double click = reset
            this.activeSlide = '';
          }
          this.parent.$emit('slide.active', {id: this.activeSlide});
        },

        duplicate: function(slide){
          var clone = JSON.parse(JSON.stringify(slide));
          clone.id = _.uid();
          this.slides.splice(this.slides.indexOf(slide) + 1, 0, clone);
          this.$model.sync({slides: this.slides});
        },

        move: function(slide, direction){
          var i = this.slides.indexOf(slide);
          var to = i + direction;
          if (to < 0)
            to = 0;
          if (to >= this.slides.length)
            to = this.slides.length - 1;
          this.slides.splice(to, 0, this.slides.splice(i, 1)[0]);
        },

        remove: function(slide){
          this.slides.splice(this.slides.indexOf(slide), 1);
          this.$model.sync({slides: this.slides});
        },

        typeName: function(slide){
          var t = _.find(this.$model.ziegelTypes, {id: slide.type});
          return t ? t.name : '';
        }
      }
    })
  });
</script>