<template>
	<v-layout row>
		<v-flex xs12>
			<v-btn-toggle mandatory v-model="device" @change="onChange">
				<v-btn v-for="d in devices" flat :value="d.id" :key="d.id">
					<span>{{d.name}}</span>
				</v-btn>
			</v-btn-toggle>
			|
			<v-btn-toggle mandatory v-model="viewport" @change="onChange">
				<v-btn v-for="d in viewports" flat :value="d.id" :key="d.id">
					<span>{{d.name}}</span>
				</v-btn>
			</v-btn-toggle>
			|
			<v-btn-toggle mandatory v-model="scale" @change="onChange">
				<v-btn v-for="d in scales" flat :value="d.id" :key="d.id">
					<span>{{d.name}}</span>
				</v-btn>
			</v-btn-toggle>
		</v-flex>
	</v-layout>
</template>
<script>
  define(['Vue'], function(Vue){
    Vue.component('kraft-viewframe-tuner', {
      template: template,
      data: function(){
        return {
          device: '',
          viewport: '',
          scale: '',
          devices: [
            {id: '', name: 'Free'},
            {id: 'macbook', name: 'MacBook'},
            {id: 'iphone', name: 'iPhone'},
            {id: 'ipad', name: 'iPad'}
          ],
          viewports: [
            {id: 'view_3', name: 'Front'},
            {id: 'view_1', name: 'Lay'},
            {id: 'view_2', name: 'Side'}
          ],
          scales: [
            {id: '', name: 'Fit'},
            {id: '25', name: '25%'},
            {id: '50', name: '50%'},
            {id: '75', name: '75%'},
            {id: '100', name: '100%'}
          ]
        }
      },
      methods: {
        onChange: function(){
          this.$emit('change', {
            device: this.device,
            viewport: this.viewport,
            scale: +this.scale
          })
        }
      }
    })
  });
</script>